<div class="form-group">
    <i class="{{ unit.icon }}" style="font-size:50px;"></i>
    <button class="btn btn-default" ng-click="togglePopup('#iconForm', false)"><i class="fa fa-pointer"></i> Select Icon</button>
    <div id="iconForm" class="popup" data-model="icon">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="flaticon-pointer"></i> Select Icon<span class="x pull-right" ng-click="togglePopup('#iconForm', false)">&times;</span></h3>
            </div>
            <div class="panel-body">
                <i ng-if="unit.gender == 'f'" ng-class="{ selected : unit.icon == 'flaticon-face-f-' + index }" ng-repeat="index in range(1, settings.flaticon_face_f_max)" class="flaticon-face-f-{{ index }} inline-block pointer" style="font-size:50px;" ng-click="assignIcon('flaticon-face-f-' + index)"></i>
                <i ng-if="unit.gender == 'm'" ng-class="{ selected : unit.icon == 'flaticon-face-m-' + index }" ng-repeat="index in range(1, settings.flaticon_face_m_max)" class="flaticon-face-m-{{ index }} inline-block pointer" style="font-size:50px;" ng-click="assignIcon('flaticon-face-m-' + index)"></i>
                <input ng-model="unit.icon" type="hidden">
            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#iconForm', false)">Close</button>
            </div><!-- panel-footer -->
        </div><!-- panel -->
    </div><!-- iconForm -->
</div>
