<link rel="stylesheet" href="/css/poker.css">
<img ng-show="loading" src="/img/loading.gif">
<div ng-show="!loading" id="game">
	<h1 class="pull-left"><i class="flaticon-poker5"></i> Strip Poker</h1>
	<button class="pull-right btn btn-default" ng-click="togglePopup('#optionsPopup')">
		<i class="fa fa-gear"></i>
	</button>
	<div class="clear"></div>
	<div ng-show="game.noAnte">
		<div class="alert alert-danger">
			<span ng-if="user.money < game.ante && user.spouse.money > game.ante">You</span>
			<span ng-if="user.money < game.ante && user.spouse.money < game.ante">You and {{ user.spouse.first_name }}</span>
			<span ng-if="user.money > game.ante && user.spouse.money < game.ante">{{ user.spouse.first_name }}</span>
			can't afford the ante required to play. You can either reset the {{ site.money_name_plural }} or gain {{ site.money_name_plural }} elsewhere in {{ site.company_name }}.
		</div>
		<button class='btn btn-default popClose resetMoney margin-top-2' id="resetMoney" ng-click="resetMoney()">Reset {{ site.money_name_plural }}</button>
	</div><!-- topHeaders -->
	<div ng-show="game.phase == 0 && !game.noAnte" class="margin-top-2">
		<div class="panel panel-primary inline-block">
			<div class="panel-heading">
				<h2 class="panel-title"><i class="flaticon-info-circle"></i> How to Play</h2>
			</div>
			<div class="panel-body">
				<ol>
					<li>Both of you put on {{ game.articlesPerGame }} articles of clothing.</li>
					<li>Log in on two different devices.</li>
					<li>The game will then automatically start.</li>
				</ol>
			</div>
		</div>
	</div>
	<div id="gameContent" ng-show="game.phase > 0 && !game.noAnte">
		<div id="clear2" class="clear"></div>
		<div id="load" class="display-none"></div>
		<div id="clear3" class="clear"></div>
		<div id="clear4" class="clear" class="display-none"></div>
		<div id="loadSpouseHand" class="display-none"></div>
		<div id="spouseHand" class="hand">
			<div ng-repeat="card in cards" class="cardContainer">
				<div class="card">
					<figure class="back"></figure>
				</div><!-- card -->
			</div><!-- cardContainer -->
		</div><!-- spouseHand -->
		<br>
		<div id="userHandContainer">
			<div ng-show="game.phase > 0" class="input-group pot" style="max-width: 100px;">
				<div class="input-group-addon">Pot:</div>
				<div id="pot">${{ game.pot }}</div>
			</div>
			<nav id="options" class="pull-right btn-group">
				<button autocomplete="off" disabled ng-click="discard()" id="discard" class="btn btn-default">Discard</button>
				<button autocomplete="off" disabled ng-click="fold()" id="fold" class="btn btn-default">Fold</button>
				<button autocomplete="off" disabled ng-click="stay()" id="stay" class="btn btn-default">Stay</button>
				<button autocomplete="off" disabled ng-click="raise()" id="raise" class="btn btn-default">Raise</button>
				<button autocomplete="off" disabled ng-click="call()" id="call" class="btn btn-default">Call</button>
			</nav>
			<div class="clear"></div>
			<div id="userHand" class="hand"></div>
		</div><!-- userHandContainer -->
	</div><!-- gameContent -->
</div><!-- game -->
<!-- popups -->
<div class="popup" id="optionsPopup">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">Options</h2>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item btn-default cursor-pointer" ng-click="newGame()">New Game</li>
				<li class="list-group-item btn-default cursor-pointer" ng-click="resetMoney()">Reset Money</li>
			</ul>
		</div>
	</div>
</div>
<div class="popup" id="raisePopup">
	<div class="panel panel-primary align-center" style="max-width: 200px;">
		<div class="panel-body">
			<h2 class="margin-top-0">Raise ${{ game.raiseTotal }}</h2>
			<div ng-show="game[player + 'strip'] > 0" class="alert alert-warning">
				+ {{ game[player + 'strip'] }} article<span ng-if="game[player + 'strip'] > 1">s</span> of clothing
			</div>
			<table class="width-auto" style="margin: 0 auto;">
				<tr ng-repeat="amount in amounts">
					<th>${{ amount.amount }}</th>
					<td>
						&nbsp;&nbsp;
						<div class="btn-group">
							<button class="btn btn-default" ng-disabled="!amount.raise" ng-click="raiseAmountButton(amount.amount)">+</button>
							<button class="btn btn-default" ng-disabled="!amount.lower" ng-click="raiseAmountButton(-amount.amount)">-</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="panel-footer align-center">
			<button class="btn btn-default" ng-click="confirmRaise()">OK</button>
		</div>
	</div>
</div>
