<div class="form-group" data-model="narration">
    <label><i class="fa fa-book"></i> Narration</label>
    <ul class="list-group" ng-if="unit.narrations.length > 0">
        <li ng-repeat="narration in unit.narrations" class="list-group-item">
            <span ng-click="edit(narration)" class="link">{{ narration.body_short }}</span>
            <i class="link flaticon-x pull-right" ng-click="delete(narration)"></i>
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="createNarration(unit.id)"><i class="flaticon-plus"></i> Add Narration</button>
    <img ng-if="loading_narration" src="/img/loading.gif">
    <div id="narrationForm" class="popup" data-model="narration">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book"></i> Edit Narration<span class="x pull-right" ng-click="togglePopup('#narrationForm')">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Content</label>
                    <textarea ng-model="unit.body" class="form-control" ng-blur="update('body')"></textarea>
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#narrationForm')">Close</button>
            </div><!-- panel-footer -->
        </div><!-- panel -->
    </div><!-- narrationForm -->
</div><!-- form-group -->
