<style>hr, footer { display: none; }</style>
<h1>Conversation Starters</h1>
<img ng-show="loading" src="/img/loading.gif">
<div ng-show="!loading">
	<div class="col-xl-3 col-lg-4 col-md-8 col-sm-8 col-xs-12 align-center">
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">
					<i class="flaticon-comment"></i>
					Question
				</h2>
			</div>
			<div class="panel-body">
				<div ng-show="!loadingQuestion">
					<p class="{{ askerGender }} border-radius padding-2">
						<span ng-show="user.gender == askerGender">{{ user.first_name }} asks:</span>
						<span ng-show="user.spouse.gender == askerGender">{{ user.spouse.first_name }} asks:</span>
					</p>
					<p>{{ question.description }}</p>
					<br>
				</div>
				<img src="/img/loading.gif" ng-show="loadingQuestion">
			</div>
			<div class="panel-footer">
				<button
					ng-click="getQuestion()"
					ng-disabled="loadingQuestion"
					class="btn btn-primary"
				><i class="fa fa-refresh"></i> Generate</button>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<div class="form-group">
			<label>Asker</label>
			<select
				ng-model="asker"
				ng-change="getQuestion()"
				class="form-control"
				ng-disabled="loadingQuestion"
			>
				<option value="{{ user.gender }}">{{ user.first_name }}</option>
				<option value="{{ user.spouse.gender }}">{{ user.spouse.first_name }}</option>
				<option value="alternate">Alternate</option>
				<option value="random">Random</option>
			</select>
		</div>
		<!-- <div class="form-group">
			<label>Rating</label>
			<select
				class="form-control"
				ng-model="rating"
				ng-change="getQuestion()"
				ng-disabled="loadingQuestion"
				ng-options="rating.name for rating in ratings track by rating.id"
			></select>
		</div> -->
		<div class="form-group">
			<label>Category</label>
			<select
				class="form-control"
				ng-model="category"
				ng-change="getQuestion()"
				ng-disabled="loadingQuestion"
			>
				<option value="">All Categories</option>
				<option
					ng-repeat="category in categories"
					value="{{ category.id }}"
				>{{ category.name }}</option>
			</select>
		</div>
	</div>
</div>
