<style>hr, footer { display: none; }</style>
<h1 class="pull-left">{{ category.name }}</h1>
<img ng-show="loading" src="/img/loading.gif">
<div class="!loading">
    <div class="page">
        <div class="clear"></div>
        <br>
        <select
            ng-model="category.id"
            ng-change="clearSearch(); getData()"
            ng-options="category.id as category.name for category in categories"
            class="form-control width-auto pull-left margin-right-2 margin-bottom-2"
        ></select>
        <div class="input-group pull-left">
            <input class="form-control ng-pristine ng-valid" placeholder="Search" name="new_tag" ng-model="search" onkeypress="return disableEnterKey(event)" type="text">
            <span class="input-group-btn no-width">
                <button class="btn btn-default" type="button">
                    <i class="flaticon-search"></i>
                </button>
            </span>
        </div>
        <div class="clear"></div>
        <br>
        <div ng-repeat="post in posts | filter: search | orderBy: '-created_at'">
            <div class="panel padding-7">
                <h2 class="pull-left margin-bottom-1 margin-top-0">
                    <a href="/#/posts/show/{{ post.id }}">{{ post.title }}</a>
                </h2>
                <div class="stars pull-right" style="width: {{ post.stars_width }}px"></div>
                <div class="clear"></div>
                <p>
                    <a href="/#/posts/show/{{ post.id }}">
                        <img
                            ng-show="post.image"
                            class="img-sm pull-left"
                            src="{{ site.host_url }}/wp-content/uploads/{{ post.image }}"
                        >
                    </a>
                    <div ng-bind-html="post.body | cut:true:140"></div>
                </p>
                <div class="clear"></div>
                <a class="btn btn-primary margin-top-1" href="/#/posts/show/{{ post.id }}">Vew Article</a>
            </div>
        </div>
    </div>
</div>
