<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-idea"></i> Ideas</h2>
    </div>
    <div class="panel-body align-center">
        <img ng-show="loadingPosts" src="/img/loading.gif">
        <div ng-show="!loadingPosts" ng-repeat="category in categories">
            <!-- <div class="label label-default">{{ category.name }}</div> -->
            <h3 class="margin-bottom-1 margin-top-0">
                <a href="/#/posts/show/{{ category.post.id }}">{{ category.post.title }}</a>
            </h3>
            <p>
                <a href="/#/posts/show/{{ category.post.id }}">
                    <img
                        ng-show="category.post.image"
                        class="img-sm pull-left"
                        src="{{ site.host_url }}/wp-content/uploads/{{ category.post.image }}"
                    >
                </a>
                <div ng-bind-html="category.post.body | cut:true:140"></div>
            </p>
            <div class="clear"></div>
            <a class="btn btn-primary margin-top-1" href="/#/posts/show/{{ category.post.id }}">Vew Article</a>
            <br>
            <br>
        </div>
    </div>
</div>
