<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <h1 class="margin-0 pull-left">
        {{ post.title }}
    </h1>
    <!-- <div class="stars pull-right" style="width: {{ post.stars_width }}px"></div> -->
    <div class="clear"></div>
    <p><em>By the {{ site.company_name }} Team</em></p>
    <a
        class="margin-right-1"
        href="/#/posts/{{ category.id }}"
        ng-repeat="category in post.categories"
    >{{ category.name }}</a>
    <br>
    <br>
    <p>
        <div ng-bind-html="post.body"></div>
    </p>
    <div class="clear"></div>
</article>
