<style>hr, footer { display: none; }</style>
<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <div ng-show="!question">
        <button
            class="btn btn-default"
            ng-click="getQuestion()"
        >
            <i class="fa fa-plus"></i>
            Writing Prompt
        </button>
        <img ng-show="loadingQuestion" src="/img/loading.gif">
    </div>
    <div ng-show="question">
        <div class="alert alert-success">{{ question.description }}</div>
        <button
            class="btn btn-default"
            ng-click="getQuestion()"
        >
            <i class="fa fa-refresh"></i>
            New Prompt
        </button>
        <img ng-show="loadingQuestion" src="/img/loading.gif">
    </div>
    <br>
    <br>
    <h2 class="margin-top-0">{{ entry.formatted_date }}</h2>
    <div class="form-group">
        <input
            type="text"
            class="form-control"
            ng-model="entry.title"
            placeholder="Title (optional)"
            ng-blur="patch('title', entry)"
        >
    </div>
    <div class="form-group">
        <textarea
            rows="15"
            class="form-control"
            ng-model="entry.body"
            ng-blur="patch('body', entry)"
        ></textarea>
    </div>
</article>
