<h1 class="pull-left">Our Romantic Diary</h1>
<img ng-show="loading" src="/img/loading.gif">
<div class="!loading">
    <div class="page">
        <div class="clear"></div>
        <br>
        <a
            class="btn btn-primary pull-left margin-right-2"
            ng-click="createEntry()"
        >
            <i class="fa fa-plus"></i> New Entry
        </a>
        <div class="input-group pull-left">
            <input class="form-control ng-pristine ng-valid" placeholder="Search" name="new_tag" ng-model="search.$" onkeypress="return disableEnterKey(event)" type="text">
            <span class="input-group-btn no-width">
                <button class="btn btn-default" type="button">
                    <i class="flaticon-search"></i>
                </button>
            </span>
        </div>
        <div class="clear"></div>
        <br>
        <div ng-repeat="entry in entries | filter:search | orderBy: '-created_at'">
            <div class="panel padding-7">
                <a href="/#/conversation/entries/{{ entry.id }}">
                    <div ng-show="entry.title">
                        <h2 class="margin-0">
                            {{ entry.title }}
                        </h2>
                        <p class="margin-top-0">{{ entry.formatted_date }}</p>
                    </div>
                    <h2
                        ng-show="!entry.title"
                        class="margin-top-0"
                    >{{ entry.formatted_date }}</h2>
                </a>
                <p>{{ entry.body | cut:true:140 }}</p>
                <a class="btn btn-primary margin-top-1" href="/#/conversation/entries/{{ entry.id }}">Vew Entry</a>
            </div>
        </div>
    </div>
</div>
