<style>hr, footer { display: none; }</style>
<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <div class="pull-left">
        <div ng-show="entry.title">
            <h1 class="margin-0">
                {{ entry.title }}
            </h1>
            <h3 class="margin-top-0">{{ entry.formatted_date }}</h3>
        </div>
        <h1 ng-show="!entry.title">{{ entry.formatted_date }}</h1>
    </div>
    <a
        class="btn btn-default pull-right align-center inline-block"
        href="/#/conversation/entries/edit/{{ entry.id }}"
    >
        <i class="flaticon-pencil"></i>
    </a>
    <a
        class="btn btn-default pull-right margin-right-2 align-center inline-block"
        ng-click="delete()"
    >
        <i class="flaticon-trash"></i>
    </a>
    <div class="clear"></div>
    {{ entry.body }}
</article>
