<div class="panel panel-primary">
    <div ng-if="recent.post !== undefined">
        <div class="panel-heading">
            <h2 class="panel-title">Latest Article</h2>
        </div>
        <div class="panel-body">
            <h3 class="no-top no-bottom">{{ recent_post.title }}</h3>
            <small>{{ recent_post.date }}</small>
            {{ recent_post.content }}
        </div>
        <div class="panel-footer overflow-hidden">
            <a class="btn btn-primary pull-right" href="/posts/{{ recent_post.url }}">Read More</a>
            <a class="btn btn-primary pull-right margin-right-1" href="/posts">All Announcements</a>&nbsp;&nbsp;
        </div>
    </div>
    <div ng-if="recent.post == undefined">
        (No articles yet)
    </div>
</div><!-- panel -->
