<div class="form-group">
    <label>Triggers</label>
    <ul class="list-group" ng-class="{ 'margin-top-0' : unit.effects.length == 0 }">
        <li ng-repeat="trigger in unit.triggers" class="list-group-item">
            <i ng-click="delete(trigger)" class="fa fa-times pull-right x"></i>
            <span class="link" ng-click="edit(trigger)" ng-bind-html="trigger.name"></span>
        </li>
    </ul>
    <button ng-click="createTrigger()" class="btn btn-default"><i class="flaticon-plus"></i> Add Trigger</button>
    <img ng-if="loading_trigger" src="/img/loading.gif">
    <div id="triggerForm" data-model="trigger" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading overflow-hidden">
                <h3 class="panel-title">
                    <i class="flaticon-tiles"></i>
                    Edit Trigger
                    <i class="x pull-right flaticon-x" ng-click="togglePopup('#triggerForm')"></i>
                </h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>If this {{ grandparent.model }} is</label>
                    <select ng-model="unit.type" class="form-control" ng-blur="update('type')">
                        <option value="act">Acted upon by a unit that is</option>
                        <option value="proximity">Within a proximity that is</option>
                        <option value="verb">Acted upon by a verb that is</option>
                    </select>
                </div>

                <div class="form-group">
                    <select type="text" ng-model="unit.operator_1" class="form-control" ng-blur="update('operator_1')">
                        <option value="==">=</option>
                        <option value="!=">&ne;</option>
                        <option ng-if="unit.type == 'proximity'"><=</option>
                        <option ng-if="unit.type == 'proximity'">>=</option>
                        <option ng-if="unit.type == 'proximity'"><</option>
                        <option ng-if="unit.type == 'proximity'">></option>
                    </select>
                </div>

                <div ng-if="unit.type == 'proximity'" class="form-group">
                    <label>To</label>
                    <div class="input-group">
                        <input ng-model="unit.distance" type="text" class="form-control" ng-blur="update('distance')">
                        <span class="input-group-addon">space<span ng-if="unit.distance > 1">s</span></span>
                    </div>
                </div>

                <div ng-if="unit.type == 'verb'" class="form-group">
                    <select ng-model="unit.verb" class="form-control" ng-blur="update('verb')">
                        <option ng-repeat="verb in game.verbs">{{ verb.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label ng-if="unit.type == 'verb' || unit.type == 'proximity'">From</label>
                    <select ng-model="unit.scope" class="form-control" ng-blur="update('scope')">
                        <option value="all">Any unit</option>
                        <option value="any">Any ...</option>
                        <option value="specific">A specific ...</option>
                        <option value="current">The current ...</option>
                    </select>
                </div>

                <div ng-if="unit.scope !== 'all'" class="form-group">
                    <select ng-model="unit.subject_type" class="form-control" ng-blur="update('subject_type')">
                        <option value="character">Character</option>
                        <option value="object">Object</option>
                        <option value="player">Player</option>
                    </select>
                </div>

                <div ng-if="unit.scope == 'specific'" class="form-group">
                    <label>With an ID that is</label>
                    <table class="full-width">
                        <tr>
                            <td style="width:50%; padding-right:.5em">
                                <select type="text" ng-model="unit.operator_2" class="form-control" ng-blur="update('operator_2')">
                                    <option value="==">=</option>
                                    <option value="!=">&ne;</option>
                                </select>
                            </td>
                            <td style="width:50%; padding-left:.5em;">
                                <input type="text" ng-model="unit.subject_id" class="form-control" ng-blur="update('subject_id')">
                            </td>
                        </tr>
                    </table>
                </div>

                <hr>

                <div ng-if="unit.type == 'act'" class="form-group">
                    <label>Action Type</label>
                    <select ng-model="unit.act_type" class="form-control" ng-blur="update('act_type')">
                        <option value="">Normal</option>
                        <option value="give">Receive {{ unit.subject_type }}</option>
                        <option value="destroy">Destroy {{ unit.subject_type }}</option>
                    </select>
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#triggerForm')">Close</button>
            </div><!-- panel-footer -->
        </div><!-- panel -->
    </div><!-- popup -->
</div>
