    /*
    Flaticon icon font: Flaticon
    Creation date: 18/11/2016 17:06
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-back:before { content: "\f100"; }
.flaticon-balloons:before { content: "\f101"; }
.flaticon-bell:before { content: "\f102"; }
.flaticon-spa:before { content: "\f103"; }
.flaticon-bills:before { content: "\f104"; }
.flaticon-book:before { content: "\f105"; }
.flaticon-cake:before { content: "\f106"; }
.flaticon-calendar:before { content: "\f107"; }
.flaticon-camera:before { content: "\f108"; }
.flaticon-cap:before { content: "\f109"; }
.flaticon-cards:before { content: "\f10a"; }
.flaticon-check:before { content: "\f10b"; }
.flaticon-clcok:before { content: "\f10c"; }
.flaticon-cog:before { content: "\f10d"; }
.flaticon-comment:before { content: "\f10e"; }
.flaticon-conversation:before { content: "\f10f"; }
.flaticon-couple:before { content: "\f110"; }
.flaticon-crown:before { content: "\f111"; }
.flaticon-cabaret:before { content: "\f112"; }
.flaticon-dashboard:before { content: "\f113"; }
.flaticon-date:before { content: "\f114"; }
.flaticon-date-time:before { content: "\f115"; }
.flaticon-dessert:before { content: "\f116"; }
.flaticon-die:before { content: "\f117"; }
.flaticon-dinner:before { content: "\f118"; }
.flaticon-download:before { content: "\f119"; }
.flaticon-draggable:before { content: "\f11a"; }
.flaticon-drama:before { content: "\f11b"; }
.flaticon-dress:before { content: "\f11c"; }
.flaticon-edit:before { content: "\f11d"; }
.flaticon-envelope:before { content: "\f11e"; }
.flaticon-envelope-heart:before { content: "\f11f"; }
.flaticon-express-love:before { content: "\f120"; }
.flaticon-eye-female:before { content: "\f121"; }
.flaticon-face-f-04:before { content: "\f122"; }
.flaticon-face-f-1:before { content: "\f123"; }
.flaticon-face-f-10:before { content: "\f124"; }
.flaticon-face-f-11:before { content: "\f125"; }
.flaticon-face-f-12:before { content: "\f126"; }
.flaticon-face-f-13:before { content: "\f127"; }
.flaticon-face-f-14:before { content: "\f128"; }
.flaticon-face-f-2:before { content: "\f129"; }
.flaticon-face-f-3:before { content: "\f12a"; }
.flaticon-face-f-5:before { content: "\f12b"; }
.flaticon-face-f-6:before { content: "\f12c"; }
.flaticon-face-f-7:before { content: "\f12d"; }
.flaticon-face-f-8:before { content: "\f12e"; }
.flaticon-face-f-9:before { content: "\f12f"; }
.flaticon-face-m-1:before { content: "\f130"; }
.flaticon-face-m-10:before { content: "\f131"; }
.flaticon-face-m-10-1:before { content: "\f132"; }
.flaticon-face-m-11:before { content: "\f133"; }
.flaticon-face-m-11-1:before { content: "\f134"; }
.flaticon-face-m-12:before { content: "\f135"; }
.flaticon-face-m-12-1:before { content: "\f136"; }
.flaticon-face-m-13:before { content: "\f137"; }
.flaticon-face-m-14:before { content: "\f138"; }
.flaticon-face-m-15:before { content: "\f139"; }
.flaticon-face-m-16:before { content: "\f13a"; }
.flaticon-face-m-16-1:before { content: "\f13b"; }
.flaticon-face-m-17:before { content: "\f13c"; }
.flaticon-face-m-17-1:before { content: "\f13d"; }
.flaticon-face-m-18:before { content: "\f13e"; }
.flaticon-face-m-18-1:before { content: "\f13f"; }
.flaticon-face-m-19:before { content: "\f140"; }
.flaticon-face-m-2:before { content: "\f141"; }
.flaticon-face-m-20:before { content: "\f142"; }
.flaticon-face-m-21:before { content: "\f143"; }
.flaticon-face-m-22:before { content: "\f144"; }
.flaticon-face-m-23:before { content: "\f145"; }
.flaticon-face-m-24:before { content: "\f146"; }
.flaticon-face-m-25:before { content: "\f147"; }
.flaticon-face-m-26:before { content: "\f148"; }
.flaticon-face-m-27:before { content: "\f149"; }
.flaticon-face-m-28:before { content: "\f14a"; }
.flaticon-face-m-29:before { content: "\f14b"; }
.flaticon-face-m-3:before { content: "\f14c"; }
.flaticon-face-m-3-1:before { content: "\f14d"; }
.flaticon-face-m-30:before { content: "\f14e"; }
.flaticon-face-m-33:before { content: "\f14f"; }
.flaticon-face-m-34:before { content: "\f150"; }
.flaticon-face-m-35:before { content: "\f151"; }
.flaticon-face-m-36:before { content: "\f152"; }
.flaticon-face-m-37:before { content: "\f153"; }
.flaticon-face-m-38:before { content: "\f154"; }
.flaticon-face-m-38-1:before { content: "\f155"; }
.flaticon-face-m-39:before { content: "\f156"; }
.flaticon-face-m-39-1:before { content: "\f157"; }
.flaticon-face-m-4:before { content: "\f158"; }
.flaticon-face-m-40:before { content: "\f159"; }
.flaticon-face-m-41:before { content: "\f15a"; }
.flaticon-face-m-42:before { content: "\f15b"; }
.flaticon-face-m-43:before { content: "\f15c"; }
.flaticon-face-m-5:before { content: "\f15d"; }
.flaticon-face-m-5-1:before { content: "\f15e"; }
.flaticon-face-m-6:before { content: "\f15f"; }
.flaticon-face-m-6-1:before { content: "\f160"; }
.flaticon-face-m-7:before { content: "\f161"; }
.flaticon-face-m-8:before { content: "\f162"; }
.flaticon-face-m-8-1:before { content: "\f163"; }
.flaticon-face-m-9:before { content: "\f164"; }
.flaticon-face-m-9-1:before { content: "\f165"; }
.flaticon-face-m-9-2:before { content: "\f166"; }
.flaticon-face-m04:before { content: "\f167"; }
.flaticon-facebook:before { content: "\f168"; }
.flaticon-fame-m-2:before { content: "\f169"; }
.flaticon-feather:before { content: "\f16a"; }
.flaticon-f:before { content: "\f16b"; }
.flaticon-flex:before { content: "\f16c"; }
.flaticon-flower:before { content: "\f16d"; }
.flaticon-forward:before { content: "\f16e"; }
.flaticon-gender:before { content: "\f16f"; }
.flaticon-gift:before { content: "\f170"; }
.flaticon-google:before { content: "\f171"; }
.flaticon-grade:before { content: "\f172"; }
.flaticon-hand:before { content: "\f173"; }
.flaticon-heart:before { content: "\f174"; }
.flaticon-heart-arrow:before { content: "\f175"; }
.flaticon-heart-hands:before { content: "\f176"; }
.flaticon-hearts:before { content: "\f177"; }
.flaticon-hearts-1:before { content: "\f178"; }
.flaticon-help:before { content: "\f179"; }
.flaticon-high-heel:before { content: "\f17a"; }
.flaticon-home:before { content: "\f17b"; }
.flaticon-home-heart:before { content: "\f17c"; }
.flaticon-idea:before { content: "\f17d"; }
.flaticon-in-love:before { content: "\f17e"; }
.flaticon-info:before { content: "\f17f"; }
.flaticon-key:before { content: "\f180"; }
.flaticon-key-lock:before { content: "\f181"; }
.flaticon-lick:before { content: "\f182"; }
.flaticon-hotel:before { content: "\f183"; }
.flaticon-lip-stick:before { content: "\f184"; }
.flaticon-loading:before { content: "\f185"; }
.flaticon-locked:before { content: "\f186"; }
.flaticon-locket:before { content: "\f187"; }
.flaticon-logic:before { content: "\f188"; }
.flaticon-love-letter:before { content: "\f189"; }
.flaticon-magnify-heart:before { content: "\f18a"; }
.flaticon-m:before { content: "\f18b"; }
.flaticon-map-marker:before { content: "\f18c"; }
.flaticon-marriage:before { content: "\f18d"; }
.flaticon-mask:before { content: "\f18e"; }
.flaticon-menu:before { content: "\f18f"; }
.flaticon-money-bag:before { content: "\f190"; }
.flaticon-mug:before { content: "\f191"; }
.flaticon-sound-booth:before { content: "\f192"; }
.flaticon-club:before { content: "\f193"; }
.flaticon-pencil:before { content: "\f194"; }
.flaticon-piggyback:before { content: "\f195"; }
.flaticon-pinterest:before { content: "\f196"; }
.flaticon-play:before { content: "\f197"; }
.flaticon-plus:before { content: "\f198"; }
.flaticon-post:before { content: "\f199"; }
.flaticon-proposal:before { content: "\f19a"; }
.flaticon-reply:before { content: "\f19b"; }
.flaticon-report:before { content: "\f19c"; }
.flaticon-ring:before { content: "\f19d"; }
.flaticon-search:before { content: "\f19e"; }
.flaticon-sex:before { content: "\f19f"; }
.flaticon-share11:before { content: "\f1a0"; }
.flaticon-smartphone11:before { content: "\f1a1"; }
.flaticon-sort-asc:before { content: "\f1a2"; }
.flaticon-sort-desc:before { content: "\f1a3"; }
.flaticon-square:before { content: "\f1a4"; }
.flaticon-stats:before { content: "\f1a5"; }
.flaticon-stethoscope:before { content: "\f1a6"; }
.flaticon-swing:before { content: "\f1a7"; }
.flaticon-thermometer:before { content: "\f1a8"; }
.flaticon-thong:before { content: "\f1a9"; }
.flaticon-tiles:before { content: "\f1aa"; }
.flaticon-timer:before { content: "\f1ab"; }
.flaticon-toast:before { content: "\f1ac"; }
.flaticon-touch:before { content: "\f1ad"; }
.flaticon-trash:before { content: "\f1ae"; }
.flaticon-twitter:before { content: "\f1af"; }
.flaticon-upload:before { content: "\f1b0"; }
.flaticon-user:before { content: "\f1b1"; }
.flaticon-users:before { content: "\f1b2"; }
.flaticon-verification:before { content: "\f1b3"; }
.flaticon-video:before { content: "\f1b4"; }
.flaticon-wine:before { content: "\f1b5"; }
.flaticon-x:before { content: "\f1b6"; }

    $font-Flaticon-back: "\f100";
    $font-Flaticon-balloons: "\f101";
    $font-Flaticon-bell: "\f102";
    $font-Flaticon-bikini: "\f103";
    $font-Flaticon-bills: "\f104";
    $font-Flaticon-book: "\f105";
    $font-Flaticon-cake: "\f106";
    $font-Flaticon-calendar: "\f107";
    $font-Flaticon-camera: "\f108";
    $font-Flaticon-cap: "\f109";
    $font-Flaticon-cards: "\f10a";
    $font-Flaticon-check: "\f10b";
    $font-Flaticon-clcok: "\f10c";
    $font-Flaticon-cog: "\f10d";
    $font-Flaticon-comment: "\f10e";
    $font-Flaticon-conversation: "\f10f";
    $font-Flaticon-couple: "\f110";
    $font-Flaticon-crown: "\f111";
    $font-flaticon-cabaret: "\f112";
    $font-Flaticon-dashboard: "\f113";
    $font-Flaticon-date: "\f114";
    $font-Flaticon-date-time: "\f115";
    $font-Flaticon-dessert: "\f116";
    $font-Flaticon-die: "\f117";
    $font-Flaticon-dinner: "\f118";
    $font-Flaticon-download: "\f119";
    $font-Flaticon-draggable: "\f11a";
    $font-Flaticon-drama: "\f11b";
    $font-Flaticon-dress: "\f11c";
    $font-Flaticon-edit: "\f11d";
    $font-Flaticon-envelope: "\f11e";
    $font-Flaticon-envelope-heart: "\f11f";
    $font-Flaticon-express-love: "\f120";
    $font-Flaticon-eye-female: "\f121";
    $font-Flaticon-face-f-04: "\f122";
    $font-Flaticon-face-f-1: "\f123";
    $font-Flaticon-face-f-10: "\f124";
    $font-Flaticon-face-f-11: "\f125";
    $font-Flaticon-face-f-12: "\f126";
    $font-Flaticon-face-f-13: "\f127";
    $font-Flaticon-face-f-14: "\f128";
    $font-Flaticon-face-f-2: "\f129";
    $font-Flaticon-face-f-3: "\f12a";
    $font-Flaticon-face-f-5: "\f12b";
    $font-Flaticon-face-f-6: "\f12c";
    $font-Flaticon-face-f-7: "\f12d";
    $font-Flaticon-face-f-8: "\f12e";
    $font-Flaticon-face-f-9: "\f12f";
    $font-Flaticon-face-m-1: "\f130";
    $font-Flaticon-face-m-10: "\f131";
    $font-Flaticon-face-m-10-1: "\f132";
    $font-Flaticon-face-m-11: "\f133";
    $font-Flaticon-face-m-11-1: "\f134";
    $font-Flaticon-face-m-12: "\f135";
    $font-Flaticon-face-m-12-1: "\f136";
    $font-Flaticon-face-m-13: "\f137";
    $font-Flaticon-face-m-14: "\f138";
    $font-Flaticon-face-m-15: "\f139";
    $font-Flaticon-face-m-16: "\f13a";
    $font-Flaticon-face-m-16-1: "\f13b";
    $font-Flaticon-face-m-17: "\f13c";
    $font-Flaticon-face-m-17-1: "\f13d";
    $font-Flaticon-face-m-18: "\f13e";
    $font-Flaticon-face-m-18-1: "\f13f";
    $font-Flaticon-face-m-19: "\f140";
    $font-Flaticon-face-m-2: "\f141";
    $font-Flaticon-face-m-20: "\f142";
    $font-Flaticon-face-m-21: "\f143";
    $font-Flaticon-face-m-22: "\f144";
    $font-Flaticon-face-m-23: "\f145";
    $font-Flaticon-face-m-24: "\f146";
    $font-Flaticon-face-m-25: "\f147";
    $font-Flaticon-face-m-26: "\f148";
    $font-Flaticon-face-m-27: "\f149";
    $font-Flaticon-face-m-28: "\f14a";
    $font-Flaticon-face-m-29: "\f14b";
    $font-Flaticon-face-m-3: "\f14c";
    $font-Flaticon-face-m-3-1: "\f14d";
    $font-Flaticon-face-m-30: "\f14e";
    $font-Flaticon-face-m-33: "\f14f";
    $font-Flaticon-face-m-34: "\f150";
    $font-Flaticon-face-m-35: "\f151";
    $font-Flaticon-face-m-36: "\f152";
    $font-Flaticon-face-m-37: "\f153";
    $font-Flaticon-face-m-38: "\f154";
    $font-Flaticon-face-m-38-1: "\f155";
    $font-Flaticon-face-m-39: "\f156";
    $font-Flaticon-face-m-39-1: "\f157";
    $font-Flaticon-face-m-4: "\f158";
    $font-Flaticon-face-m-40: "\f159";
    $font-Flaticon-face-m-41: "\f15a";
    $font-Flaticon-face-m-42: "\f15b";
    $font-Flaticon-face-m-43: "\f15c";
    $font-Flaticon-face-m-5: "\f15d";
    $font-Flaticon-face-m-5-1: "\f15e";
    $font-Flaticon-face-m-6: "\f15f";
    $font-Flaticon-face-m-6-1: "\f160";
    $font-Flaticon-face-m-7: "\f161";
    $font-Flaticon-face-m-8: "\f162";
    $font-Flaticon-face-m-8-1: "\f163";
    $font-Flaticon-face-m-9: "\f164";
    $font-Flaticon-face-m-9-1: "\f165";
    $font-Flaticon-face-m-9-2: "\f166";
    $font-Flaticon-face-m04: "\f167";
    $font-Flaticon-facebook: "\f168";
    $font-Flaticon-fame-m-2: "\f169";
    $font-Flaticon-feather: "\f16a";
    $font-Flaticon-f: "\f16b";
    $font-Flaticon-flex: "\f16c";
    $font-Flaticon-flower: "\f16d";
    $font-Flaticon-forward: "\f16e";
    $font-Flaticon-gender: "\f16f";
    $font-Flaticon-gift: "\f170";
    $font-Flaticon-google: "\f171";
    $font-Flaticon-grade: "\f172";
    $font-Flaticon-hand: "\f173";
    $font-Flaticon-heart: "\f174";
    $font-Flaticon-heart-arrow: "\f175";
    $font-Flaticon-heart-hands: "\f176";
    $font-Flaticon-hearts: "\f177";
    $font-Flaticon-hearts-1: "\f178";
    $font-Flaticon-help: "\f179";
    $font-Flaticon-high-heel: "\f17a";
    $font-Flaticon-home: "\f17b";
    $font-Flaticon-home-heart: "\f17c";
    $font-Flaticon-idea: "\f17d";
    $font-Flaticon-in-love: "\f17e";
    $font-Flaticon-info: "\f17f";
    $font-Flaticon-key: "\f180";
    $font-Flaticon-key-lock: "\f181";
    $font-Flaticon-lick: "\f182";
    $font-Flaticon-lips: "\f183";
    $font-Flaticon-lipstick: "\f184";
    $font-Flaticon-loading: "\f185";
    $font-Flaticon-locked: "\f186";
    $font-Flaticon-locket: "\f187";
    $font-Flaticon-logic: "\f188";
    $font-Flaticon-love-letter: "\f189";
    $font-Flaticon-magnify-heart: "\f18a";
    $font-Flaticon-m: "\f18b";
    $font-Flaticon-map-marker: "\f18c";
    $font-Flaticon-marriage: "\f18d";
    $font-Flaticon-mask: "\f18e";
    $font-Flaticon-menu: "\f18f";
    $font-Flaticon-money-bag: "\f190";
    $font-Flaticon-mug: "\f191";
    $font-Flaticon-sound-booth: "\f192";
    $font-Flaticon-sound-booth-1: "\f193";
    $font-Flaticon-pencil: "\f194";
    $font-Flaticon-piggyback: "\f195";
    $font-Flaticon-pinterest: "\f196";
    $font-Flaticon-play: "\f197";
    $font-Flaticon-plus: "\f198";
    $font-Flaticon-post: "\f199";
    $font-Flaticon-proposal: "\f19a";
    $font-Flaticon-reply: "\f19b";
    $font-Flaticon-report: "\f19c";
    $font-Flaticon-ring: "\f19d";
    $font-Flaticon-search: "\f19e";
    $font-Flaticon-sex: "\f19f";
    $font-Flaticon-share11: "\f1a0";
    $font-Flaticon-smartphone11: "\f1a1";
    $font-Flaticon-sort-asc: "\f1a2";
    $font-Flaticon-sort-desc: "\f1a3";
    $font-Flaticon-square: "\f1a4";
    $font-Flaticon-stats: "\f1a5";
    $font-Flaticon-stethoscope: "\f1a6";
    $font-Flaticon-swing: "\f1a7";
    $font-Flaticon-thermometer: "\f1a8";
    $font-Flaticon-thong: "\f1a9";
    $font-Flaticon-tiles: "\f1aa";
    $font-Flaticon-timer: "\f1ab";
    $font-Flaticon-toast: "\f1ac";
    $font-Flaticon-touch: "\f1ad";
    $font-Flaticon-trash: "\f1ae";
    $font-Flaticon-twitter: "\f1af";
    $font-Flaticon-upload: "\f1b0";
    $font-Flaticon-user: "\f1b1";
    $font-Flaticon-users: "\f1b2";
    $font-Flaticon-verification: "\f1b3";
    $font-Flaticon-video: "\f1b4";
    $font-Flaticon-wine: "\f1b5";
    $font-Flaticon-x: "\f1b6";
