<link rel="stylesheet" href="css/lovers-lane.css">
<img ng-show="!loaded" src="/img/loading.gif">
<div id="game" ng-class="{ 'almost-hidden': !loaded }">
	<div id="board" cellspacing="1" style="width: {{ game.spaceSize * 5 }}px">
		<div
			ng-repeat="space in game.spaces"
			class="space {{ space.classes }} {{ space.owner }}"
			id="space-{{ $index }}"
		>
			<div class="label">{{ space.name }}</div>
			<i ng-show="space.hasOwnProperty('icon')" class="space-icon flaticon-{{ space.icon }}"></i>
			<!-- <div ng-show="space.type == 'lot' && !space.hasOwnProperty('property')" class="cost">${{ space.price }}</div> -->
			<div ng-show="space.property" class="panel">
				<i class="flaticon-{{ space.property.category }}"></i> {{ space.property.category }}
			</div>
		</div>
		<div colspan="3" rowspan="3" id="centerContentContainer">
			<div id="centerContent">
				<div class="turn" ng-class="game.turn">
					<div ng-hide="game.showStore">{{ game.player.first_name }}'s turn</div>
					<div
						ng-show="game.allow_rolling"
						class="btn btn-default"
						ng-click="roll()"
					>
						Go
					</div>
					<div
						ng-show="!game.allow_rolling && game.showStore"
						class="btn btn-default"
						ng-click="alternateTurn()"
					>
						End turn
					</div>
				</div>
				<div id="showContent" ng-show="game.showContent">
					<div ng-show="game.disclaimerWarning" class="alert alert-warning">
						{{ game.disclaimerWarning }}
					</div>
					<div ng-show="game.disclaimerDanger" class="alert alert-danger">
						{{ game.disclaimerDanger }}
					</div>
					<h1 id="content-header">{{ game.content.header }}</h1>
					<div id="content-body">{{ game.content.body }}</div>
					<br>
					<div ng-show="game.showTime" id="timer">{{ game.time }}</div>
					<button ng-show="game.showNakedButton" ng-click="setNaked()" class="btn btn-default">I'm Already Naked!</button>
					<button ng-show="game.showStartButton" ng-click="startTimer()" class="btn btn-primary">Start</button>
					<button ng-show="game.showPayButton" ng-click="pay()" class="btn btn-default">Pay Up</button>
					<button ng-show="game.showRegenerateButton && !game.regenerating" ng-click="regenerate()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
					<img ng-show="game.regenerating" src="/img/loading.gif">
					<button ng-show="game.showWaitButton" ng-click="wait()" class="btn btn-default">I'll Wait it Out</button>
					<button ng-show="game.showPerformButton" ng-click="performTask()" class="btn btn-primary">Perform Task</button>
					<button ng-show="game.showContinueButton" ng-click="roll()" class="btn btn-primary">Continue</button>
					<button ng-show="game.showAlternateTurnButton" ng-click="alternateTurn()" class="btn btn-primary">Continue</button>
				</div>
				<div ng-show="game.showStore">
					<div ng-show="!game.canAffordProperties" class="alert alert-warning">
						You can't afford any properties here.
					</div>
					<div ng-show="game.canAffordProperties" class="alert alert-warning align-center margin-0 border-radius-0">You have ${{ game.player.money }}. Build a property?</div>
					<ul ng-show="game.canAffordProperties" id="propertyList" class="list-group align-left margin-0 border-radius-0">
						<li
							ng-repeat="price in game.spaces[game.currentSpace].prices"
							class="list-group-item overflow-hidden"
						>
							<i class="flaticon-{{ price.key }}"></i> {{ price.name }} &nbsp;<i
								class="flaticon-info info"
								data-toggle="popover"
								data-content="{{ game.propertyTypes[price.key].description }}"
							></i>
							<button
								class="btn btn-default pull-right"
								ng-click="buyProperty(price)"
								ng-show="game.player.money >= price.price"
							>
								{{ price.price | currency:'$':0 }}
							</button>
							<div
								ng-show="game.player.money < price.price"
								class="pull-right price"
							>
								{{ price.price | currency:'$':0 }}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="players">
			<div class="player m" style="transform:translateY({{ game.m_top }}px); left: {{ game.m_left }}px">
				<div class="piece m">
					<i class="flaticon-m"></i>
				</div>
				<div class="shadow"></div>
			</div>
			<div class="player f" style="transform:translateY({{ game.f_top }}px); left: {{ game.f_left }}px">
				<div class="piece f">
					<i class="flaticon-f"></i>
				</div>
				<div class="shadow"></div>
			</div>
		</div>
	</div><!-- board -->
	<div>
		<button id="game-menu" class="btn btn-default" ng-click="togglePopup('#options')">
			<i class="fa fa-gear"></i>
		</button>
		<div class="meter hidable-md">
			<button
				ng-repeat="heat in game.heat"
				ng-click="setHeat(heat.level)"
				ng-class="{ 'active': heat.active }"
			>{{ heat.name }}</button>
		</div>
	</div>
</div><!-- game -->
<div class="clear"></div>
<div class="popup" id="options">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">Options</h2>
		</div>
		<div class="panel-body">
			<ul class="list-group margin-bottom-0">
				<li
					class="list-group-item link"
					ng-click="resetGame()"
				>Reset Game</li>
				<li
					class="list-group-item link"
					ng-click="resetMoney()"
				>Reset Money</li>
			</ul>
		</div>
		<div class="panel-footer overflow-hidden">
			<button
				class="btn btn-default pull-right"
				ng-click="togglePopup('#options')"
			>Close</button>
		</div>
	</div>
</div>
</div>
