hr, footer { display: none; }
#content { overflow-y: hidden; }
#viewport { display: flex; transform:scale(0.66,.66); -webkit-transform:scale(0.66,.66); margin 0 auto; justify-content: center; align-items: flex-end; position:relative; left:-32px; }
#rollDice { transform: scale(2, 2); }
.header { background: rgb(128,0,68); color: white; padding: 10px; border-radius: 4px; }
.cube-container { display:table-cell; padding:0 255px 255px 0; }
.cube-container .label { display: inline-block; transform:scale(2,2) !important; }
.wrap {
    perspective: 800px;
    -webkit-perspective: 800px;
    perspective-origin: 50% 100px;
    -webkit-perspective-origin: 50% 100px;
}
.cube-container, .cube-container div {
    box-sizing: inherit content-box !important;
    -webkit-box-sizing: content-box !important;
}
.cube div {
    cursor: pointer;
    overflow:hidden;
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: 125px;
    padding-top:75px;
    box-shadow:0 0 40px rgba(0,0,0,.5) inset;
    display:table-cell !important;
    background:rgba(255,0,128,.7);
    color:white;
    font-family:h1;
    font-weight:bold;
    text-align:center;
    font-size:2.25em;
    line-height:1.25em;
    text-shadow:0 0 10px black;
    box-sizing: inherit !important;
    -webkit-box-sizing: inherit !important;
}
.cube-right {
    transform: rotateY(-270deg) translateX(100px);999999999
    -webkit-transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    -webkit-transform-origin: top right;
}
.cube-left {
    transform: rotateY(270deg) translateX(-100px);
    -webkit-transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    -webkit-transform-origin: center left;
}
.cube-front {
    transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
}
@media (max-width:1109px) {
        #viewport { transform:scale(0.55,.55); }
    .cube-container { float:left; }
    .cube-container:nth-of-type(1) { margin-top:175px; }
}
@media (max-width:767px) {
    #rollDice { display: none; }
    #editDice { margin-top: -6589d0px; }
    #editDice > div { margin:0 auto; float: none !important; }
    #viewport { display: block; transform:scale(0.45,.45); top: -40px; left: 25px; }
}
