/* map */
#map { overflow:auto; padding:1px; background:rgb(245,245,245); }
#map > table { border-colapse:collapse; }
#map .tile { height:50px; width:50px; }
.space { width:100%; height:100%; background:rgb(225,225,225); box-shadow:1px 1px 1px 0 rgba(0,0,0,.1) inset; }
.space:hover { background:rgb(235,235,235); cursor:pointer; }
.fill { width:100%; height:100%; }
.place { width:50px; height:50px; background:white; box-shadow:0 0 1px rgba(0,0,0,.25) inset; cursor:pointer; padding:5px 10px; overflow:hidden; }
#navigator { width:100%; }
.compass .direction:hover { background:white !important; }
.compass .direction:disabled { opacity:.25 !important; }
.compass .north { padding-top:0; border-bottom-left-radius:0; border-bottom-right-radius:0; border-bottom:0; }
.compass .north i { display:inline-block; margin:0 0 -7px 4px; }
.compass .south { padding-bottom:0; border-top-left-radius:0; border-top-right-radius:0; border-top:0; }
.compass .south span { display:inline-block; margin-right:-3px; }
.compass .south i { display:inline-block; margin:-7px 0 7px 0px; }

/* buttons */
.btn-default:active { background:white !important; }
.btn-default:hover { background:rgb(248,248,248); }
.btn:not(.active):focus { outline-width:0 !important; background:inherit !important; border-color:rgb(204,204,204) !important; }

/* borders */
.border-btn { width:30px; height:34px; }
.border-btn-top i { display:inline-block; width:16px; border-top:3px solid black; margin-top:-18px; margin-left:-5px; }
.border-btn-right i { display:inline-block; height:18px; border-right:3px solid black; margin-right:-18px; }
.border-btn-bottom i { display:inline-block; width:16px; border-bottom:3px solid black; margin-bottom:-18px; margin-left:-5px; }
.border-btn-left i { display:inline-block; height:18px; border-left:3px solid black; margin-left:-18px; }
.border-top { border-top:3px solid black; }
.border-right { border-right:3px solid black; }
.border-bottom { border-bottom:3px solid black; }
.border-left { border-left:3px solid black; }
