.almost-hidden { opacity:.01; }
.space { color:rgb(255,0,128); box-sizing: border-box; padding: 10px; position: absolute; width:125px; height:125px; background:rgb(255,191,223); box-shadow:-5px -5px 20px rgba(0,0,0,.1) inset; text-align:center; }
.space-icon { font-size: 4em; display:block; opacity:.5; color:rgb(255,0,128); }
.space.m { background:rgba(64,128,255,.75) !important; box-shadow: 5px 5px 20px rgba(0,0,0,.1) inset; }
.space.f { background:rgba(255,0,128,.75) !important; box-shadow: 5px 5px 20px rgba(0,0,0,.1) inset; }
.space .panel { color:black; }
.price { color: rgb(255,0,128); }
.meter { width: 100px; margin-left:1em; }
.meter button { width: 100%; background:white; border:none; margin:0; padding: 10px; font-size:11pt; font-family:header; }
.meter button.active { color: white; background: rgb(128,0,64) url(/img/noise.png); }
.meter button:first-child { border-top-left-radius:50%; border-top-right-radius:50%; }
.meter button:last-child { border-bottom-left-radius:50%; border-bottom-right-radius:50%; }
.meter .btn-danger { }
footer, hr { display: none; }

/* position spaces */
#space-0 { top:0; left:0; }
#space-1 { top:0; left:125px; }
#space-2 { top:0; left:250px; }
#space-3 { top:0; left:375px; }
#space-4 { top:0; left:500px; }
#space-5 { top:125px; left:500px; }
#space-6 { top:250px; left:500px; }
#space-7 { top:375px; left:500px; }
#space-8 { top:500px; left:500px; }
#space-9 { top:500px; left:375px; }
#space-10 { top:500px; left:250px; }
#space-11 { top:500px; left:125px; }
#space-12 { top:500px; left:0; }
#space-13 { top:375px; left:0; }
#space-14 { top:250px; left:0; }
#space-15 { top:125px; left:0; }

#content { overflow-y: hidden; }
#centerContentContainer { position: absolute; top:125px; left:125px; width:375px; height:375px; text-align:center; vertical-align: top; background: white; }
#centerContent .turn { padding:25px; }
#showContent { padding: 5%; }
#game { transform-origin: 0 0; display: flex; align-items: flex-start; }
#game-menu { margin: 0 0 1em 1em; }
#board { position:relative; height:625px; background: white; }
.player { margin:-5px 0 0 -5px; width:50px; height:50px; position:absolute; transition:top 1s, left 1s, transform 1s; background:none; }
.player .piece { display:flex; justify-content:center; align-items:center; position:absolute; transition:transform .5s, margin .5s; width:50px; height:50px; border-radius:100%; box-shadow:5px 5px 10px rgba(255,255,255,.25) inset, 1px 1px 2px rgba(0,0,0,.25); }
.player .piece i { position:relative; right:-2px; bottom:-2px; }
.player.m { top:25px; left:20px; }
.player.f { top:25px; left:55px; }
.player .piece.rise { transform:scale(1.5, 1.5) !important; margin:-20px 0 0; }
.player .shadow.shrink { transform:scale(.66, .66) !important; margin:20px 0 0; box-shadow:1px 1px 12px rgba(0,0,0,.25); }
.player .shadow { transition:transform .5s, margin .5s, box-shadow .5s; position:absolute; background:rgba(0,0,0,.25); box-shadow:1px 1px 3px rgba(0,0,0,.25); width:50px; height:50px; border-radius:100%; top:0; z-index:-1; }
.top { z-index:1000; }
.corner { background:rgb(255,127,191); }
#timer { font-size: 4em; }
#propertyList i:first-child { font-size: 1.75em; }
#propertyList i.info { opacity: .5; cursor: pointer; }
#propertyList i.info:hover { opacity: 1; }

@media (max-width: 1109px) {
    #game { display: block; }
    #game-menu { margin: 1em 0 0; }
}
