@font-face {
    font-family: sexy;
    src: url("mountains-of-christmas.eot") /* EOT file for IE */
}
@font-face {
    font-family: sexy;
    src: url("mountains-of-christmas.woff") /* TTF file for CSS3 browsers */
}
html { background:rgb(128,0,64); }
body { font-family:Open Sans, Sans; margin:0; color:white; font-size:14pt; }
p { font-weight:300; }
a { color:white; }
h1 { margin:0; }
h3 { font-family:sexy; font-size:64px; font-weight:300; margin:0; line-height:1em; }
h2 { font-family:sexy; font-size:32px; font-weight:100; margin:0 0 2%; }
h2 a { text-decoration:none; }
h2 a:hover { text-decoration:underline; }
input { padding: 1em; }

/* global classes */
.btn-login { display: block; max-width: 200px; padding: 1em; text-align: left; margin: 0 auto .5em; text-decoration: none; font-size: 10pt; }
.btn-login i { margin-right: .5em; vertical-align: middle; }
.inline-block { display: inline-block; }
.input-group { display: table; box-shadow: 1px 1px 3px rgba(0,0,0,.25); }
.input-group input, .input-group select, .input-group button { display: table-cell; font-size: 12pt !important; margin: 0; box-shadow: none !important; }
.input-group input { border: 1px solid rgb(255,0,128); padding:19px; }
.input-group button { padding: 20px !important; box-shadow: none !important; }

@media (max-width:800px) {
    h3 { font-size:48px; }
    h2 { font-size:24px; }
    p { font-size:12pt; }
}

.about { background:url("{{ $theme_url }}/images/icons.png"); width:25px; height:25px; background-size:250px 250px; background-position:-25px -25px; display:inline-block; vertical-align:middle; margin-left:.25em; }
.cents { font-size:8pt; display:inline-block; position:relative; top:-5px; }

#logo { position:relative; z-index:1; }
#header { position:absolute; top:0; right:0; left:0; background:rgba(0,0,0,.25); padding:20px 30px; overflow:hidden; }

@media (max-width:800px) {
    .input-group { border: none !important; box-shadow: none !important; }
    #logo { max-width:350px; width:100%; }
}
@media (max-width:550px) {
    #header { position:static; }
}

button, .button, #wrapper input[type="submit"] {
    display: inline-block;
    padding: 10px 15px !important;
    font-size: 1em !important;
    border: 0 !important;
    background: rgb(255,0,128);
    border-radius: 2px !important;
    color: white !important;
    font-weight: 400 !important;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    cursor: pointer !important;
    text-decoration:none !important;
    margin-bottom:.5em;
    transition: background-color 3s;
}

button:disabled, .button:disabled, #wrapper input[type="submit"]:disabled, button:disabled:hover, button:disabled:hover, #wrapper input[type="submit"]:disabled:hover {
    /*background: rgb(192,192,192) !important;*/
    /*color:gray !important;*/
    border:none !important;
    box-shadow:none !important;
    cursor:auto !important;
    text-shadow:none !important;
}

button:hover, .button:hover, .button-small:hover, #wrapper input[type="submit"]:hover {
    box-shadow:1px 1px 3px rgba(0,0,0,.5), 0 0 40px rgba(255,200,225, .5) inset !important;
    text-decoration:none !important;
    color:white !important !important;
}

button:active, .button:active, .button-small:active, #wrapper input[type="submit"]:active {
    background: rgb(192,0,96) !important;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5) inset !important;
}

.button.green {
    background:#a1ff00 !important;
    color:black !important;
    font-weight:bold;
}

/* home sections */

section { position:relative; }


/*@media (max-width:1100px) {
    #home-1-lingerie { width:200px; }
    #home-1-dice { width:200px; bottom:15% !important; left:10% !important; }
}*/

@media (max-width:1000px) {
    #home-1-main-content { margin:0 !important; }
    #home-1-sidebar { display:none !important; }
}

@media (max-width:500px) {
    #home-1 { height:auto !important; padding-bottom:10%; }
    #header { position:static !important; background:rgb(255,0,128); text-align:center; }
    #header > a { float:none !important; }
    h1 { position:static !important; }
    /*#home-1-lingerie, #home-1-dice { display:none; }*/
    #home-1-content { margin-top:0 !important; }
    #home-1-content h3 { margin-top:5% !important; background:none; }
    .scroll-down { display:none; }
    section:nth-of-type(odd) h3 { background:rgb(150,0,75); padding:5%; border-radius:2%; }
    section:nth-of-type(even) h3 { background:rgb(96,0,48); padding:5%; border-radius:2%; }
}

/* end home-1 */

/* scroll down */

.scroll-down { cursor:default; transition:background 1s; position:absolute; bottom:10%; right:2.5%; padding:60px 50px; font-size:2em; font-family:sexy; background:rgb(64,0,32); border-radius:50%; text-align:center; }
.scroll-down:hover { background:rgb(192,0,96); cursor:pointer; }

@media (max-width:800px) {
    .scroll-down { font-size:14pt; padding:30px 25px; }
}

/* end take tour */

/* home quote */

#home-quote { padding:5%; }

/* end home quote */

/* home-1 */

#home-1 { display:table-cell; vertical-align:middle; text-align:center; width:100%; }
#home-1-icons { padding:0; }
#home-1-icons li { margin:0; padding:0; opacity:.5; display:inline-block; vertical-align:top; text-align:center; }
#home-1-icons li div:nth-child(2) { opacity:.5; font-size:10pt; }
#home-1-main-content { display:inline-block; vertical-align:top; margin-right:40px; margin-left:235px; }
#home-1-sidebar { display:inline-block; vertical-align:top; }

/* home-2 */

#home-2 .bg { width:100%; }
#home-2 .content { position:absolute; top:15%; right:7.5%; max-width:550px; color:rgb(128,0,64); }
@media (max-width:1450px) {
    #home-2 .bg { position:static; }
    #home-2 .content { position:static; color:white; max-width:none; text-align:center; background:rgb(255,0,128); padding:5%; }
    #home-2 .content p { max-width:550px; margin:1em auto 0; }
}

/* end home-2 */

@media (max-width:800px) {
    .apps > ul { text-align:center; }
    .apps > ul > li { text-align:left; }
    .apps > ul > li > img { display:block; float:none; }
    .apps > ul > li > p { max-width:400px; }
}

/* end apps */

/* home-8 */

#home-8 .bg { width:100%; }
#home-8 .content { position:absolute; top:15%; right:7.5%; max-width:350px; color:white; }

@media (max-width:950px) {
    #home-8 .bg { position:static; }
    #home-8 .content { position:static; color:white; max-width:none; text-align:center; background:rgb(255,0,128); padding:5%; }
    #home-8 .content p { max-width:550px; margin:1em auto 0; }
    #home-8 .content .button { background:#a1ff00 !important; color:black !important; }
}

/* end home-8 */

/* footer */

#footer { background:rgb(50,50,50); text-align:center; margin-top:-10px; font-size:10pt; padding:2.5%; }
#footerContent { overflow:hidden; max-width:1100px; margin:0 auto; }
#footerLinks a { color:white !important; margin-right:1em; text-decoration:none; }
#footerLinks a:hover { color:#8295cc !important; }
#footerSocialLinks a { display:inline-block; width:50px; height:50px; background:url("{{ $theme_url }}/images/social-icons-footer.png"); }
.footer { text-align:center; }
#popularSearches ul { position:relative; right:-5%; display:block; margin:0 auto; padding:0; list-style:none; column-count:4; -moz-column-count:4; -webkit-column-count:4; text-align:left; }
#popularSearches li { margin-bottom:.5em; }
#popularSearches li a { text-decoration:none; }
#popularSearches li a:hover { text-decoration:underline;}

@media (max-width:800px) {
    #popularSearches ul { column-count:3; -moz-column-count:3; -webkit-column-count:3; }
}
@media (max-width:600px) {
    #popularSearches ul { column-count:2; -moz-column-count:2; -webkit-column-count:2; }
}
@media (max-width:400px) {
    #popularSearches ul { text-align:center; position:static; column-count:1; -moz-column-count:1; -webkit-column-count:1; }
}

/* end footer */

/* pop */

.black { display:none; position:fixed; top:0; right:0; bottom:0; left:0; background:black; opacity:.5; z-index:10000; }
.pop { text-align:center; display:none; background:white; color:black; position:fixed; z-index:10001; top:12%; right:30%; bottom:12%; left:30%; max-height:520px; padding:2.5% 5%; overflow:auto; }
.pop .x { position:absolute; top:0; right:0; background:white; border-bottom-left-radius:100%; box-shadow:0px 0px 5px white inset; border:1px solid rgb(192,192,192); cursor:pointer; background:rgb(225,225,225); color:black; padding:5px 9px 10px 18px; }
@media (max-width:1600px ) {
    .pop { right:25%; left:25%; }
}
@media (max-width:1300px ) {
    .pop { right:18%; left:18%; }
}
@media (max-width:1000px ) {
    .pop { right:10%; left:10%; }
}
@media (max-width:600px ) {
    .pop img { display:block !important; margin:0 auto !important; left:0 !important; }
    .pop h2 { font-size:24pt !important; margin-bottom:0 !important; }
    .pop { right:5%; left:5%; padding:10%; }
}

.pop input[type="text"] { width:100%; }

/* end pop */

dt { cursor:pointer; font-weight:bold; border-top:1px solid rgb(172,172,172); padding:10px 0; }
dt:first-of-type { border-top:none !important; }
dt:last-of-type { padding-bottom:none; }
dd { display:none; margin-bottom:20px; margin:0; }
dd.active { display:block; }

/* strike */

.strike { display:inline-block; position:relative; }
.strike .line { border-bottom:2px solid black; position:relative; top:-15px; }
#home-8 .strike .line { border-color:red; }

/* end strike */

/* popbox */

.dark { position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,.5); z-index:1000; }
.popboxWrapperWrapper { position:fixed; top:0; right:0; bottom:0; left:0; z-index:10000; }
.popboxWrapper { display:table; width:100%; height:100%; }
.popboxContainer { text-align:center; display:table-cell; vertical-align:middle; }
.popbox { display:inline-block; background:white; color:black; max-height:520px; max-width:520px; padding:20px 40px; overflow-y:auto; box-shadow:0 0 50px rgba(0,0,0,.5); }
.popbox .x { position:absolute; top:0; right:0; background:white; border-bottom-left-radius:100%; box-shadow:0px 0px 5px white inset; border:1px solid rgb(192,192,192); cursor:pointer; background:rgb(225,225,225); color:black; padding:5px 9px 10px 18px; }
@media (max-width:1600px ) {
    .popbox { right:25%; left:25%; }
}
@media (max-width:1300px ) {
    .popbox { right:18%; left:18%; }
}
@media (max-width:1000px ) {
    .popbox { right:10%; left:10%; }
}
@media (max-width:600px ) {
    .popbox { right:5%; left:5%; }
}

.popbox input[type="text"] { width:100%; }
.popbox h2:first-of-type { margin-top:0; }

/* end popbox */
