/* html */
body { margin: 0; font-family: arial; background: black; color: white; }
section, div { box-sizing: border-box; }
section { padding: 4%; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 { font-size: 6em; margin-bottom: .25em; }
h2 { font-size: 2em; text-transform: uppercase; font-weight: normal; margin-bottom: .75em; }
h3 { font-size: 2em; margin-bottom: .75em; font-weight: normal; }
h4 { font-size: 1.5em; font-weight: normal; margin: 1em 0 .5em; }
img { width: 100%; height: auto; }
a { color: rgb(255,0,128); text-decoration: underline; cursor: pointer; }
p { opacity: .5; }

/**********************
* home page sections
***********************/

/* home */
#home section ul { padding: 0; list-style: none; }

/* home-1 */
#home-1 { align-items: center; background: url('/img/home/home-1.jpg'); background-size: cover; position: relative; }
#home-1-1 { position: absolute; top: 4%; left: 4%; right: 4%; z-index: 1; }
#home-1-1 #logo { text-shadow:0 0 20px black; }

#home-features > div { padding: 0 1em; }

.btn { padding: 1em 2em; background: rgb(255,0,128); color: white; text-transform: uppercase; text-decoration: none; border-radius: 4px; display: inline-block; margin-bottom: 1em; cursor: pointer; }
.btn-sm { padding: .5em 1em; background: rgb(255,0,128); color: white; text-decoration: none; border-radius: 4px; }

/* global classes */
.align-center { text-align: center; }
.align-left { text-align: left; }
.clear { clear: both; }
.flex { display: flex; }
.position-absolute { position: absolute; }
.pull-left { float: left; }
.pull-right { float: right; }
.showable-md { display: none; }
.tabs { background: rgb(32,32,32); color: gray; border-bottom: 2px solid gray; text-align: center; display: flex; justify-content: center; }
.tabs .tab { padding: 1.5%; cursor: pointer; }
.tabs .tab.active { border-bottom: 5px solid rgb(255,0,128); }
.tabs .tab i { font-size: 4em; }
.tabs-content { display: flex; justify-content: center; }
.tabs-content > div { max-width: 1400px; padding: 4%; width: 100%; }

@media (max-width: 1200px) {
    h1 { font-size: 3em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.5em; }

    #home { text-align: center; }
    #home-1 { background: none; }

    .flex { display: block; }
    .showable-md { display: block; }
}

@media (max-width: 600px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.25em; }
    h3 { font-size: 1.25em; }

    #home { overflow-x: hidden; }
    #home-hero { width: 180%; height: 180%; }
}

@media (max-width: 350px) {
    #home-hero { width: 160%; height: 160%; }
}
