hr, footer { display: none; }
.pot { float: left; margin-right: 1em; }
.pot span { padding: 10px; }
#pot { background: white; padding: 3px 6px; border: 1px solid rgb(215,215,215); height: 36px; text-align: center; font-size: 12pt; border-top-right-radius: 4px; border-bottom-right-radius: 4px; display: flex; align-items: center; justify-content: center; }
.popbox button { margin-top:.5em; }
.popbox button.small { margin-top:0; }
span { display:inline-block; }
#gameContent { max-width:775px; margin: 0 auto; }
#loadOpponentHand { display:none; }
#timer { font-size:2em; text-align:center; display:none; }
/*#userHandContainer { margin-top:10%; }*/
#userHand .cardContainer:nth-of-type(n+6) { display:none; }
.hand { width:835px; height:216px; margin-top:.5em; }
.cardContainer { margin-right:5px; perspective:800px; -webkit-perspective:800px; display:inline-block; position:relative; width:150px; height:210px; }
.card { transform-style:preserve-3d; -webkit-transform-style:preserve-3d; transition: 1s; -webkit-transition: 1s; position:absolute; width:100%; height:100%; }
.card.draw { transition:.5s; }
.card figure { display: block; position: absolute; width: 100%; height: 100%; backface-visibility: hidden; -webkit-backface-visibility: hidden; background:url("/img/cards.png"); background-size:2100px; box-shadow:1px 1px 4px rgba(0,0,0,.5); border-radius:8px; }
.card .front { -webkit-transform: translate3d(0, 0, 0); }
.card .back { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); background-position:-1950px -420px }
.card.draw figure { transform: rotateY(90deg); -webkit-transform: rotateY(90deg); }
.card.flipped { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); }
.card.draw { transform: rotateY(-90deg); -webkit-transform: rotateY(-90deg); }
.popbox table { margin:0 auto; }
.popbox table tr td { background:none !important; padding:5px; }
.popbox table tr th { text-align:right; background:none; padding:5px; color:black; font-weight:bold; }
.discard { position:absolute; z-index:1; top:0; right:0; bottom:0; left:0; border-radius:8px; text-align:right; color:white; background:red; font-weight:bold; font-size:2em; background:rgba(255,0,128,.5); }
.discardX { position:absolute; top:-2px; right:8px; text-shadow:1px 1px 3px black; }
.flash { position:relative; }
.well, .alert, #options button { padding:10px 15px; }
#userMoneyContainer { margin-right:-5px; }
/*button { margin:0 5px 5px 0; }*/

/* IE10 & IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* entire container, keeps perspective */
	.cardContainer {
		perspective: 1000;
		transform-style: preserve-3d;
	}

	/*  UPDATED! flip the pane when hovered */
	.cardContainer .card.flipped figure.back {
		transform: rotateY(180deg) !important;
		backface-visibility: visible !important;
	}
	.cardContainer .card.flipped figure.front {
	    transform: rotateY(180deg) !important;
	}

	/* flip speed goes here */
	.card {
		transition: 1s;
		transform-style: preserve-3d;
		position: relative;
	}

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;
		transition: 1s;
		transform-style: preserve-3d;
		position: absolute;
		top: 0;
		left: 0;
	}

	/*  UPDATED! front pane, placed above back */
	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(-180deg);
	}
}

@media (max-width:600px) {
	/*h1 { display:none; }*/
	/*h2 { font-size:18pt; }*/
	/*#topHeaders { float:left; }*/
	#clear1, #clear2, #clear3 { display:none; }
	#clear4 { display:block !important; }
	#options { clear:both; float:none !important; }
	#options br { display:block !important; }
	.well, .alert, #options button { padding:5px 10px; margin:5px 0; }
}

@media (max-width:350px) {
	.well, .alert, #options button { padding:5px 10px; }
	#waitingMessageContainer { margin-bottom:2em; }
}
