/* REFERENCE */
/*
rgb(128,0,64) - Dark Purple
#003d98 - Lighter Blue
rgb(255,0,128) - Hot Pink
*/

/* html */
label { display:block; }
hr { border-bottom:1px solid rgb(192,192,192); }
article { max-width: 700px; background: white; padding: 5%; border-radius: 4px; box-shadow: 0px 0px 10px rgba(0,0,0,.12); }
article ul li, article ol li { margin-bottom: 1em; }
article img.pull-left, .panel img.pull-left { margin: 0 1em 1em 0; }
article img.pull-right .panel img.pull-right { margin: 0 0 1em 1em; }

nav a { margin: 0 .5em; }

/* ng-cloack */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
    font-family:'h1';
    src: url("/fonts/8.woff") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family:'header';
    src: url("/fonts/10.ttf") /* TTF file for CSS3 browsers */
}

/* flaticon */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after { font-size:inherit !important; margin-left:inherit !important; position:relative; top:-2px; left:-2px; }
}

/* main-header */
html, body { overflow-x: hidden; font-family:header; font-size:14pt; }
#logo { position:relative; top:1px; color:white !important; font-size:20px !important; text-shadow:1px 1px 3px black, 0 0 1px white; font-family:h1 }

/* layout */
body { position:absolute; top:0; right:0; bottom:0; left:0; }
.page { max-width: 600px; }
#main { display: flex; height: 100%; }
#content-container { width: 100%; position: relative; background: url('../img/noise-light.png') rgb(235,235,235); }
#content { padding:40px; height: 100%; max-height: calc(100vh - 102px); overflow-x: hidden; overflow-y: auto; }
#content h1:first-of-type { margin-top:0; }
#monkey { text-align: center; line-height: 1em; font-size: 1.25em; display: flex; justify-content: center; align-items: center; position: absolute; bottom: 0; right: 0; left: 0; height: 50px; background: gray; position: relative; z-index: 1; }
#monkey > a { display: inline-block; box-shadow: 0 0 5px rgba(0,0,0,.5); }
#monkey > a:hover { text-decoration: none; background: rgb(255, 65, 160) }
h1 { font-family:h1; font-weight:600; }
h2, h3, h4, h5, h6 { font-family:'header' !important; text-shadow: 0 0 0 black; }
.header { font-family:'header'; }

/* header */
#header-menu { background-image:url('/img/noise.png') !important; border-bottom:0; font-family:header; }
#header-menu li a { color:rgba(255,255,255,.75) !important; }
#top-right-menu { font-size:20px; }
#top-right-menu .dropdown-toggle { color:white !important; opacity:.75; }
#top-right-menu .dropdown-toggle:hover { opacity:1; background:rgba(0,0,0,.66); }
#top-right-menu .dropdown-menu { font-size:20px; background:rgba(0,0,0,.9); }
#top-right-menu .dropdown-menu li { padding-top:5px; padding-bottom:5px; }
#top-right-menu .dropdown-menu li.plain { padding:5px 20px; color:white; }
#top-right-menu a:hover { text-decoration:none !important; }

#black-filter { display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:100; background:rgba(0,0,0,.75); }

/* sidebar */
#sidebar { background:url("/img/noise.png") rgb(128,0,64); width:115px; }
.main-menu { box-sizing: border-box; font-size:18px; }
body.layout-default .main-menu > a:first-child { border-top-left-radius:0; border-top-right-radius:0; }
#sidebar.admin div:not(#main-menu-back) .list-group-item > i { font-size:inherit !important; }
#sidebar.admin div:not(#main-menu-back) .list-group-item > .text { display:inline-block !important; }
#sidebar.admin, #sidebar.admin .list-group-item { width:200px; text-align:left; }
#sidebar.member, #sidebar.member .list-group-item { width:115px; }
#sidebar.admin .list-group-item.main-menu-header, #sidebar.admin #main-menu-back .list-group-item { text-align:center; }
#sidebar.admin .list-group-item .text { margin:0 !important; }
.main-menu-meta { position:relative; }
.main-menu { margin:0 !important; box-shadow:0 0 5px rgba(0,0,0,.2); }
.main-menu > a { box-shadow:0 5px 5px rgba(255,255,255,.1) inset; font-family:'header'; text-shadow:1px 1px 3px rgba(0,0,0,.5), 0 0 0 white; display:block; background:url('/img/noise.png') rgb(186,0,96) !important; color:rgba(255,255,255,.75); border:1px solid rgb(128,0,64); text-align:center; padding:15px; }
.main-menu > a:first-child { border-top:0; }
.main-menu > a.main-menu-header { box-shadow:0 5px 5px rgba(0,0,0,.1) inset; }
.main-menu > a.list-group-item.main-menu-header:hover, .main-menu > a.list-group-item.main-menu-header:active { background:none !important; cursor:default; }
#main-menu-meta a i, #main-menu-back a i { font-size:24px !important; display:inline-block !important; }
.main-menu .popover { min-width:200px; }
.main-menu .popover a i { font-size:24px !important; display:inline-block !important; }
#main-menu-meta a .text, #main-menu-back a .text { display:block; margin-top:-7px; margin-bottom:5px; }
.main-menu > a.list-group-item:focus, .main-menu > a.list-group-item:hover{ background:rgb(225,0,115) !important; color:rgba(255,255,255,1); }
.main-menu a.active { background:rgb(255,0,128) !important; color:white; }
.list-group-item.main-menu-header { position:relative; z-index:1000; width:inherit; background:none !important; width:115px; transition:background 1s; }
.main-menu-mobile { display: none; list-style: none; font-size: 10pt; text-align: left; }
.main-menu-mobile a { color: rgba(255,255,255,.5); display: block; padding: 10px 20px; }
.main-menu-mobile li:first-child a { padding-top: 20px !important; }
.main-menu-mobile li:last-child a { padding-bottom: 20px !important; }

/* layouts */
.layout-centered { padding-top:70px; }
.layout-default { padding-top:50px !important; }
.layout-default #top-right-menu { margin-right:0; }
.layout-default #container { height:100%; }
.layout-gray { padding-top:50px; background:rgb(235,235,235) !important; }
.layout-gray #container { box-shadow:0 0 5px rgba(0,0,0,.25); background:white; margin-top:-30px; padding:65px 40px 40px 40px; margin-bottom:20px; }

/* masonry effect (makes panels flush) */
.masonry { -moz-column-gap:10px; -webkit-column-gap:10px; padding:0 0 0 14px; }
.masonry.col-4 { -moz-column-width:20em; -webkit-column-width:20em; }
.masonry.col-3 { -moz-column-width:30em; -webkit-column-width:30em; }
.masonry.col-2 { -moz-column-width:40em; -webkit-column-width:40em; }
.masonry > .col { display: inline-block; padding:0 14px 0 0; width:100%; float:none; }

/* main content */

/* main footer */
footer { text-align:center; color:gray; font-size:8pt; }

/* modals */
.popup { display:none; position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,.5); z-index:10000; overflow:auto; }
.popup > .panel { border:none; max-width:500px; margin:0 auto; margin-top:-200px; position; transition:margin .25s; box-shadow:0 0 20px rgba(0,0,0,.25);  }
.popup > .panel .panel-heading .x { color:white; opacity:.66; cursor:pointer; font-size:9px; }
.popup > .panel .panel-heading .x:hover { opacity:1; }
.popup > .panel .panel { position:relative; top:42px; }
.popup > .panel .panel .panel { top:84px; }

/* dynamic table */
.div-table { display: table; width: 100%; }
.div-table .thead { display: table-header-group; font-weight: bold; }
.div-table .tfoot { display: table-footer-group; }
.div-table .tr { display: table-row; }
.div-table .td, .div-table .th { display: table-cell; padding: 8px; border-bottom: 1px solid rgb(221,221,221); vertical-align: top; }

/* music player */
#audioPlayer { display: flex; align-items: center; justify-content: space-around; position: fixed; bottom: 0; left: 0; box-shadow: 0 0 20px rgba(0,0,0,.12); }

/** roleplay **/
.roleplay .him, .roleplay .character.husband, .roleplay .character.husband + .dialog, .character-him, .dialog-him, .action-him {
	color: rgb(0,128,255);
}

.roleplay .her, .roleplay .character.wife, .roleplay .character.wife + .dialog, .character-her, .dialog-her, .action-her {
	color: rgb(255,0,128) !important;
}

.roleplay .action, .roleplay p, .action-neutral, .roleplay .a {
	font-style: italic; margin: 1em 0 1em 0;
}

.parenthetical, .roleplay .p {
	margin-left: 1em; font-style: italic;
}

.parenthetical:before, .roleplay .p:before {
	content: "(";
}

.parenthetical:after, .roleplay .p:after {
	content: ")";
}

.character, .roleplay .c {
	display: block; text-transform: uppercase; font-weight: bold; margin: 1em 0 0;
}

.dialog, .roleplay .d {
	display: block; margin: 0 5em 0 2em !important; background: none; font-style:normal !important;
}

/* global classes */
[class^="img-"] { width: 100%; height: auto; }
.img-xs { max-width: 50px; }
.img-sm { max-width: 100px; }
.img-md { max-width: 250px; }
.img-lg { max-width: 500px; }
.img-xl { max-width: 750px; }
.btn-login { display: block; padding: 1em; text-align: center; margin: 0 auto .5em; text-decoration: none; font-size: 10pt; color: white; }
.btn-login.active, .btn-login:visited { color: white; }
.btn-login i { margin-right: .5em; vertical-align: middle; }
.strike { display: inline-block; }
.strike .line { border-bottom: 2px solid red; margin-top: -.9em; }
.alerts { max-width: 800px; margin: 0 auto; }
.stars { height: 25px; background: url('/img/star.png'); }
.slideUp { transform-origin: bottom; transition: transform .5s; transform:scaleY(1) !important; }
.fadeIn { transition: opacity .5s; opacity: 1 !important; }
.fadeOut { transition: opacity .5s; opacity: 0 !important; }
.showable-md { visibility: hidden; }
.green { background: rgb(128,255,192); }
.violet { background: rgb(192,128,255); }
.parsley { position: absolute; z-index: 1000; top: 33px; left: 5px; font-size: 9pt; padding: 3px 8px; border-top-left-radius: 0; border-top-right-radius: 0; }
.flex { display: flex; }
.inline-list { padding:0; list-style:none; }
.inline-list li { display:inline-block; margin:0 .5em; }
.m { background:rgb(128,192,255); }
.m-color { color:rgb(128,192,255); }
.f { background:rgb(255,128,192); }
.f-color { color:rgb(255,128,192); }
.b { background:rgb(255,192,128); }
.vertical-align-top { vertical-align:top !important; }
.margin-auto { margin:0 auto; }
.pointer { cursor:pointer; }
.selected { background:rgba(255,0,128,.13) !important; }
.no-border-top-left-radius { border-top-left-radius:0 !important; }
.no-border-top-right-radius { border-top-right-radius:0 !important; }
.no-border-bottom-left-radius { border-bottom-left-radius:0 !important; }
.no-border-bottom-right-radius { border-bottom-right-radius:0 !important; }
.border-top-left-radius { border-top-left-radius:4px; }
.border-top-right-radius { border-top-right-radius:4px; }
.border-bottom-right-radius { border-bottom-right-radius:4px; }
.border-bottom-left-radius { border-bottom-left-radius:4px; }
.width-full { width:100%; }
.height-full { height:100%; }
.display-table { display:table; }
.display-table > div { display:table-row; }
.display-table > div > div { display:table-cell; }
.no-max-width { max-width:none !important; }
.font-size-1 { font-size:12pt; }
.font-size-2 { font-size:1.25em; }
.font-size-3 { font-size:1.5em; }
.font-size-4 { font-size:1.75em; }
.font-size-5 { font-size:2em; }
.f { background:rgb(255,0,128); color:white; }
.m { background:rgb(64,128,255); color:white; }
.display-none { display:none !important; }
/*.her { color:rgb(255,0,128); font-size:2em; font-weight:bold; text-decoration:underline; text-transform:uppercase; }*/
.italic { font-style:italic; }
.page-decoration { font-size:500px; opacity:.2; color:rgb(255,0,128); line-height:50px; }
.cursor-pointer { cursor:pointer; }
.loading-inline { position:absolute; margin-top:-5px; }
i { vertical-align:middle; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-center { text-align:center; }
.auto { width:auto; }
.full { width:100%; }
.full-image-container { max-width:800px; }
.full-width { max-width:100%; }
.border-radius { border-radius:4px; }
.border-radius-0 { border-radius:0 !important; }
.inline-block { display:inline-block !important; }
.width-auto { width:auto !important; }
.tiny { font-size:7pt; display:block; }
.clear { clear:both; }
.margin-0 { margin:0; }
.margin-1 { margin:.25em; }
.margin-2 { margin:.5em; }
.margin-3 { margin:.75em; }
.margin-4 { margin:1em; }
.margin-bottom-0 { margin-bottom:0; }
.margin-bottom-1 { margin-bottom:.25em; }
.margin-bottom-2 { margin-bottom:.5em; }
.margin-bottom-3 { margin-bottom:.75em; }
.margin-bottom-4 { margin-bottom:1em; }
.margin-top-0 { margin-top:0; }
.margin-top-1 { margin-top:.25em; }
.margin-top-2 { margin-top:.5em; }
.margin-top-3 { margin-top:.75em; }
.margin-top-4 { margin-top:1em; }
.margin-right-0 { margin-right:0; }
.margin-right-1 { margin-right:.25em; }
.margin-right-2 { margin-right:.5em; }
.margin-right-3 { margin-right:.75em; }
.margin-right-4 { margin-right:1em; }
.margin-left-0 { margin-left:.0; }
.margin-left-1 { margin-left:.25em; }
.margin-left-2 { margin-left:.5em; }
.margin-left-3 { margin-left:.75em; }
.margin-left-4 { margin-left:1em; }
.padding-0 { padding:0; }
.padding-1 { padding:.25em; }
.padding-2 { padding:.5em; }
.padding-3 { padding:.75em; }
.padding-4 { padding:1.25em; }
.padding-5 { padding:1.5em; }
.padding-6 { padding:1.75em; }
.padding-7 { padding:2em; }
.padding-bottom-0 { padding-bottom:0; }
.padding-bottom-1 { padding-bottom:.25em; }
.padding-bottom-2 { padding-bottom:.5em; }
.padding-bottom-3 { padding-bottom:.75em; }
.padding-bottom-4 { padding-bottom:1em; }
.padding-top-0 { padding-top: 0; }
.padding-top-1 { padding-top:.25em; }
.padding-top-2 { padding-top:.5em; }
.padding-top-3 { padding-top:.75em; }
.padding-top-4 { padding-top:1em; }
.padding-right-0 { padding-right:0; }
.padding-right-1 { padding-right:.25em; }
.padding-right-2 { padding-right:.5em; }
.padding-right-3 { padding-right:.75em; }
.padding-right-4 { padding-right:1em; }
.padding-left-0 { padding-left:.0; }
.padding-left-1 { padding-left:.25em; }
.padding-left-2 { padding-left:.5em; }
.padding-left-3 { padding-left:.75em; }
.padding-left-4 { padding-left:1em; }
.itemsPerPage { max-width:80px; }
.display-table { display:table; }
.display-table-cell { display:table-cell; }
.no-top { margin-top:0; }
.no-bottom { margin-bottom:0; }
.currentPage { position:relative; top:7px; }
.page-actions { margin:0 0 1em; }
.breadcrumbs { display:block; margin-bottom:1em; }
.link { cursor:pointer; color:rgb(255,0,128) !important; }
.link:hover { text-decoration:underline !important; }
.highlight { background:rgba(255,0,128,.13) !important; }
.full { width:100%; }
.center { text-align:center; }
.boolean { text-align:center; border-left:1px solid rgba(0,0,0,.1); }
td.border { border-right:1px solid rgba(0,0,0,.1); }
.no-bullets { list-style:none; }
.date-col { width:150px; }
small { opacity:.5; font-size:9pt; }
.user-banner-container { position:relative; padding:0; }
.user-banner { width:100%; }
.user-banner-container .avatar { position:relative; z-index:1; margin-top:-170px; margin-left:30px; border:10px solid white; border-radius:4px; box-shadow:1px 1px 3px rgba(0,0,0,.25) inset, 1px 1px 3px rgba(0,0,0,.25); }
.user-banner-container h1 { margin:0; text-shadow:0 2px rgba(0,0,0,.25); }
.user-banner-text { position:absolute; left:0; right:0; bottom:30px; background:rgba(1,56,99,.75); color:white; }
.user-banner-content { padding:20px 20px 20px 255px; text-shadow:0 1px rgba(0,0,0,.25); }
.user-banner-content small { opacity:1; }
.overflow-hidden { overflow:hidden; }
.align-right { text-align:right; }
.big { font-size:1.25em; }
.no-padding { padding:0; }
.nostyle { background:inherit !important; border:inherit !important; padding:inherit !important; border:inherit !important; }
.downline-popover th { text-align:right; padding-right:.5em; }
.no-width { width:0; }
.semitransparent { opacity:.25; }
.footer-links { text-decoration:none; padding:0; text-align:center; }
.footer-links li { display:inline-block; margin:0 1em; }
.tiles { padding:0; list-style:none; text-align:center; }
.tiles li { vertical-align:top; display:inline-block; position:relative; margin:0 3px 10px 0; }
.tiles li .tile-highlight { position:absolute; top:0; right:0; bottom:0; left:0; }
.tiles li img { max-width:300px; max-height:150px; cursor:pointer; }
.tiles li .file { padding:30px 10px 10px; cursor:pointer; box-sizing: border-box; width:150px; height:150px; background:white; box-shadow:1px 1px 8px rgba(0,0,0,.2); }
.tiles li .file i { font-size:50px; position:relative; margin-left:-20px; }
.tiles li .file-title { font-size:10pt; max-width:130px; word-wrap:break-word; margin-top:8px; background:rgb(235,235,235); padding:5px 10px; border-radius:4px; display:inline-block; }
.tiles li .options { z-index:1; position:absolute; top:0; right:0; left:0; background:rgba(0,0,0,.5); padding:10px 15px; text-align:right; }
.tiles li .owner { z-index:1; position:absolute; bottom:0; right:0; left:0; background:rgba(0,0,0,.5); padding:10px 15px; text-align:left; }
.tiles li .options a, .tiles li .options span, .tiles li .owner a, .tiles li .options .link { color:white !important; cursor:pointer; }
.tiles li .options a i, .tiles li .options span i, .tiles li .options form button { width:24px; text-align:center; }
.thumb { width:50px; }
.tag-list .label { margin:0 4px 4px 0; }
.tag-list .label a { color:white !important; }
.form-link { padding:0 !important; background:none !important; border:0 !important; color:white !important; }

/* calendar */
.calendar { }
.calendar .calendar-heading { display:flex; width:100%; height:10%; background:gray; color:white; }
.calendar .calendar-heading .day { height:100%; display:flex; justify-content:center; align-items:center; }
.calendar .calendar-body { width:100%; display:flex; height:90%; flex-wrap: wrap;}
.calendar .day { cursor:pointer; width:14.27%; height:16.67%; box-shadow:-10px -10px 30px rgba(0,0,0,.05) inset; padding: 2px 0 0 6px; overflow:hidden; font-size:10pt; }
.calendar .day .day-of-month { float:left; opacity:.66; }
.calendar .calendar-body ul { margin:0; padding:0; list-style:none; }
.calendar .day.active { box-shadow:0 0 0 2px rgb(255,0,128) inset; }
.calendar .day.off { background:rgb(225,225,225); }
.calendar .day .dots { float:right; margin-right:5px; }
.dot { display:inline-block; width:10px; height:10px; border-radius:50%; position:relative; top:-1.5px; }
.calendar .appointment { padding: 3px 5px; border-radius: 2px; line-height: 1em; margin-bottom: 2px; }

/* popbox */
.dark { position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,.5); z-index:1000; }
.popboxWrapperWrapper { position:fixed; top:0; right:0; bottom:0; left:0; z-index:10000; }
.popboxWrapper { display:table; width:100%; height:100%; }
.popboxContainer { text-align:center; display:table-cell; vertical-align:middle; }
.popbox { display:inline-block; background:white; color:black; max-height:520px; max-width:520px; padding:20px 40px; overflow-y:auto; box-shadow:0 0 50px rgba(0,0,0,.5); }
.popbox .x { position:absolute; top:0; right:0; background:white; border-bottom-left-radius:100%; box-shadow:0px 0px 5px white inset; border:1px solid rgb(192,192,192); cursor:pointer; background:rgb(225,225,225); color:black; padding:5px 9px 10px 18px; }
@media (max-width:1600px ) { .popbox { right:25%; left:25%; } }
@media (max-width:1300px ) { .popbox { right:18%; left:18%; } }
@media (max-width:1000px ) { .popbox { right:10%; left:10%; } }
@media (max-width:600px ) { .popbox { right:5%; left:5%; } }
.popbox input[type="text"] { width:100%; }
.popbox h2:first-of-type { margin-top:0; }

/* flaticon overrides */
[class^="flaticon-"]:after, [class*=" flaticon-"]:after { font-family: Flaticon; font-size: inherit !important; font-style: normal; margin-left: 0 !important; }
.flaticon-x { font-size:9px; cursor:pointer; }

/* tinmce overrides */
.mceu_44-inp-hack { width:207px !important; border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; }

/* masonr */
.grid-item { width: 400px; margin:15px; }
/* .grid-item--width2 { width: 400px; }*/
@media (max-width:600px) {
    .grid-item { width: 90% !important; }
}

/* bootstrap overrides */
.alert ul { padding-left: 1.5em; text-align: left; }
/*.alert-success { background: #14B6CC; }
.alert-warning { background: #FFE519; }
.alert-danger { background: #B21262; }*/
.alert-main-container { position: fixed; bottom: 0; left: 1em; right: 1em; z-index: 100000; }
.alert-main { transform:scaleY(0); box-shadow: 1px 1px 5px rgba(0,0,0,.5); max-width: 600px; margin: 0 auto; overflow: hidden; }
.alert-main > div { float: left; }
.captialize:first-letter { text-transform:uppercase; }
.lowercase { text-transform:lowercase; }
body a { color:rgb(192,0,96); }
body a:hover { color:rgb(192,0,96); }
.table tbody th, .div-table .tr:not(.thead) .th { font-weight:normal; text-align:right; background:rgba(255,0,128,.1); border-bottom:1px solid rgba(255,0,128,.15); border-right:1px solid rgba(128,0,64,.1); }
.table td:first-letter, .div-table th:first-letter { text-transform:uppercase; }
.table-striped tbody tr:nth-of-type(odd) td, .table-striped .tr:not(.thead):nth-of-type(odd) .td, .table-striped .tr:not(.thead):nth-of-type(odd) .th { background:rgb(245,245,245) !important; }
.table-striped .tr:not(.thead):nth-of-type(odd) .th { background:rgba(255,0,128,.15) !important; }
.btn { vertical-align:top; }
.btn:disabled { opacity: .33; }
.input-group .bootstrap-select .selectpicker { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.bs-callout { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #eee; border-image: none; border-radius: 3px; border-style: solid; border-width: 1px 1px 1px 5px; margin: 20px 0; padding: 20px; }
.bs-callout h4 { margin-bottom: 5px; margin-top: 0; }
.bs-callout p:last-child { margin-bottom: 0 }
.bs-callout code { border-radius: 3px }
.bs-callout + .bs-callout { margin-top: -5px }
.bs-callout-danger { border-left-color: #d9534f }
.bs-callout-danger h4 { color: #d9534f }
.bs-callout-warning { border-left-color: #f0ad4e }
.bs-callout-warning h4 { color: #f0ad4e }
.bs-callout-info { border-left-color: #5bc0de }
.bs-callout-info h4 { color: #5bc0de }
.show .col > .table, .edit .col > .table { width:auto !important; }
/*.create form, .edit form { display:inline-block; }*/
.panel { box-shadow: 1px 1px 5px rgba(0,0,0,.1); }
.panel table { width:100%; }
.panel table tbody th { text-align:left; }
.panel-primary, .panel-default { border-color:rgb(215,215,215); }
.panel-primary > .panel-heading { background:rgb(128,0,64) url('/img/noise.png') !important ; color:white; text-shadow:1px 1px 3px black, 0 0 1px white; border:none; box-shadow:0 5px 20px rgba(255,255,255,.25) inset; }
.panel-heading > .btn.pull-left { margin:-5px 0 0 -9px; }
.panel-heading > .btn.pull-right { margin:-5px -9px 0 0; }
.panel-default > .panel-heading { background:rgb(235,235,235) !important; box-shadow:0 5px 20px rgb(255,255,255) inset; }
.panel-primary .panel-heading .panel-title { font-family:'header'; font-size:22px; }
.panel-primary > .panel-heading a:hover { color:white !important; opacity:.75; }
.panel .panel-heading i { opacity:.5; }
.panel .panel-heading h2 > button { position: relative; top: -5px; right: -10px; }
.panel-heading button i { opacity: 1 !important; }
.btn-group > form { display:inline-block; }
#record-options > form:nth-of-type(1) > .btn { border-radius:0 !important; margin:0 !important; border-right:0 !important; border-left:0 !important; }
#communication-options > form:nth-of-type(1) > .btn { border-top-right-radius:0 !important; border-bottom-right-radius:0 !important; border-right:0 !important; }
.btn-group > form:last-of-type > .btn { border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; position:relative; left:-4px; }
.navbar-inverse { background:rgb(128,0,64) !important; background-repeat: repeat-x; }
.main-menu .popover { background:url('/img/noise.png') rgb(192,0,96); }
.main-menu .popover.right > .arrow:after { border-right-color:rgb(192,0,96); color:rgb(192,0,96); }
.main-menu .popover.left > .arrow:after { border-left-color:rgb(192,0,96); color:rgb(192,0,96); }
.main-menu .popover i { margin-right:10px; }
.main-menu .popover a { color:rgba(255,255,255,.66); border:none; display:block; margin-bottom:.5em; text-align:left; font-size:14px; }
.main-menu .popover a:last-child { margin-bottom:0; }
.main-menu .popover a:hover { color:rgba(255,255,255,1) !important; background:none !important; text-decoration:none; }
.label .fa-times, .list-group-item .fa-times { cursor:pointer; }
.table tbody th { text-align:right; }
.navbar-inverse .dropdown-menu { background:#202020; }
.navbar-inverse .dropdown-menu a { color:rgb(150,150,150) !important; }
.navbar-inverse .dropdown-menu a:hover { color:white !important; background:none !important; }
.btn { font-family:Arial, Helvetica, sans-serif !important; font-weight:bold !important; }
.btn-primary { border:0 !important; background:rgb(255,0,128) !important; }
.pagination > .active > a { background:rgb(255,0,128) !important; border-color:rgb(255,0,128) !important; }
.pagination > li > a { color:rgb(255,0,128); }
/*.list-group-item { background:rgba(255,0,128, .125); border-color:rgba(255,0,128, .15); }*/
.well .list-group-item { background: white; border-color: rgba(0,0,0,.15); }
.popover { min-width: 200px; }
    .form-table [class*="col-"] { padding-right:.5em !important; padding-left:.5em !important; }

/* jquery-ui overrides */
select.ui-datepicker-year, select.ui-datepicker-month { color:black; font-weight:100; }
.ui-timepicker-div { padding:10px 10px 0; }
.ui-timepicker-div select { padding:5px; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl { direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
.ui_tpicker_time_label, .ui_tpicker_time { display:none; }
.ui-timepicker-div select { margin-bottom:0; }

/* media queries*/
@media(max-width:350px) {
    #scroll-box { padding:10px !important; }
    #header-menu .navbar-header { float:left; }
    #header-menu .navbar-header { float:left; }
    #top-right-menu { float:right; position:static; margin:0; font-size: 11pt; }
    #top-right-menu .dropdown-toggle { padding:15px; }
    #top-right-menu .dropdown-menu { position:absolute; left:auto; right:0; }
    #main-menu-toggle { display:inline-block !important; }
    .hidable-xs { display:none; }
    #main #sidebar { display:none; position:fixed; right:0; z-index:1000; background:rgb(128,0,64); }
    /*.row.masonry .col { width:100% !important; }*/
}

@media(max-width:767px) {
    .hidable-xs { display:none; }
    .showable-sm { display:inherit; }
    .date-col { width:auto; }
    .user-banner-container { position:relative !important; }
    .user-banner { display:none; }
    .user-banner-container .avatar { width:102px !important; height:102px !important; position:absolute !important; top:0 !important; left:0 !important; margin:0 !important; z-index:10; }
    .user-banner-text {  }
    .user-banner-content { padding:20px 20px 20px 125px; }
    .user-banner-content small { display:block; margin-bottom:1em; }
    .user-banner-content h1 { font-size:18pt; }
    .layout-gray #container { padding:40px 20px 20px 20px !important; }
    .no-pull-xs { float:none !important; }
    .page-actions-left { margin-bottom:1em !important; }
    #header-menu .navbar-header { float:left; }
    #top-right-menu > li { display: inline-block !important; }
    #top-right-menu > #user-menu { display: none !important; }
    #top-right-menu > .user-money > a { padding: 15px 5px !important; }
    #logo { font-size: 10pt !important; }
    #top-right-menu { float:right; position:static; margin:0; }
    #top-right-menu .dropdown-toggle { padding:15px; }
    #top-right-menu .dropdown-menu { position:absolute; left:auto; right:0; }
    #main-menu-toggle { display:inline-block !important; }
    #sidebar { display: none; }
}

@media(max-width:1009px) {
    .showable-md { visibility: visible !important; }
    .hidable-sm { display:none; }
    .hidable-md { display: none !important; }
    #content { padding:20px; }
    .main-menu { text-align:center; }
    /*.main-menu .text { display:none; }*/
    .popover.right { margin-left: -410px !important; line-height: 2.5em; }
    .popover.right > .arrow { transform: rotate(180deg); margin-left: 209px !important; }
    .user-banner-text { position:static; background:#303030; }
    .user-banner-container .avatar { width:150px; height:150px; border:5px solid white; }
    #header-menu .navbar-header { float:left; }
    #header-menu .navbar-header { float:left; }
    #top-right-menu { float:right; position:static; margin:0; }
    #top-right-menu .dropdown-toggle { padding:15px; }
    #top-right-menu .dropdown-menu { position:absolute; left:auto; right:0; }
    #main-menu-toggle { display:inline-block !important; }
    /*#sidebar { position:absolute; right:0; }*/
    #sidebar { display: none; position:fixed; right:0; z-index:1000; background:rgb(128,0,64); }
   .main-menu-mobile { display: inherit; }
   /*.row.masonry .col { width:49.7% !important; vertical-align:top; }*/

   /* collapse table */
   .div-table .table, .div-table .tbody, .div-table .tfoot, .div-table .tr, .div-table .th, .div-table .td { display: block; text-align: center; }
   .div-table .th { text-align: center !important; font-family: header; font-size: 18pt; font-weight: 600; vertical-align: top; }
   .div-table .td { text-align: center !important; vertical-align: top; }
   .div-table .thead { display: none !important; }
   .div-table label { display: inline; }
   .div-table .input-group { margin: .5em auto !important; }
}

@media(max-width:1199px) {
    .hidable-md { display:none; }
    .showable-lg { display:inherit; }
    /*.row.masonry .col { width:49.7% !important; vertical-align:top; }*/
}

@media(min-width:1200px) {
    .showable-xl { display:inherit; }
    /*.row.masonry .col { width:33.33% !important; vertical-align:top; }*/
}
