<div class="row">
    <div style="max-width:500px;" class="margin-auto">
        <h1>Our Account</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Details</h2>
            </div>
            <nav class="list-group">
                <a href="/#/profile/user/edit" class="list-group-item">My Profile</a>
                <a href="/#/profile/spouse/edit" class="list-group-item">{{ user.spouse.first_name }}'s Profile</a>
                <!-- if account doesn't have payment subscription -->
                <!--
                <a
                    ng-show="!user.account.stripe_id && !user.account.wp_subscribed"
                    href="/#/subscriptions/create"
                    class="list-group-item"
                >Add Payment Method for Uninterrupted Access</a>
                // for Stripe subscriptions
                <a
                    ng-show="user.account.stripe_id"
                    href="/#/subscriptions/edit"
                    class="list-group-item"
                >Our Subscription</a>
                // for PayPal subscriptions
                <a
                    ng-show="!user.account.stripe_id && user.account.wp_subscribed"
                    href="{{ site.host_url }}/members/account?member=1"
                class="list-group-item"
                >Our Subscription</a>
                -->
            </nav>
        </div>
    </div>
</div>