<div class="row">
    <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
        <h1>{{ person_possessive }} Profile</h1>
        <img ng-show="loading" src="/img/loading.gif">
        <div ng-show="!loading">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h2 class="panel-title">Basic</h2>
                </div>
                <div class="panel-body padding-top-0">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="person.first_name"
                            ng-blur="patch('first_name', person)">
                    </div><!-- form-group -->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="person.email"
                            ng-blur="patch('email', person)">
                    </div><!-- form-group -->
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="person.verified" ng-change="patch('verified', person)"
                                ng-true-value="1" ng-false-value="0">
                            Receive Email Notifications
                        </label>
                    </div><!-- form-group -->
                    <div class="form-group">
                        <a ng-href="/#/password/{{ spouse }}" class="btn btn-default">Change {{ person_possessive }}
                            Password</a>
                    </div>
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div><!-- loading -->
    </div><!-- col -->
</div>