<div class="form-group" data-model="character">
    <label><i class="flaticon-logic"></i> Logic</label>
    <ul class="list-group">
        <li ng-repeat="logic in unit.logics" class="list-group-item">
            <span ng-click="edit(logic, 'logic')" class="link">{{ logic.description }}</span>
            <i class="link flaticon-x pull-right" ng-click="delete(logic)"></i>
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="createLogic()"><i class="flaticon-plus"></i> Add Logic</button>
    <img ng-if="loading_logic" src="/img/loading.gif">
    <div id="logicForm" class="popup" data-model="logic">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="flaticon-logic"></i> Create Logic<span class="x pull-right" ng-click="togglePopup('#logicForm')">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <labe>Name</label>
                    <input type="text" ng-model="unit.name" class="form-control" ng-blur="update('name')">
                </div>

                <div mgtriggeredit></div>
                <div mgeffectedit></div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#logicForm')">Close</button>
            </div><!-- panel-footer -->
        </div><!-- panel -->
    </div><!-- logicForm -->
</div>
