<link rel="stylesheet" href="/css/game.css">
<div data-model="game">
    <img src="/img/loading.gif" ng-show="!loaded">
    <div ng-show="loaded">
        <div class="row">

            <div class="col col-md-12">
                <div class="pull-right">
                    <a class="btn btn-default margin-right-1" href="/#/games/{{ game.id }}"><i class="fa fa-eye"></i> View</a>
                    <a class="btn btn-default margin-right-1" href="/#/games/{{ game.id }}/play"><i class="flaticon-play"></i> Play</a>
                    <button class="btn btn-default" title="Delete">
                        <i class="flaticon-trash" title="Delete"></i>
                    </button>
                </div>
                <h1 class="no-top">{{ game.name }}</h1>
            </div>

        </div>
        <div class="row masonry col-3">

            <div class="col">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-cog"></i> Settings</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" ng-model="obj.name" class="form-control" ng-blur="update(unit)">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-model="obj.description" class="form-control" ng-blur="update(unit)"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Privacy</label>
                            <!-- {{ Form::select('public', [
                            '0' => 'Only share with ' . Auth::user()->spouse->first_name,
                            '1' => 'Share with everyone'
                            ],  null, array('class' => 'form-control', 'ng-model' => 'game.public', 'ng-blur' => 'updateGame()')) }} -->
                        </div>
                    </div>
                </div><!-- panel -->
            </div><!-- col -->

            <div class="col">
                <div playeredit></div>
            </div><!-- col -->

            <div class="col">
                <div uventedit></div>
            </div><!-- col -->

            <div class="col">
                <div mapedit></div>
            </div><!-- col -->

        </div><!-- row -->
    </div><!-- loaded -->
</div><!-- controller -->
