<div class="row">
    <div class="col-md-12">
        <h1 class="no-top pull-left no-pull-xs">All Games</h1>
        <div class="pull-right hidable-xs">
            <div class="input-group pull-right">
                <span class="input-group-addon no-width">Count</span>
                <input class="form-control itemsPerPage width-auto" ng-model="pageSize" type="number" min="1">
            </div>
            <h4 class="pull-right margin-right-1">Page <span ng-bind="currentPage"></span></h4>
        </div>
    </div>
</div><!-- row -->
<div class="row">
    <div ng-if="hasRole(['Admin'])" class="col-md-6 col-sm-6 col-xs-12 page-actions-left">
        <div class="pull-left">
            <a class="btn btn-primary pull-left margin-right-1" title="New" href="/#/games/create"><i class="flaticon-plus"></i></a>
            <div class="pull-left">
                <div class="input-group">
                    <select class="form-control selectpicker actions">
                        <option value="Game/disable" selected>Disable</option>
                        <option value="Game/enable">Enable</option>
                        <option value="Game/duplicate">Duplicate</option>
                        <option value="Game/delete">Delete</option>
                    </select>
                    <div class="input-group-btn no-width">
                        <button class="btn btn-default applyAction" disabled>
                            <i class="flaticon-check"></i>
                        </button>
                    </div>
                </div><!-- input-group -->
            </div><!-- pull-left -->
        </div><!-- pull-left -->
    </div><!-- col -->
    <div ng-if="!hasRole(['Admin'])" class="col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
            <div class="input-group">
                <input class="form-control ng-pristine ng-valid" placeholder="Search" name="new_tag" ng-model="search.$" onkeypress="return disableEnterKey(event)" type="text">
                <span class="input-group-btn no-width">
                    <button class="btn btn-default" type="button">
                        <i class="flaticon-search"></i>
                    </button>
                </span>
            </div><!-- input-group -->
        </div><!-- pull-right -->
    </div><!-- col -->
</div><!-- row -->
<div class="row">
    <div class="col col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>

                    <th class="link" ng-click="orderByField='name'; reverseSort = !reverseSort">Name
                        <span ng-show="orderByField == 'name'">
                            <span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                            <span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                        </span>
                    </th>

                    <th class="link" ng-click="orderByField='user_id'; reverseSort = !reverseSort">User
                        <span ng-show="orderByField == 'user_id'">
                            <span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                            <span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                        </span>
                    </th>

                    <th class="link" ng-click="orderByField='updated_at'; reverseSort = !reverseSort">Modified
                        <span ng-show="orderByField == 'updated_at'">
                            <span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                            <span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                        </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ 'even' : $even, highlight : game.new == 1, semitransparent : game.disabled == 1 }" ng-repeat="game in games | filter:search | orderBy: '-updated_at' | orderBy:orderByField:reverseSort">

                    <td ng-click="checkbox()">
                        <input class="bulk-check" type="checkbox" name="ids[]" value="{{game.id}}">
                    </td>

                    <td>
                        <span href="/#/games/{{game.id}}" ng-bind="game.name"></span>
                        <br>
                        <div class="btn-group margin-top-2  ">
                            <a href="/#/games/{{game.id}}" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            <a href="/#/games/{{game.id}}/edit" class="btn btn-default"><i class="flaticon-pencil"></i></a>
                            <a href="/#/games/{{game.id}}/play" class="btn btn-default"><i class="flaticon-play"></i></a>
                        </div>
                    </td>

                    <td>
                        <a href="/#/users/{{game.user_id}}" ng-bind="game.user.name"></a>
                    </td>

                    <td>
                        <span ng-bind="game.updated_at"></span>
                    </td>

                </tr>
                <tr dir-paginate-end></tr>
            </tbody>
        </table>
        <div class="align-center">
            <img ng-if="loading" src="/img/loading.gif">
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/packages/dirpagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div><!-- col -->
</div><!-- row -->
