<link rel="stylesheet" href="/css/game.css">

<div dialogplay></div>
<div charactershow></div>
<div objectshow></div>
<div logicplay></div>

<img src="/img/loading.gif" ng-show="!loaded">
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default pull-right" ng-click="togglePopup('#menu')"><i class="flaticon-menu"></i></button>
        <div class="popup" id="menu">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Game Options<i class="flaticon-x pull-right" ng-click="togglePopup('#menu')"></i></h3>
                </div>
                <div class="panel-body">
                    <div class="list-group margin-bottom-0">
                        <a class="list-group-item" ng-if="game.user_id == user.id" href="/#/games/{{ game.game_id }}/edit"><i class="fa fa-pencil-square-o"></i> Edit Master Game</a>
                        <a class="list-group-item" ng-if="game.user_id == user.id" href="/#/games/{{ game.id }}/edit"><i class="fa fa-pencil"></i> Edit Game Instance</a>
                        <a class="list-group-item" ng-if="game.user_id == user.id" href="/#/games/{{ game.id }}/end/edit"><i class="flaticon-square"></i> End Game</a>
                        <a class="list-group-item" ng-if="game.user_id == user.id" href="/#/games/{{ game.id }}/end/play"><i class="flaticon-loading"></i> Restart Game</a>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" ng-click="togglePopup('#menu')">Close</button>
                </div>
            </div>
        </div>
        <h1 class="no-top" ng-bind="game.name"></h1>
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="loaded" placeplay></div>
            </div><!-- col -->
        </div><!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div mapplay></div>
            </div><!-- col -->

            <div class="col-md-6">
                <div class="well overflow-hidden">
                    <div historyplay></div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
        <div class="row">
            <div class="col">

                <ul class="list-group" ng-if="uvent.options.length > 0">
                    <li class="link list-group-item" ng-repeat="option in uvent.options" ng-click="selectOption(option.result_id)">
                        {{ option.description }}
                        <i class="pull-right fa fa-angle-right"></i>
                    </li>
                </ul>
                <div ng-if="uvent.options.length == 0">
                    <button ng-if="uvent.result_id !== '-1' && uvent.result_id !== 0" class="btn btn-primary" ng-click="nextUvent(uvent.result_id)">Next <i class="fa fa-angle-right"></i></button>
                    <button ng-if="uvent.result_id == 0" class="btn btn-primary" ng-click="nextUvent(uvent.id)">Repeat <i class="fa fa-angle-right"></i></button>
                    <button ng-if="uvent.result_id == -1" class="btn btn-primary" ng-click="nextUvent(game.uvents[0].id)">Play Again <i class="fa fa-angle-right"></i></button>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- col -->
    <div class="col-md-4">
        <div playerplay></div>
    </div><!-- col -->
</div><!-- row -->
