<h1>{{ game.name }}</h1>
<p>{{ game.description }}</p>
<a ng-if="game.user_id == user.id" class="btn btn-primary" href="/#/games/{{ game.id }}/edit">Edit <i class="flaticon-pencil"></i></a>
<a class="btn btn-primary" href="/#/games/{{ game.id }}/play">Play <i class="flaticon-play"></i></a>
