<description>
   In a Star Trek/scifi-themed space adventure, an erotic power has taken over the minds (and sexual appetites) of the crew. In order to overcome this dark force, the captain and lieutenant must release their secret passions.
</description>
<icon>lick</icon>
<div class="roleplay">
   <p>[wife] enters.</p>
   <div class="character wife">[wife]</div>
   <div class="dialog">Captain, you asked to meet with me?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Yes, lieutenant. As you know, our ship is in great danger. The crew –</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">They've lost their minds. I know.</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Much more than their minds. They've lost their shame. Everywhere I look, they're making out with each other, tearing off each other's clothes, too busy in each other's beds to fulfill their duties.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">But why is this happening?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">That's what I wished to speak with you about. It appears that our ship has been seized by an eroticon.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">A what?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">An eroticon, one of the great mysteries of deep space. All we know is that these gaseous forces are extremely dangerous, deluding the reason of their prey by attacking beneath the waistline.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">But what can we do?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">You and I, lieutenant, are the only ones who haven't yet lost control. We must stay strong.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Whatever you ask, captain, I'll do.</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">I knew I could trust you.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">What are your orders?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Take off your uniform.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">What!?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">You promised to obey my orders.</div>
   <div class="character wife">[wife]</div>
   <div class="parenthetical">backing up</div>
   <div class="dialog">Not you too!</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Your eyes are so lovely. Your voice … your hair … lieutenant, let me see the rest of you.</div>
   <div class="character wife">[wife]</div>
   <div class="parenthetical">struggling to get away</div>
   <div class="dialog">Snap out of it, captain. You're not yourself.</div>
   <div class="character husband">[husband]</div>
   <div class="parenthetical">seizing her</div>
   <div class="dialog">Nonsense. I've never felt more alive.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Can't you see what's happening? You're being controlled by the eroticon.</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Ever since you walked into my quarters, I've felt a burning lust for you. Believe me, lieutenant, I tried to fight it, but then I realized … resistance is futile.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">No, Captain.</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">You don't understand. As long as we fight the eroticon, we'll be driven mad by our desires. Tell me the truth, lieutenant. Do you not want me?</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Captain!</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Answer me!</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Yes! Passionately. But –</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">Then there's only thing we can do. Give in.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">We can't be selfish. We must save the ship!</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">I'm trying to tell you. This is the only way <em>to</em> save the ship. We must release the sexual tension. Only then will be be immune to the power of the eroticon. Only then will we regain our minds.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">I see. But do you really think this will work?</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">What choice do we have? Lieutenant, for the sake of our ship, I order you to take off your clothes.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Aye-aye, captain.</div>
   <div class="character husband">[husband]</div>
   <div class="dialog">And make it sexy. If we're going to relieve all the tension, we must achieve the greatest possible orgasms.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">As you wish.</div>
   <p>[wife] performs a striptease for [husband].</p>
   <div class="character husband">[husband]</div>
   <div class="dialog">Very good, lieutenant. I always knew you were the best. In fact, I think you deserve a promotion. How would you like to be my personal secretary?</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Oh, captain, I'll do anything to get more of you.</div>
   <p>[husband] hands [wife] a container of lubrication.</p>
   <div class="character husband">[husband]</div>
   <div class="dialog">Then quickly, rub my penis. We have no time to waste.</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">With pleasure.</div>
   <p>They caress each other's genitals until both are ready for sex.</p>
   <div class="character husband">[husband]</div>
   <div class="dialog">Are you ready to experience the final frontier?</div>
   <div class="character wife">[wife]</div>
   <div class="dialog">Take me, captain!</div>
   <p>They have sex.</p>
</div>
