<description>
    A sexy scifi
</description>
<icon>eye-female</icon>
<div class="roleplay">
    <h2>Preparation</h2>
    <h3>[husband]</h3>
    <p>Wear at least one article of clothing.</p>
    <h3>[wife]</h3>
    <p>Wear some type of outer clothing (such as a dress), a bra, and panties.</p>
    <h2>The Script</h2>

    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Slave boy, I've grown tired of lounging around. I need someone to play with.</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">How may I please my master?</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">It would please me very much to torture you. You will do exactly as I say.</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">As you wish, my lady.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Of course you'll do as I wish. You're a lowly animal, unfit to be in my exalted presence.</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">Please forgive me for my unworthiness, my queen.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">I'll forgive you when I'm ready to forgive you. Now get down on your hands and knees like the animal you are.</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">It will be my pleasure.</div>
    </div>
    <p>[husband] gets on his hands and knees.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Did I tell you to talk? Now take off your clothes.</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">My lady?</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Do as I say, slave boy. And make it sexy.</div>
    </div>
    <p>[husband] strips off his clothes.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="parenthetical">if he isn't hard</div>
        <div class="dialog">How dare you come into my presence without an erect penis. Am I not sexy enough for you? Does my feminine beauty not fill you with desire? I demand that you get hard at once.</div>
    </div>
    <p>She waits for him to harden, assisting if necessary, though without touching.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="parenthetical">if or once he's hard</div>
        <div class="dialog">Mmm, you're nice and hard. And I should hope so. Don't you dare lose your erection in my presence ... unless you wish to insult my sexiness. I have ways of disciplining soft penises.</div>
    </div>
    <p>[wife] begins to read a book, ignoring [husband] until he gets soft.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">How dare you, slave-boy! Insult my sexiness will you? What, do I have to do everything myself? Come here. I'll show you the kind of hardness my beauty demands.</div>
    </div>
    <p>[wife] rubs [husband] until he's hard.</p>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">Thank you, master. I'm sorry I disappointed you.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Sorry's not good enough. Your punishment is to massage my feet.</div>
    </div>
    <p>He massages her feet, and she goes back to reading her book until he softens again.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Slave boy! Did I not demand that you stay hard?</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">Please forgive me, oh mighty one. I tried my hardest.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">So I'm not sexy enough, huh?</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">You are beyond beautiful.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Oh, I see, I'm too much. My feminine curves are more than your poor, little penis can bear.</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">I am unworthy, oh hot one.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Well then, I'll just have to give you a lesson you'll never forget. If you think I'm sexy now, what if showed you this?</div>
    </div>
    <p>[wife] lifts up her dress, revealing her panties. She moves her hips eroticly.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Are you learning your lesson, you filthy animal?</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">You are too kind to my unworthy eyes.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Good, because you need to be punished. Now take some of this.</div>
    </div>
    <p>[wife] stuffs her bum into his face.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Are you hard yet? I don't care, because I'm not threw with you. Lie down.</div>
    </div>
    <p>He lies down, and she strips down to her bra and panties.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">If you thought that was too much, wait till I give you some of these.</div>
        <p>[wife] presses and shakes her breasts against [husband]'s face.</p>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Go on. Lick. Mmm. Had enough yet? No, you still need to be punished.</div>
    </div>
    <p>[wife] takes off her bra, allowing [husband] to suck on her breasts.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Suck. Harder. Harder! Have you learned your lesson yet?</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">Yes, my goddess. I will try to stay hard in your presence.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Try? You're trying <em>me</em>, slave boy. I'll make you so hard, you'll never go soft again.</div>
    </div>
    <p>[wife] strips off everything and pretends to be taking a shower, closing her eyes, massaging her entire body (especially her breasts), and moaning in ecstacy.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Oh, slave boy ... slave boy! Had enough yet?</div>
    </div>
    <div class="m">
        <div class="character husband">[husband]</div>
        <div class="dialog">I am at your mercy.</div>
    </div>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">That's right, you are. But I'm not through with you yet. You will pleasure me as I have pleasured you. You will fondle my entire body. Now.</div>
    </div>
    <p>As [husband] fondles [wife] ...</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Neck me.</div>
    </div>
    <p>After [husband] has necked [wife] for awhile ...</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Nibble on my ears.</div>
    </div>
    <p>After [husband] has nibbled on [wife]'s ears for awhile ...</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Enough. For your final punishment, we're going to stuff your penis into a place it couldn't possibly go soft. But first, you're going to get both of us ready.</div>
    </div>
    <p>[wife] hands [husband] some lubricant. [husband] applies the lubricant to their genitals.</p>
    <div class="f">
        <div class="character wife">[wife]</div>
        <div class="dialog">Now go on. Thump me. We'll see if you're man enough to make me happy. Maybe then I'll forgive you.</div>
    </div>
    <p>They have sex.</p>
</div>
