<description>
    With no parents in sight, a teenage beauty fulfills a boy’s every desire, taking sex education to a whole new level.
</description>
<icon>thong</icon>
<div class="roleplay">
    <div class='section'>
       <p class="action">[husband] is home alone. There's a knock at the door. In walks a beautiful girl in a tank top and short skirt.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Hi, I'm [wife], your new babysitter. What's your name?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">[husband], and I'm way too old for a babysitter. My mom and dad are crazy.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I know what you mean, [husband]. If I didn't really need the money, I would have told them no. Well, that's not entirely true.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">What do you mean?</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Just between the two of us, I've been hoping your parents would call me for a long time.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Why?</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Because you are the cutest boy in the neighborhood. My friends are totally jealous of me right now.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Thanks, I guess ...</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Wow, I can't believe I just told you that. Now that we're off to an awkward start, let's see what's on the to-do list. Hmm ... did you have dinner yet?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Yes.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Did you take a bath?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">No.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">All right then, hop to it.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">I don't want to take a bath.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">No? I love to take baths.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Well I don't.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="parenthetical">leaning in close</p>
          <p class="dialog">Come on, [husband]. For me?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="parenthetical">beginning to be turned on</p>
          <p class="dialog">Okay.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Here, I'll help you take off your shirt.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">You're going to watch?</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">It says here on the list that I have to make <em>sure</em> you take a bath. Come on. There's a big boy. Now let's take off the pants.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">I really don't think you're supposed to watch.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I'm just doing my job. What's the matter, chicken?</p>
       </div>
       <p class="action">With her help, he nervously takes off his pants.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Was that so bad? Now we just need to get rid of the underwear.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">But I ...</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="parenthetical">leaning close</p>
          <p class="dialog">[husband], I really want to see what you've got under there. You don't want to disappoint me, do you?</p>
       </div>
    </div>
    <div class='section'>
       <p class="action">[husband] takes off his underwear.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Wow, [husband], the girls were right about you. You <em>are</em> adorable. Now just lie down and relax.</p>
       </div>
       <p class="action">Still with reservations, [husband] lies down, and [wife] begins to run a washcloth all over his body.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Mmm, doesn't that feel good?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">A little, I guess.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Uh-oh, you've got something on your neck, and it's not coming off. Hold still. We're going to have to do this the old-fashioned way.</p>
       </div>
       <p class="action">She necks him.</p>
    </div>
    <div class='section'>
       <div class='her'>
          <p class="character">[wife]</p>
          <p class="dialog">Oh, and you've also got something on your ear.</p>
       </div>
       <p class="action">She nibbles his ear.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Good as new. Now we only have one more spot, the most important of all.</p>
       </div>
       <p class="action">She begins to rub his penis with lubricant.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">It's always important to keep your penis clean, because you never know when you're going to need to use it. Mmm, you sure are hard. Someday you'll make some lucky girl really happy.</p>
          <p class="parenthetical">reflects</p>
          <p class="dialog">Did I just say all that? Oh my goodness, I can't believe how I'm acting tonight. You just have a way loosening me up. Here.</p>
       </div>
       <p class="action">She places his hand over his penis.</p>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I shouldn't be seeing that, and you should be doing this, not me. Just make sure you gent plenty of lubrication, because it's good for the skin.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Okay.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Well, the last thing on the list is to tuck you in for bed, but I'm not ready for that, are you?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">No.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Hmm, since I do have a captive audience, would you like a little entertainment?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Yes.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I need to practice my new cheer leading routine. But it's kind of naughty. Do you mind?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">I'll look away if it gets too naughty.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">All right. Tell me what I can improve on, okay?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Okay.</p>
       </div>
       <p class="action">She does an exotic dance, stripping down to her underwear.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">What do you think?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">That was awesome.</p>
       </div>
    </div>
    <div class='section'>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">You're sweet. Now I better tuck you in.</p>
       </div>
       <p class="action">She covers him with a blanket.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Good night, [husband].</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Good night, [wife].</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I don't know about you, but I can never sleep until I've gotten a good night kiss. Would you like one?</p>
       </div>
    </div>
    <div class='section'>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Yes.</p>
       </div>
       <p class="action">They kiss.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Mmm, that felt nice. You know, I've really been hoping for a chance to practice my kissing, and with you being such a cute boy, would you mind if we do it a few more times?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">I think that would be okay.</p>
       </div>
       <p class="action">They make out.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Wow. I had no idea kissing could be so amazing. Could I ask one more thing?</p>
       </div>
    </div>
    <div class='section'>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Go ahead.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I know this might sound crazy, but I've been studying sex in my health class, and I kind of want to see what it's like.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">That doesn't sound so crazy.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">I think it might turn me on to show you my body. Have you ever seen what's beneath a girl's panties?</p>
       </div>
    </div>
    <div class='section'>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">No.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Would you like to?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Yes.</p>
       </div>
       <p class="action">She takes off her panties, unabashedly showing off her bum and vagina.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Mmm, [husband], I really like how you look at me. Can I show you my breasts?</p>
       </div>
    </div>
    <div class='section'>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Yes.</p>
       </div>
       <p class="action">She takes off her bra.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Will you touch them?</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Yes.</p>
       </div>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">And now a little lower ... a little lower ... a little lower. Yeah, that's the spot. I think I need some lubricant too. Here, let's rub each other.</p>
       </div>
    </div>
    <div class='section'>
       <p class="action">They rub each other's genitals.</p>
       <div class="her">
          <p class="character">[wife]</p>
          <p class="dialog">Oh, [husband] ... let's go all the way.</p>
       </div>
       <div class="him">
          <p class="character">[husband]</p>
          <p class="dialog">Okay.</p>
       </div>
       <p class="action">They have sex.</p>
    </div>
</div>
