<description>
    A fobidden and unlikely love affair between a lonely princess and her adoring servant. This gentle and romantic role-play is aimed at fulfilling her fantasies.
</description>
<icon>high-heel</icon>
<div class="roleplay">
    <div class="section">
        <div class="action">
            [wife], a princess, is in her bedchamber preparing for her wedding. She lays out lingerie and a dress on her bed. [husband], a servant, enters the bedchamber.
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                You sent for me, [wife]?
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Yes. The prince is on his way and I need to get ready. My maids are all busy. Would my favorite manservant, [husband], be willing to help?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Anything for you, [wife].
            </div>
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="parenthetical">
                points to lingerie and dress
            </div>
            <div class="dialog">
                I just need to get changed into these. For the wedding this afternoon.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                [wife], are you sure you want me to see you naked?
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                It doesn’t bother me. Does it bother you?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Of course not, I just thought for your sake...
            </div>
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                For my sake, I need your help. Please.
            </div>
        </div>
        <div class="action">
            [wife] stands as [husband] undresses her and dresses her back up in the lingerie and dress. He smiles and she notices him smiling.
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="parenthetical">
                playfully
            </div>
            <div class="dialog">
                Why are you smiling?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Please forgive me, [wife]. You are the most beautiful woman in the world. The prince is a lucky man.
            </div>
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                I wish I felt like a lucky girl. I’ve never even met the man. Today he’s going to take me to his faraway kingdom. My life is over.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                No, [wife]. You’re just nervous. Here, let me help you relax.
            </div>
        </div>
        <div class="action">
            [husband] massages [wife]
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Thank you, [husband]. You always know how to make me feel better.
            </div>
        </div>
    </div>
    <div class="section">
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="parenthetical">
                softly, to himself
            </div>
            <div class="dialog">
                You have the most lovely skin.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                What?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                I’m sorry. I mean, I’ll do anything to help my princess be happy.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Thank you. You do make me happy. You have always made me happy.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                I have been happy to be your servant, [wife].
            </div>
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Could you help me relax my whole body? Please?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Yes, of course.
            </div>
        </div>
        <div class="action">
            [husband] massages [wife] everywhere but her private parts.
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                That feels so nice, thank you. Would you be willing to do a deeper massage? I know it would really help me.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Of course.
            </div>
        </div>
        <div class="action">
            [wife] takes off her dress.
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Oh, I didn’t realize... I don’t think that’s a good idea, [wife].
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                You don’t need to worry about anything, [husband]. Please.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Yes, my princess.
            </div>
        </div>
    </div>
    <div class="section">
        <div class="action">
            [husband] turns his head away and rubs [wife] everywhere but her private parts
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                What’s wrong? Why are you turning your head away?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Forgive me, you are just so beautiful. I don’t deserve to look at you.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                That is not true at all. Please, look at me.
            </div>
        </div>
        <div class="action">
            [husband] looks at [wife] all over her body
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                I love your eyes. They are the most breathtaking eyes I’ve ever seen.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                They are nothing compared to yours.
            </div>
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                I need to ready my whole body. Do you understand?
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Yes.
            </div>
        </div>
        <div class="action">
            [wife] takes [husband]’s hand and guides him to rub her breasts, vagina, and anywhere else in ways that help to stimulate her.
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                I love how you touch me.
            </div>
        </div>
    </div>
    <div class="section">
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Well, I think you’re ready now. My job is done.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                [husband], wait. I don’t love the prince.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                You can learn to love him, princess.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Please, call me [wife]. I no longer want to be a princess. There is only one man that I love, and no one else will do.
            </div>
        </div>
        <div class="action">
            [wife] embraces and kisses [husband], then pulls him onto the bed
        </div>
    </div>
    <div class="section">
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Oh, [wife]!
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                I have always loved you.
            </div>
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                I have always loved you, too.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Then we will run away together. After we finish what we’ve started.
            </div>
        </div>
        <div class="action">
            [wife] takes off [husband]’s clothes and rubs his penis
        </div>
    </div>
    <div class="section">
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="parenthetical">
                points at lingerie
            </div>
            <div class="dialog">
                You are amazing. Will you do the honors of removing these from me?
            </div>
        </div>
        <div class="action">
            [husband] takes off [wife]’s lingerie.
        </div>
        <div class="him">
            <div class="character">
                [husband]
            </div>
            <div class="dialog">
                Princess. I mean, [wife]. You will always be a princess to me.
            </div>
        </div>
        <div class="her">
            <div class="character">
                [wife]
            </div>
            <div class="dialog">
                Oh, [husband].
            </div>
        </div>
        <div class="action">
            [wife] pulls [husband] onto the bed and they start having sex.
        </div>
    </div>
</div>
