<description>In this playful battle of the sexes, sexy good clashes with seductive evil. And though these two are arch rivals, all they really want is each other.</description>
<icon>mask</icon>
<h2>Preparation</h2>
<h3>[husband]</h3>
<p>Dress up as a villain, criminal, or burglar: black clothes, pointy caller, chains, etc.</p>
<h3>[wife]</h3>
<p>Dress up as a supehero (tights, spandex, cape, etc.) with lingerie beneath.</p>
<div class="roleplay">
    <h2>The Script</h2>
    <p>[husband], a villain, is in the act of stealing a jewel. [wife], a superhero, enters and stops him in the act. Everything [husband] says has a seducing tone.</p>
    <div class="character husband">[husband]</div>
    <div class="dialog">So, [wife], you’ve come to try to stop me.</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">[husband]. You’ve lowered yourself to petty crimes again?</div>
    <div class="character husband">[husband]</div>
    <div class="dialog">Petty? Ouch. Then perhaps you’ve lowered yourself to stopping petty crimes?</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">Save your words. You’re coming with me.</div>
    <p>[wife] comes behind [husband] to arrest him. [husband] allows [wife] to take his hands behind his back.</p>
    <div class="character husband">[husband]</div>
    <div class="dialog">I’m all yours.</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">So, you’re not going to put up a fight?</div>
    <div class="character husband">[husband]</div>
    <div class="dialog">Do you want a fight?</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">I don’t want anything from you.</div>
    <p>[husband] pulls himself away from her grasp.</p>
    <div class="character husband">[husband]</div>
    <div class="dialog">You’re attractive when you’re feisty. </div>
    <div class="character wife">[wife]</div>
    <div class="dialog">Am I going to have to take you down?</div>
    <div class="character husband">[husband]</div>
    <div class="dialog">Oh, yes, please do!</div>
    <p>[wife] pins down [husband]. She has to get on him to keep him down. He starts to caress her.</p>
    <div class="character husband">[husband]</div>
    <div class="dialog">I guess I’ve lost.</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">You’ll think twice before messing with truth and justice again.</div>
    <p>[husband] pulls [wife] into a fierce kiss. They kiss passionately.</p>
    <div class="character wife">[wife]</div>
    <div class="dialog">Let’s check you for weapons.</div>
    <p>[wife] undresses [husband].</p>
    <div class="character husband">[husband]</div>
    <div class="dialog">You know I’ve got a gun. And it’s ready to fire.</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">We’ll have to disarm you.</div>
    <p>[wife] rubs [husband]’s penis and genitals.</p>
    <div class="character husband">[husband]</div>
    <div class="dialog">You’re no match for me.</div>
    <div class="character wife">[wife]</div>
    <div class="dialog">Wanna bet?</div>
    <p>[wife] undresses to lingerie. She holds down [husband]’s arms and rubs her body against his.</p>
    <div class="character wife">[wife]</div>
    <div class="dialog">You have the right to remain silent.</div>
    <p>[wife] kisses [husband] passionately.</p>
    <p>[husband] pulls off [wife]’s lingerie and rubs her breasts and genitals.</p>
    <div class="character wife">[wife]</div>
    <div class="dialog">Now to really check you out.</div>
    <p>When both people are ready, [wife] initiates intercourse.</p>
</div>
