<div class="form-group" data-model="dialog">
    <label><i class="flaticon-comment"></i> Dialog</label>
    <ul class="list-group" ng-if="unit.dialogs.length > 0">
        <li ng-repeat="dialog in unit.dialogs" class="list-group-item">
            <span ng-click="edit(dialog)" class="link">{{ dialog.body_short }}</span>
            <i class="link flaticon-x pull-right" ng-click="delete(dialog)"></i>
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="createDialog(unit.id)"><i class="flaticon-plus"></i> Add Dialog</button>
    <img ng-if="loading_dialog" src="/img/loading.gif">
    <div id="dialogForm" class="popup" data-model="dialog">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="flaticon-comment"></i> Edit Dialog<span class="x pull-right" ng-click="togglePopup('#dialogForm')">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Content</label>
                    <textarea ng-model="unit.body" class="form-control" ng-blur="update('body')"></textarea>
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#dialogForm')">Close</button>
            </div><!-- panel-footer -->
        </div><!-- panel -->
    </div><!-- dialogForm -->
</div><!-- form-group -->
