<div id="dialogPlay" class="popup" data-model="dialog">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="flaticon-comment"></i> {{ character.first_name }} says:<span class="x pull-right" ng-click="togglePopup('#dialogForm')">&times;</span></h3>
        </div>
        <div class="panel-body">
            <i class="{{ character.icon }} pull-left inline-block margin-right-1 margin-bottom-1" style="font-size:100px;"></i>
            {{ dialog.body }}
        </div><!-- panel-body -->
        <div class="panel-footer">
            <button type="button" class="btn btn-default" ng-click="togglePopup('#dialogPlay')">Close</button>
        </div><!-- panel-footer -->
    </div><!-- panel -->
</div><!-- dialogPlay -->
