<div class="form-group">
    <label>Objects</label>
    <ul class="list-group" ng-if="unit.objects.length > 0">
        <li ng-repeat="object in unit.objects" class="list-group-item">
            ({{ object.id }}) <span ng-click="edit(object)" class="link">{{ object.name }}</span>
            <i class="link flaticon-x pull-right" ng-click="delete(object)"></i>
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="createObject()"><i class="flaticon-plus"></i> Add Object</button>
    <img ng-if="loading_object" src="/img/loading.gif">
    <div id="objectForm" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Object<span class="x pull-right" ng-click="togglePopup('#objectForm')">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model="unit.name" class="form-control" ng-blur="update('name')">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea ng-model="unit.description" class="form-control" ng-blur="update('description')"></textarea>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" ng-checked="unit.takeable" ng-true-value="'1'" ng-false-value="'0'" ng-blur="update(unit)">
                        Takeable
                    </label>
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#objectForm')">Close</button>
            </div>
        </div><!-- panel -->
    </div><!-- objectForm -->
</div>
