<div id="objectShow" class="popup">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="flaticon-user"></i> <span class="x pull-right" ng-click="togglePopup('#objectForm')">&times;</span></h3>
        </div>
        <div class="panel-body">

            <i class="{{ object.icon }} pull-left margin-right-1" style="font-size:150px;"></i>
            <div>{{ object.description }}</div>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <button type="button" class="btn btn-default" ng-click="togglePopup('#objectShow')">Close</button>
        </div>
    </div><!-- panel -->
</div><!-- objectForm -->
