<div class="row">
    <div class="col-md-9">
        <div class="form-group" id="cc-group">
            <img style="width:100px; margin-bottom:5px;" src="http://i76.imgup.net/accepted_c22e0.png">
            <input
                type="text"
                class="form-control"
                required="required"
                ng-model="number"
                data-parsley-type="number"
                maxlength="16"
                data-parsley-trigger="change focusout"
                data-parsley-class-handler="#cc-group"
                placeholder="Credit Card Number"
            >
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group" id="ccv-group">
            <i
                style="position: relative; bottom: -5px;"
                class="fa fa-question-circle pull-right cursor-pointer info"
                data-toggle="popover"
                data-content="The 3 or 4 digit number usually found on the back or corner of the card."
            ></i>
            <input
                style="position: relative; bottom: -12px;"
                type="text"
                class="form-control"
                required="required"
                ng-model="cvc"
                data-parsley-type="number"
                data-parsley-trigger="change focusout"
                maxlength="4"
                data-parsley-class-handler="#ccv-group"
                placeholder="CVC"
            >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group" id="exp-m-group">
            <select
                class="form-control"
                required="required"
                ng-model="expMonth"
                placeholder="Exp. Month"
            >
                <option selected disabled value="">Exp. Month</option>
                <option ng-repeat="month in months">{{ month }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" id="exp-y-group">
            <select
                class="form-control"
                required="required"
                ng-model="expYear"
                placeholder="Exp Year"
            >
                <option selected disabled value="">Exp. Year</option>
                <option ng-repeat="year in years">{{ year }}</option>
            </select>
        </div>
    </div>
</div>
