<div class="form-group" data-model="character" id="place">
    <label><i class="flaticon-user"></i> Characters</label>
    <ul class="list-group" ng-if="unit.characters.length > 0">
        <li ng-repeat="character in unit.characters" class="list-group-item">
            <i class="{{ character.icon }}" style="font-size:25px;"></i>
            ({{ character.id }}) <span ng-click="edit(character)" class="link">{{ character.name }}</span>
            <i class="link flaticon-x pull-right" ng-click="delete(character)"></i>
        </li>
    </ul>
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="createCharacter(unit.id)"><i class="flaticon-plus"></i> New Character</button>
        <button type="button" class="btn btn-default" ng-click="characterLibrary()"><i class="flaticon-menu"></i> Character Library</button>
    </div>
    <img ng-if="loading_character" src="/img/loading.gif">
    <div id="characterForm" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="flaticon-user"></i> {{unit.first_name}} {{unit.last_name}}<span class="x pull-right" ng-click="togglePopup('#characterForm')">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div mgiconedit></div>

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="unit.first_name" ng-blur="update('first_name')">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="unit.last_name" ng-blur="update('last_name')">
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <select type="textarea" class="form-control" ng-model="unit.gender" ng-blur="update('gender')">
                        <option value="f">Female</option>
                        <option value="m">Male</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="unit.description" ng-blur="update('description')"></textarea>
                </div>

                <div logicedit></div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#characterForm')">Close</button>
            </div>
        </div><!-- panel -->
    </div><!-- characterForm -->
</div>
