<div id="characterShow" class="popup">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="flaticon-user"></i> {{ character.name }} <span class="badge">{{ character.gender == 'f' ? 'Female' : 'Male' }}</span><span class="x pull-right" ng-click="togglePopup('#characterForm')">&times;</span></h3>
        </div>
        <div class="panel-body">

            <i class="{{ character.icon }} pull-left margin-right-1" style="font-size:150px;"></i>
            <div>{{ character.description }}</div>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <button type="button" class="btn btn-default" ng-click="togglePopup('#characterShow')">Close</button>
        </div>
    </div><!-- panel -->
</div><!-- characterForm -->
