<div class="row">
    <div style="max-width: 400px; margin: 0 auto;">
        <img ng-show="loading" src="/img/loading.gif">
        <div ng-show="!loading">
            <div class="panel panel-primary align-center">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-lock"></i> Your Password</h2>
                </div>
                <div class="panel-body">
                    <p class="alert alert-warning">Please add a password for your account.</p>
                    <div class="align-left">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input
                                    class="form-control"
                                    type="password"
                                    ng-model="password"
                                    placeholder="New password"
                                    required=""
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input
                                    class="form-control"
                                    type="password"
                                    ng-model="password_confirm"
                                    placeholder="Type it again"
                                    required=""
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div
                        ng-show="password_confirm && password !== password_confirm"
                        class="alert alert-danger"
                    >Passwords do not match.</div>
                    <button
                        ng-click="updatePassword()"
                        ng-disabled="
                            !password
                            || !password_confirm
                            || password !== password_confirm
                            || password_confirm.length < 6
                        "
                        class="btn btn-default btn-primary"
                    >Continue</button>
                    <img ng-show="loading" src="/img/loading.gif">
                </div>
            </div>

        </div><!-- loading -->
    </div><!-- col -->
</div>
