<link rel="stylesheet" href="/css/dice.css">
<style class="animation wrap0">
	.wrap0 .cube {
		margin:0 auto;
		position: relative;
		width: 200px;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}
</style>
<style class="animation wrap1">
	.wrap1 .cube {
		margin:0 auto;
		position: relative;
		width: 200px;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}
</style>
<style class="animation wrap2">
	.wrap2 .cube {
		margin:0 auto;
		position: relative;
		width: 200px;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}
</style>
<div class="clear"></div>
<h1 class="pull-left">Love Dice</h1>
<select
	class="margin-left-4 form-control pull-left width-auto"
	ng-change="reload()"
	ng-model="set"
>
	<option ng-repeat="(key, value) in dice">{{ key }}</option>
</select>
<img ng-show="loading" src="/img/loading.gif">
<div ng-show="!loading" class="align-center">
	<div id="viewport">
		<div ng-repeat="(die_index, die) in dice[set]" class="cube-container">
			<div class="wrap" id="wrap{{ $index }}">
				<div class="label label-default">{{ die_index }}</div>
				<br>
				<br>
				<br>
				<div class="cube" id="cube{{ $index }}">
					<div ng-repeat="(side_index, side) in die" class="cube-{{ sides[side_index] }}">{{ side }}</div>
				</div><!-- cube -->
			</div><!-- wrap -->
		</div>
	</div><!-- viewport -->
	<div class="clear"></div>
	<button id="rollDice" class="btn btn-primary">Roll</button>
	<!-- <div class="clear"></div>
	<div id="editDice" class="inline-block margin-auto">
		<div ng-repeat="(die_index, die) in dice[set]" class="pull-left">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<input ng-model="dice[set][die_index]" class="form-control" type="text">
				</div>
				<div class="panel-body">
					<div ng-repeat="(side_index, side) in die" class="margin-bottom-4">
						<input type="text" value="{{ user.first_name }}" ng-model="dice[set][die_index][side_index]" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
