<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-bar-chart"></i> Stats
        </h2>
    </div>
    <div class="panel-body align-center" ng-show="loadingStats">
        <img src="/img/loading.gif">
    </div>
    <table class="table table-striped align-center" ng-show="!loadingStats">
        <thead class="align-center">
            <tr>
                <th></th>
                <th class="align-center">Rate</th>
                <th class="align-center">Last Time</th>
                <th class="align-center">Grade</th>
            </tr>
        </thead>
        <tbody class="align-center">
            <tr ng-repeat="stat in userStats">
                <th>{{ stat.name }}</th>
                <td>{{ stat.rate }}</td>
                <td>{{ stat.since_last }}</td>
                <td>{{ stat.grade }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer align-center">
        <a href="/#/user-stats" class="btn btn-default">Set Goals</a>
    </div>
</div><!-- panel -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-line-chart"></i> Reports
        </h2>
    </div>
    <div class="panel-body align-center" ng-show="loadingStats">
        <img src="/img/loading.gif">
    </div>
    <div class="panel-body" ng-show="!loadingStats">
        <select ng-init="report = 'sex'" ng-model="report" ng-change="getUserStats()" class="form-control">
            <option value="sex">Sex</options>
            <option value="m_orgasms">{{ user.husband }}'s Orgasms</options>
            <option value="f_orgasms">{{ user.wife }}'s Orgasms</options>
            <option value="quality_time">Quality Time</options>
            <option value="romantic_date">Dates</options>
        </select>
        <div id="reportContainer"></div>
    </div>
</div>
