<h1>Our Goals and Stats</h1>
<div class="alert alert-warning">
    Here you can edit your goals. {{ user.spouse.first_name }} must log in to her account to edit {{ user.spouse.possessive }} goals.
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-bar-chart"></i> Goals and Stats
        </h2>
    </div>
    <div class="panel-body align-center" ng-show="loadingStats">
        <img src="/img/loading.gif">
    </div>
    <div class="div-table table-striped" ng-show="!loadingStats">
        <div class="tr thead">
            <div class="th align-center"></div>
            <div class="th align-center">My Goal</div>
            <div class="th align-center">{{ user.spouse.first_name }}'s Goal</div>
            <div class="th align-center">Compromise</div>
            <div class="th align-center">Rate</div>
            <div class="th align-center">Last Time</div>
            <div class="th align-center">Grade</div>
        </div>
        <div class="tr align-center" ng-repeat="stat in userStats.results">
            <div class="th">{{ stat.name }}</div>
            <div class="td" ng-class="{ 'hidable-md' : stat.goal_user == '-' }">
                <label class="showable-md">My Goal:</label>
                <div ng-if="!stat.gender || user.gender == stat.gender" class="input-group" style="max-width:160px; margin:0 auto;">
                    <span class="input-group-addon">
                        Every
                    </span>
                    <input type="text" class="form-control" ng-model="unit[stat.key]" ng-blur="updateGoal(stat.key, unit)">
                    <span class="input-group-addon">
                        days
                    </span>
                </div>
            </div>
            <div class="td" ng-class="{ 'hidable-md' : stat.goal_spouse == '-' }">
                <label class="showable-md">{{ user.spouse.first_name }}'s Goal:</label>
                <span ng-if="stat.goal_spouse !== '-'">
                    Every {{ stat.goal_spouse }} days
                </span>
                <span ng-if="stat.goal_spouse == '-'">
                    {{ stat.goal_spouse }}
                </span>
            </div>
            <div class="td" ng-class="{ 'hidable-md' : stat.goal_compromise == '-' }">
                <label class="showable-md">Compromise:</label>
                {{ stat.goal_compromise }}
            </div>
            <div class="td" ng-class="{ 'hidable-md' : stat.rate == '-' }">
                <label class="showable-md">Rate:</label>
                {{ stat.rate }}
            </div>
            <div class="td" ng-class="{ 'hidable-md' : stat.since_last == '-' }">
                <label class="showable-md">Last Time:</label>
                {{ stat.since_last }}
            </div>
            <div class="td" ng-class="{ 'hidable-md' : stat.grade == '-' }">
                <label class="showable-md">Grade:</label>
                {{ stat.grade }}
            </div>
        </div>
    </div><!-- table -->
</div><!-- panel -->
