<div class="form-group" data-model="effect">
    <label>Effects</label>
    <ul class="list-group" ng-class="{ 'margin-top-0' : unit.effects.length == 0 }">
        <li ng-repeat="effect in unit.effects" class="list-group-item">
            <i ng-click="delete(effect)" class="fa fa-times pull-right x"></i>
            <span class="link" ng-click="edit(effect)" ng-bind-html="effect.name"></span>
        </li>
    </ul>
    <button ng-click="createEffect()" class="btn btn-default"><i class="flaticon-plus"></i> Add Effect</button>
    <img ng-if="loading_effect" src="/img/loading.gif">
    <div id="effectForm" data-model="effect" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading overflow-hidden">
                <h3 class="panel-title">
                    <i class="flaticon-idea"></i>
                    Edit Effect
                    <i class="x pull-right flaticon-x" ng-click="togglePopup('#effectForm')"></i>
                </h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <table>
                        <tr>
                            <td style="width:25%; padding-right:.5em;">
                                <select ng-model="unit.type" class="form-control" ng-blur="update('type')">
                                    <option value="add">Add</option>
                                    <option value="change">Change</option>
                                    <option value="remove">Remove</option>
                                    <option value="trigger">Trigger</option>
                                </select>
                            </td>
                            <td style="width:50%; padding:0 .5em 0 .5em;">
                                <select ng-model="unit.scope" class="form-control" ng-blur="update('scope')">
                                    <option ng-if="unit.type !== 'trigger' && unit.type !== 'add'" value="all">All units of the type</option>
                                    <option value="specific">A specific</option>
                                    <option ng-if="unit.type !== 'trigger' && unit.type == 'add'" value="qty">X number of the type</option>
                                    <option ng-if="unit.type !== 'trigger' && unit.type !== 'add'" value="current">The current</option>
                                </select>
                            </td>
                            <td style="width:25%; padding-left:.5em;">
                                <select ng-model="unit.subject_type" class="form-control" ng-blur="update('subject_type')">
                                    <option ng-if="unit.type !== 'trigger'" value="character">Character</option>
                                    <option ng-if="unit.type == 'trigger'" value="dialog">Dialog</option>
                                    <option ng-if="unit.type !== 'trigger'" value="object">Object</option>
                                    <option ng-if="unit.type == 'change'" value="place">Place</option>
                                    <option ng-if="unit.type !== 'trigger'" value="player">Player</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-if="
                    unit.type == 'trigger' && unit.subject_type == 'dialog' ||
                    parent.model == 'effect' && parent.type == 'trigger' && parent.subject_type == 'dialog' ||
                    grandparent.model == 'effect' && grandparent.type == 'trigger' && grandparent.subject_type == 'dialog'"
                    dialogedit>
                </div>

                <div ng-if="unit.scope == 'qty'" class="form-group">
                    <label>Where X =</label>
                    <input type="number" ng-model="unit.qty" class="form-control" ng-blur="update('qty')">
                </div>

                <div ng-if="unit.scope == 'specific' && unit.type !== 'dialog'" class="form-group">
                    <table ng-if="unit.subject_type !== 'dialog'" class="full-width">
                        <tr>
                            <td style="width:50%; padding-right:.5em">
                                <label>With an ID that is</label>
                                <select type="text" ng-model="unit.operator" class="form-control" ng-blur="update('operator')">
                                    <option value="==">=</option>
                                    <option value="!=">&ne;</option>
                                </select>
                            </td>
                            <td style="width:50%; padding-left:.5em;">
                                <label>To</label>
                                <input type="text" ng-model="unit.subject_id" class="form-control" ng-blur="update('subject_id')">
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-show="unit.type == 'change'" class="form-group">
                    <table>
                        <tr>
                            <td style="width:50%; padding-right:.5em;">
                                <label>By setting the property</label>
                                <select ng-model="unit.property_index" class="form-control" ng-click="getSubjectId()" ng-blur="update('property_index')">
                                    <option value="{{ $index }}" ng-repeat="property in game.properties[unit.subject_type]">{{ property.name }}</option>
                                </select>
                            </td>
                            <td>
                                <label>To</label>
                                <select ng-model="unit.rand" ng-options="option.value as option.name for option in unit.rand_options" class="form-control" ng-blur="update('rand')"></select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-if="unit.type == 'change' && unit.rand == 0" class="form-group">
                    <select ng-model="unit.propertyOption_id" ng-options="option.id as option.name for option in game.properties[unit.subject_type][unit.property_index].options" class="form-control" ng-blur="update('propertyOption_id')"></select>
                    <input ng-if="game.properties[unit.subject_type][unit.property_index].options.length == 0" ng-model="unit.subject_val" type="text" class="form-control" ng-blur="update('subject_val')">
                </div>

                <div ng-if="unit.type == 'change' && unit.rand == 1" class="form-group">
                    <table>
                        <tr>
                            <td style="width:50%; padding-right:.5em;">
                                <label>Between (Min)</label>
                                <input type="number" ng-model="unit.min" class="form-control" ng-blur="update('min')">
                            </td>
                            <td style="width:50%; padding-left:.5em;">
                                <label>And (Max)</label>
                                <input type="number" ng-model="unit.max" class="form-control" ng-blur="update('max')">
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-if="unit.type == 'add' || unit.type == 'remove'" class="form-group">
                    <table>
                        <tr>
                            <td style="width:50%; padding-right:.5em;">
                                <label>Within</label>
                                <select ng-model="unit.destination_type" class="form-control" ng-blur="update('destination_type')">
                                    <option value="current_place">The current space</option>
                                    <option value="place">The space ...</option>
                                    <option ng-if="unit.subject_type == 'Object'" value="object">An Object ...</option>
                                    <option ng-if="unit.subject_type == 'Object'" value="current_player">The current Player's inventory</option>
                                    <option ng-if="unit.subject_type == 'Object'" value="character">A Character's inventory ...</option>
                                    <option ng-if="unit.subject_type == 'Object'" value="player">A Player's inventory ...</option>
                                </select>
                            </td>
                            <td style="width:50%; padding-left:.5em;">
                                <div ng-if="unit.destination_type == 'place' || unit.destination_type == 'character' || unit.destination_type == 'player'">
                                    <label>With the ID</label>
                                    <input type="number" ng-model="unit.destination_id" class="form-control" ng-blur="update('destination_id')">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#effectForm')">Close</button>
            </div><!-- panel-footer -->
        </div><!-- panel -->
    </div><!-- popup -->
</div>
