<style>hr, footer { display: none; }</style>
<h1 class="pull-left margin-right-2">{{ person }}
	<span ng-show="person !== 'My'">'s</span>
	Surveys
</h1>
<select
	class="form-control pull-left width-auto pull-left"
	ng-model="category_id"
	ng-show="!loading"
	ng-disabled="loadingQuestion"
	ng-change="getAnswers()"
	ng-options="category.id as category.name for category in categories"
>
</select>
<img ng-show="loading" src="/img/loading.gif">
<div class="clear"></div>
<br>
<div ng-show="!loading">
	<div class="panels col-xl-4 col-lg-6 col-md-8 col-sm-12 align-center">
		<div
			class="alert alert-warning align-left overflow-hidden"
			ng-show="person !== 'My' && answers.length == 0"
		>
			{{ user.spouse.first_name }} hasn't answered any questions in this category yet.
			<!-- <button
				class="btn btn-primary pull-right"
				ng-click="sendInvitation()"
			>
				Send {{ user.spouse.accusative }} an invitation
			</button> -->
		</div>
		<div
			class="panel"
			ng-show="answers.length > 0"
			ng-repeat="answer in answers"
		>
			<div class="panel-body">
				<div ng-show="person == 'My'">
					<button
						ng-show="!answer.loading && !answer.hasOwnProperty('id')"
						class="btn btn-default pull-right"
						ng-click="getQuestion($index)"
						title="Give me a different question"
					><i class="fa fa-refresh"></i></button>
					<i
						ng-show="!answer.loading && answer.hasOwnProperty('id')"
						ng-click="deleteAnswer(answer.id, $index)"
						class="fa fa-times pull-right cursor-pointer"
					></i>
				</div>
				<p ng-show="!answer.loading"><strong>{{ answer.question.description }}</strong></p>
				<img src="/img/loading.gif" class="pull-right" ng-show="answer.loading">
			</div>
			<div class="panel-footer overflow-hidden">
				<div class="form-group">
					<div class="form-group">
						<textarea
							rows="5"
							class="form-control"
							placeholder="My Answer"
							ng-blur="storeAnswer(answer, $index)"
							ng-model="answer.body"
						></textarea>
					</div>
					<!-- <div class="form-group">
						<button
							ng-show="person == 'My'"
							class="btn btn-default pull-right"
							ng-click="notifySpouse()"
						>Notify {{ user.spouse.first_name }} of my Answer</button>
					</div> -->
				</div>
			</div>
		</div>
		<button
			ng-show="person == 'My'"
			ng-click="getQuestion()"
			ng-disabled="loadingQuestion"
			class="btn btn-primary"
		><i class="fa fa-plus"></i> Next Question</button>
		<!-- <img ng-show="loadingQuestion" src="/img/loading.gif"> -->
	</div>
</div>
