<style>hr, footer { display: none; }</style>
<h1 class="pull-left">Sex Positions</h1>
<img ng-show="loading" src="/img/loading.gif">
<div class="!loading">
    <div class="page">
        <div class="clear"></div>
        <br>
        <select ng-model="category" ng-change="clearSearch()" class="form-control width-auto pull-left margin-right-2 margin-bottom-2">
            <option value="">All Categories</option>
            <option ng-repeat="category in categories">{{ category.name }}</option>
        </select>
        <button class="btn btn-default pull-left margin-right-2 margin-bottom-2" ng-click="random()"><i class="fa fa-refresh"></i> Random</button>
        <!-- <div class="input-group pull-left">
            <input class="form-control ng-pristine ng-valid" placeholder="Search" name="new_tag" ng-model="search" onkeypress="return disableEnterKey(event)" type="text">
            <span class="input-group-btn no-width">
                <button class="btn btn-default" type="button">
                    <i class="flaticon-search"></i>
                </button>
            </span>
        </div> -->
        <div class="clear"></div>
        <br>
        <div ng-repeat="sexPosition in sexPositions | filter: { name: search } | filter:category | orderBy: '-rating'">
            <div class="panel padding-7">
                <h2 class="pull-left margin-bottom-1 margin-top-0">
                    {{ sexPosition.name }}
                </h2>
                <div class="stars pull-right" style="width: {{ sexPosition.stars_width }}px"></div>
                <div class="clear"></div>
                <p>
                    <img ng-show="!sexPosition.tall" class="pull-left" src="/img/sex-positions/{{ sexPosition.key }}.jpg" style="width: 100%; max-width: 300px; margin: 0 1em 1em 0;">
                    <img ng-show="sexPosition.tall" class="pull-left" src="/img/sex-positions/{{ sexPosition.key }}.jpg" style="height: 100%; max-height: 300px; margin: 0 1em 1em 0;">
                    {{ sexPosition.description }}
                </p>
                <div class="clear"></div>
                <!-- <a class="btn btn-primary margin-top-1" href="/#/ideas/sex-positions/{{ sexPosition.id }}">Vew Position</a> -->
            </div>
        </div>
    </div>
</div>
