<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <h1 class="margin-0 pull-left">
        {{ sexPosition.name }}
    </h1>
    <div class="stars pull-right" style="width: {{ sexPosition.stars_width }}px"></div>
    <div class="clear"></div>
    <div class="label label-default margin-right-1" ng-repeat="category in sexPosition.categories">{{ category.name }}</div>
    <br>
    <br>
    <p>
        <img ng-show="!sexPosition.tall" class="pull-left" src="/img/sex-positions/{{ sexPosition.key }}.jpg" style="width: 100%; max-width: 300px; margin: 0 1em 1em 0;">
        <img ng-show="sexPosition.tall" class="pull-left" src="/img/sex-positions/{{ sexPosition.key }}.jpg" style="height: 100%; max-height: 300px; margin: 0 1em 1em 0;">
        {{ sexPosition.description }}
    </p>
    <div class="clear"></div>
</article>
