<div class="align-center">
    <img id="loading" ng-if="loading" src="/img/loading.gif">
</div>
<div ng-if="!loading" class="align-center" style="max-width:360px; margin:0 auto;">
    <h3 class="margin-top-0">
        <span ng-if="data.oauth && data.oauth.service == 'Wordpress'">
            Upgrading to {{ site.company_name }} {{ site.version }}
        </span>
        <!-- <span ng-if="!data.oauth || (data.oauth && data.oauth.service !== 'Wordpress')">
            {{ site.trial_name }}
        </span> -->

    </h3>
    <div>
        <strong>Step {{ displayStep }} of {{ displaySteps }}</strong>
    </div>
    <br>
    <div ng-if="step == 1">
        <h1 ng-if="data.oauth">Welcome, {{ data.oauth.first_name }}</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Choose Your Plan</h2>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    Choose a plan that's right for you, and you won't be charged until after your free trial ends.
                    Cancel at any time.
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="showPlans()">See the Plans</button>
            </div>
        </div>
    </div>
    <div ng-if="step == 2">
        <h1 ng-if="data.oauth">Welcome, {{ data.oauth.first_name }}</h1>
        <form class="center" data-parsley-validate="" novalidate="" ng-submit="assignPlan()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Choose Your Plan</h2>
                </div>
                <div class="panel-body">
                    <!-- <div class="alert alert-success">Today's Special Discount: 50% Off</div> -->
                    <div class="list-group">
                        <li ng-repeat="plan in plans" class="list-group-item">
                            <h3 class="margin-0">{{ plan.name }}</h3>
                            <!-- <br>
                            <div class="strike margin-bottom-4">
                                ${{ (plan.amount * 2) / 100 }}
                                <div class="line"></div>
                            </div> -->
                            <p ng-show="plan.description">{{ plan.description }}</p>
                            <p ng-show="plan.metadata.description">{{ plan.metadata.description }}</p>
                            <button class="btn btn-primary" ng-click="selectPlan(plan)"><i class="fa fa-check"></i>
                                Select</button>
                        </li>
                    </div>
                </div>
                <!-- <div class="panel-footer">
                    <button class="btn btn-primary" ng-click="step == 2">See the Plans</button>
                </div> -->
            </div>
        </form>
    </div>
    <div ng-if="step == 3">
        <div ng-if="data.oauth">
            <div ng-repeat="user in data.oauth.users">
                <div ng-repeat="(key, value) in user">
                    <input type="hidden" ng-model="form.users[key]">
                </div>
            </div>
        </div>
        <form class="center" data-parsley-validate="" novalidate="" ng-submit="continue()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Set Up Players</h2>
                </div>
                <div class="panel-body">
                    <div ng-repeat="(key, value) in form.users">
                        <div ng-if="data.oauth.users[key] == undefined">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="form.users[key].first_name"
                                    placeholder="{{ data.your + key }}'s First Name" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary"
                        ng-disabled="!form.users['Husband'].first_name || !form.users['Wife'].first_name">Continue</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row center" ng-if="step == 4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Set Up Players</h2>
            </div>
            <div class="panel-body">
                <p ng-show="!noEmail">Whose email address is {{ data.email }}?</p>
                <p ng-show="noEmail">You'll need an email address to log in.</p>
                <p ng-show="!noEmail && !showEmailField">
                    <small>
                        <a ng-click="showEmailField = !showEmailField" class="link">Change primary email
                            address</a>
                    </small>
                </p>
                <div ng-show="showEmailField || noEmail" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input class="form-control" type="email" ng-model="data.email" required=""
                            placeholder="Enter your email address">
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-show="data.email">
                <p ng-show="noEmail">Whose email address is this?</p>
                <div class="btn-group">
                    <button ng-disabled="!data.email" class="btn btn-default"
                        ng-click="assignEmail('Husband')">{{ form.users['Husband'].first_name }}'s</button>
                    <button ng-disabled="!data.email" class="btn btn-default"
                        ng-click="assignEmail('Wife')">{{ form.users['Wife'].first_name }}'s</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="step == 5">
        <form class="center" validate-form="" novalidate="" ng-submit="addSpouse()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Set Up Players</h2>
                </div>
                <div class="panel-body">
                    <p>Please add a password:</p>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input class="form-control" type="password"
                                ng-model="form.users[form.registrant_key].password" placeholder="New password"
                                required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input class="form-control" type="password" ng-model="password_confirm"
                                placeholder="Type it again" required="">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div ng-show="password_confirm && form.users[form.registrant_key].password !== password_confirm"
                        class="alert alert-danger">Passwords do not match.</div>
                    <button ng-disabled="
                                !form.users[form.registrant_key].password
                                || !password_confirm
                                || form.users[form.registrant_key].password !== password_confirm
                                || password_confirm.length < 6
                            " class="btn btn-default btn-primary">Continue</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-if="step == 6">
        <form class="center" validate-form="" novalidate="" ng-submit="submit()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Set Up Players</h2>
                </div>
                <div class="panel-body">
                    <p>{{ form.users[spouse_key].first_name }} will also need an account.</p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input class="form-control" type="email" ng-model="form.users[spouse_key].email"
                            placeholder="Enter {{ form.users[spouse_key].first_name }}'s email address"
                            parsley-validate-input required="">
                    </div>
                </div>
                <div class="panel-footer">
                    <button ng-disabled="!form.users[spouse_key].email"
                        class="btn btn-default btn-primary">Continue</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-if="step == 7">
        <form class="center" validate-form="" novalidate="" ng-submit="submit()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Set Up Players</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger">
                        <div ng-if="errors.length == 1">{{ errors[0] }}</div>
                        <ul ng-if="errors.length > 1" ng-repeat="error in errors">
                            <li>{{ error }}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input class="form-control" type="email" ng-model="form.users.Husband.email" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input class="form-control" type="email" ng-model="form.users.Wife.email" required="">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button ng-disabled="!form.users.Husband.email || !form.users.Wife.email"
                        class="btn btn-default btn-primary">Try Again</button>
                </div>
            </div>
        </form>
    </div>
    <!-- <div ng-if="step == 8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Set Up Your Payment</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success">
                        The final step is to add a payment method. Cancel online within 24 hours to not be charged. No
                        commitments.
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" ng-click="proceedToPayment()"><i class="fa fa-plus"></i> Add Payment
                        Method</button>
                </div>
            </div>
        </div> -->
    <div ng-if="step == 9" ng-controller="SubscriptionCreate">
        <div ng-include="'/modules/subscription/create.html'"></div>
    </div>
    <div class="row" ng-if="step == 10">
        <h1>Check Your Inbox</h1>
        <p class="alert alert-success">Confirmation emails have been sent to
            <strong>{{ form.users['Husband'].email }}</strong> and
            <strong>{{ form.users['Wife'].email }}</strong>.
            <span ng-if="data.oauth && data.oauth.service == 'Wordpress'">
                to complete your upgrade,
            </span>
            <span ng-if="!data.oauth || data.oauth.service !== 'Wordpress'">
                To activate your accounts,
            </span>
            click on the links in the emails. (You may need to check your promotions or SPAM filters.)
        </p>
        <!-- <button class="btn btn-primary" ng-click="finish()">Continue</button> -->
    </div>
    <!-- <div class="row" ng-if="step == 4" style="max-width:500px; margin:0 auto;">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Free Version</h2>
                </div>
                <div class="panel-body align-left">
                    <ul>
                        <li>Games</li>
                    </ul>
                    <br>
                    <br>
                </div>
                <div class="panel-footer">
                    <button type="button" ng-click="submit('free')" class="btn btn-primary">Go</button>
                    <img ng-if="submitting_free" src="/img/loading.gif">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Try Premium for Free</h2>
                </div>
                <div class="panel-body align-left">
                    <ul>
                        <li>Games</li>
                        <li>Tools</li>
                        <li>Reports</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button type="button" ng-click="submit('premium')" class="btn btn-primary">Go</button>
                    <img ng-if="submitting_premium" src="/img/loading.gif">
                </div>
            </div>
        </div>
    </div> -->
</div>