<img src="/img/loading.gif" ng-if="loading">
<div ng-show="!loading">
    <h1>Registration Incomplete</h1>
    <div class="alert alert-danger">To verify your account, click on the link in the confirmation email that was sent to you. If you don't see a confirmation email, try checking your promotions or SPAM filters.</div>
    <button ng-show="!resent && !resending" ng-click="sendAgain()" class="btn btn-default">Resend Confirmation Email</button>
    <img src="/img/loading.gif" ng-show="resending">
    <p ng-show="resent">The confirmation email has been resent to {{ user.email }}.</p>
</div>
