<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-love4"></i> Upcoming Events</h2>
    </div>
    <div ng-if="upcomingUvents.lenght > 0">
        <table class="table table-striped">
            <thead>
                <th>Date</th>
                <th>Event</th>
            </thead>
            <tbody>
                <div ng-repeat="uvent in upcomingUvents">
                    <tr>
                        <td style="width:130px;">
                            {{ uvent.date_start }}<br>
                            <small>{{ uvent.date_start }} - {{ uvent.date_end }}</small>
                        </td>
                        <td><a href="/#/events/{{ uvent.id }}">{{ uvent.name }}</a></td>
                    </tr>
                </div>
            </tbody>
        </table>
        <div class="panel-footer overflow-hidden">
            <a class="btn btn-primary pull-right margin-right-1" href="/#/events">All Events</a>
        </div>
    </div>
</div><!-- panel -->
