<div
    ng-if="alerts.length > 0"
    class="alerts panel panel-primary"
>
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-bell"></i> Alerts</h2>
    </div>
    <div ng-show="loadingAlerts" class="panel-body align-center">
        <img src="/img/loading.gif">
    </div>
    <div ng-show="!loadingAlerts" class="list-group">
        <div
            ng-repeat="alert in alerts"
            ng-show="alert.type !== 'popup'"
            class="list-group-item list-group-item-{{ alert.type }} overflow-hidden"
        >
            <div ng-show="alert.countdown" class="align-center">
                <h3 class="margin-top-2 margin-bottom-2">Your trial will end in {{ alert.display_time }}</h3>
            </div>
            <span ng-bind-html="alert.body"></span>
        </div>
    </div>
</div>
<br>
<div class="popup" id="alertPopup">
    <div class="panel panel-primary align-center">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-bell"></i> {{ alert.header }}</h2>
        </div>
        <div class="panel-body">
            <strong ng-show="alert.countdown">Your trial will end in {{ alert.display_time }}</strong>.
            <span ng-bind-html="alert.body"></span>
        </div>
        <div class="panel-footer overflow-hidden">
            <div class="pull-right" ng-bind-html="alert.footer"></div>
            <button class="btn btn-default pull-right margin-right-2" ng-click="togglePopup('#alertPopup')">No Thanks</button>
        </div>
    </div>
</div>
