<div class="panel panel-default" data-model="appointment">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-calendar"></i> Events</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="appointment in unit.appointments">
                    <i class="pull-right flaticon-x" ng-click="delete(unit, appointment, 'appointment', $index); getMonth(data.date);"></i>
                    <span ng-click="edit(appointment)" class="link">
                        <span ng-show="appointment.name == null || appointment.name == ''" ng-bind="'Untitled Event'"></span>
                        <span ng-show="appointment.name != null && appointment.name != ''" ng-bind="appointment.name | limitTo : 40"></span>
                    </span>
                </li>
            </ul>
            <button type="button" class="btn btn-default" ng-click="createAppointment()"><i class="flaticon-plus"></i> Add Event</button>
            <img ng-if="loading_event" src="/img/loading.gif">
            <div id="appointmentForm" class="popup">
                <div class="panel panel-primary">
                    <div class="panel-heading overflow-hidden">
                        <h3 class="panel-title">
                            <i class="flaticon-calendar"></i>
                            <span ng-if="appointment.name == null">Edit Event</span>
                            <span ng-if="appointment.name != null" ng-bind="appointment.name"></span>
                            <i class="x pull-right flaticon-x" ng-click="togglePopup('#appointmentForm')"></i>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" ng-model="appointment.name" class="form-control" ng-blur="patch('name')">
                        </div>

                        <div class="form-group">
                            <select ng-model="appointment.in_charge" class="form-control width-auto" ng-blur="patch('in_charge')">
                                <option value="m">{{ user.husband }}'s in charge</option>
                                <option value="f">{{ user.wife }}'s in charge</option>
                                <option value="">We're both in charge</option>
                            </select>
                        </div>

                        <div class="inline-block width-auto form-group">
                            <label>From</label>
                            <select ng-model="appointment.start.hour" class="inline-block width-auto form-control" ng-blur="updateTime('time_start')">
                                <option value="00">12</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            :
                            <select ng-model="appointment.start.minute" class="inline-block width-auto form-control" ng-blur="updateTime('time_start')">
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                            <select ng-model="appointment.start.am" class="inline-block width-auto form-control" ng-blur="updateTime('time_start')">
                                <option value="am">AM</option>
                                <option value="pm" selected>PM</option>
                            </select>
                            &nbsp;&nbsp;
                        </div>

                        <div class="inline-block width-auto form-group">
                            <label>Until</label>
                            <select ng-model="appointment.end.hour" class="inline-block width-auto form-control" ng-blur="updateTime('time_end')">
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            :
                            <select ng-model="appointment.end.minute" class="inline-block width-auto form-control" ng-blur="updateTime('time_end')">
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                            <select ng-model="appointment.end.am" class="inline-block width-auto form-control" ng-blur="updateTime('time_end')">
                                <option value="am">AM</option>
                                <option value="pm" selected>PM</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-model="appointment.description" class="form-control" ng-blur="patch('description')"></textarea>
                        </div>

                        <!-- <label>Turn</label>
                        <select ng-model="appointment.turn" class="form-control" ng-blur="patch('turn')">
                            <option value="">No change</option>
                            <option value="alternate">Alternate</option>
                            <option value="random">Random</option>
                            <option value="m">{{ user.husband }}'s Turn</option>
                            <option value="f">{{ user.wife }}'s Turn</option>
                        </select> -->

                        <div class="form-group">
                            <label>
                                <input ng-model="appointment.recurring" type="checkbox" ng-true-value="1" ng-blur="patch('recurring')"> Repeat <span ng-if="appointment.recurring"> Every ...</span>
                            </label>
                        </div>

                        <div class="form-group" ng-if="appointment.recurring">
                            <ul class="inline-list">
                                <li><label><input type="checkbox" ng-model="appointment.sun" ng-true-value="1" ng-blur="patch('sun')"> Sun</label></li>
                                <li><label><input type="checkbox" ng-model="appointment.mon" ng-true-value="1" ng-blur="patch('mon')"> Mon</label></li>
                                <li><label><input type="checkbox" ng-model="appointment.tue" ng-true-value="1" ng-blur="patch('tue')"> Tue</label></li>
                                <li><label><input type="checkbox" ng-model="appointment.wed" ng-true-value="1" ng-blur="patch('wed')"> Wed</label></li>
                                <li><label><input type="checkbox" ng-model="appointment.thu" ng-true-value="1" ng-blur="patch('thu')"> Thu</label></li>
                                <li><label><input type="checkbox" ng-model="appointment.fri" ng-true-value="1" ng-blur="patch('fri')"> Fri</label></li>
                                <li><label><input type="checkbox" ng-model="appointment.sat" ng-true-value="1" ng-blur="patch('sat')"> Sat</label></li>
                            </ul>
                            <div class="input-group" style="max-width:125px;">
                                <input ng-model="appointment.recurring_interval" class="form-control" type="number" min="1" ng-blur="patch('recurring_interval')">
                                <span class="input-group-addon">Days</span>
                            </div>
                        </div>

                        <!-- <mgaction></mgaction>
                        <mgobject></mgobject> -->

                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default" ng-click="togglePopup('#appointmentForm'); getMonth(data.date);">Update Calendar</button>
                    </div>
                </div><!-- panel -->
            </div><!-- popup -->
        </div><!-- form-group -->
    </div><!-- panel-body -->
</div><!-- panel -->
