<div class="panel panel-primary" data-model="map">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-tiles"></i> Maps</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Maps</label>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="map in unit.maps">
                    <span ng-if="$index == 0" class="label label-success">Start</span>
                    <span ng-click="edit(map)" class="link">
                        <span ng-show="map.name == null || map.name == ''" ng-bind="'Map ' + (map.id)"></span>
                        <span ng-show="map.name != null && map.name != ''" ng-bind="map.name | limitTo : 40"></span>
                    </span>
                    <i class="pull-right flaticon-x" ng-click="deleteMap(map.id, $index)"></i>
                </li>
            </ul>
            <img ng-if="loading_map" src="/img/loading.gif">
            <div id="mapForm" data-model="map" class="popup align-center">
                <div class="panel panel-primary inline-block no-max-width align-left">
                    <div class="panel-heading overflow-hidden">
                        <h3 class="panel-title">
                            <i class="flaticon-tiles"></i> Map Editor
                            <i class="x pull-right flaticon-x" ng-click="togglePopup('#mapForm')"></i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group margin-bottom-4">
                            <button ng-click="set_start=!set_start" class="btn btn-default" ng-class="{ active : set_start }"><i class="flaticon-map-marker"></i> Set Start</button>
                            <button ng-click="border_left=!border_left" class="btn btn-default border-btn border-btn-left" ng-class="{ active : border_left }"><i></i></button>
                            <button ng-click="border_right=!border_right" class="btn btn-default border-btn border-btn border-btn-right" ng-class="{ active : border_right }"><i></i></button>
                            <button ng-click="border_top=!border_top" class="btn btn-default border-btn border-btn-top" ng-class="{ active : border_top }"><i></i></button>
                            <button ng-click="border_bottom=!border_bottom" class="btn btn-default border-btn border-btn-bottom" ng-class="{ active : border_bottom }"><i></i></button>
                        </div>
                        <div id="map">
                            <table class="width-auto margin-auto">
                                <tr ng-repeat="(row_index, row) in unit.rows">
                                    <td ng-repeat="(col_index, col) in row.cols" class="tile">
                                        <div ng-if="col.place == null" class="space" ng-click="createPlace(row.id, row_index, col.id, col_index)"></div>
                                        <div ng-class="{
                                            'selected': place.id == col.place.id,
                                            'border-top': col.place.block_top,
                                            'border-right': col.place.block_right,
                                            'border-bottom': col.place.block_bottom,
                                            'border-left': col.place.block_left
                                        }" ng-if="col.place !== null" class="place" ng-click="clickPlace(col.place)">
                                            <span ng-if="col.place.start" class="label label-success">Start</span>
                                            <div ng-bind="col.place.name"></div>
                                            <div ng-repeat="character in col.place.characters">
                                                <span ng-bind="character.first_name"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div placeedit></div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- popup -->
        </div><!-- form-group -->
    </div><!-- panel-body -->
</div><!-- panel -->
