<div id="map">
    <table class="width-auto margin-auto">
        <tr ng-repeat="(row_index, row) in game.maps[0].rows">
            <td ng-repeat="(col_index, col) in row.cols" class="tile">
                <div ng-if="col.place == null" class="space"></div>
                <div ng-class="{
                    'selected': place.id == col.place.id,
                    'border-top': col.place.block_top,
                    'border-right': col.place.block_right,
                    'border-bottom': col.place.block_bottom,
                    'border-left': col.place.block_left
                }" ng-if="col.place !== null" class="place" ng-click="selectPlace(col.place)">
                    <span ng-if="col.place.start" class="label label-success">Start</span>
                    <div ng-bind="col.place.name"></div>
                    <div ng-repeat="character in col.place.characters">
                        <span ng-bind="character.first_name"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
