<div class="form-group">
    <label>Timers</label>
    <ul class="list-group" ng-if="unit.timer !== null && unit.timer !== '0'">
        <li class="list-group-item">
            <span ng-click="editTimer(unit.timer.id)" class="link">
                Count {{ unit.timer.direction }} from {{ unit.timer.value }}
            </span>
            <i class="link flaticon-x pull-right" ng-click="deleteTimer(unit.timer.id, $index)"></i>
        </li>
    </ul>
    <button ng-if="unit.timer == null || unit.timer == '0'" type="button" class="btn btn-default" ng-click="createTimer()"><i class="flaticon-timer"></i> Add Timer</button>
    <div id="timerForm" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Timer<i class="x pull-right flaticon-x" ng-click="togglePopup('#timerForm')"></i></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Type</label>
                    <select ng-model="unit.direction" class="form-control" ng-blur="update('direction')">
                        <option value="down">Count Down</option>
                        <option value="up">Count Up</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>From</label>
                    <input type="text" ng-model="unit.min" class="form-control" ng-blur="update('min')">
                </div>

                <div ng-if="timer.direction == 'up'" class="form-group">
                    <label>To</label>
                    <input type="hidden" ng-model="unit.min">
                    <label>
                        <input type="checkbox" ng-model="timer.set_max">
                        Set Maximum Time
                    </label>
                    <input type="text" ng-model="unit.max" class="form-control" ng-blur="update('max')">
                </div>

                <!-- <div class="form-group">
                <label>Result Type</label>
                <input type="text" ng-model="unit.result_type" class="form-control" ng-blur="update('result_type')">
            </div> -->

            <div class="form-group">
                <label>Result</label>
                <input type="hidden" ng-model="unit.result_type">
                <select name="result_id" id="result_id" ng-model="timer.result_id" class="form-control" ng-blur="updateTimer()">
                    <option value="-1">End Game</option>
                    <option value="0">Do Nothing</option>
                    <option ng-show="u.id !== uvent.id" value="{{u.id}}" ng-repeat="u in game.uvents">{{u.name}}</option>
                </select>
                <small ng-if="game.uvents.length == 1">(For more options, add more events.)</small>
            </div>

            <!-- <div class="form-group">
            <label>Active</label>
            <input type="text" ng-model="unit.active" class="form-control" ng-blur="update('active')">
        </div> -->

        <button type="button" class="btn btn-default" ng-click="togglePopup('#timerForm')">Close</button>
    </div><!-- panel-body -->
</div><!-- panel -->
</div><!-- timerForm -->
</div>
