	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/04/2016 20:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-back:before { content: "\f100"; }
.flaticon-balloons:before { content: "\f101"; }
.flaticon-bell:before { content: "\f102"; }
.flaticon-bikini:before { content: "\f103"; }
.flaticon-bills:before { content: "\f104"; }
.flaticon-book:before { content: "\f105"; }
.flaticon-cake:before { content: "\f106"; }
.flaticon-calendar:before { content: "\f107"; }
.flaticon-camera:before { content: "\f108"; }
.flaticon-cap:before { content: "\f109"; }
.flaticon-cards:before { content: "\f10a"; }
.flaticon-check:before { content: "\f10b"; }
.flaticon-clcok:before { content: "\f10c"; }
.flaticon-cog:before { content: "\f10d"; }
.flaticon-comment:before { content: "\f10e"; }
.flaticon-conversation:before { content: "\f10f"; }
.flaticon-couple:before { content: "\f110"; }
.flaticon-crown:before { content: "\f111"; }
.flaticon-dance:before { content: "\f112"; }
.flaticon-dashboard:before { content: "\f113"; }
.flaticon-date:before { content: "\f114"; }
.flaticon-date-time:before { content: "\f115"; }
.flaticon-dessert:before { content: "\f116"; }
.flaticon-die:before { content: "\f117"; }
.flaticon-dinner:before { content: "\f118"; }
.flaticon-download:before { content: "\f119"; }
.flaticon-draggable:before { content: "\f11a"; }
.flaticon-drama:before { content: "\f11b"; }
.flaticon-dress:before { content: "\f11c"; }
.flaticon-edit:before { content: "\f11d"; }
.flaticon-envelope:before { content: "\f11e"; }
.flaticon-envelope-heart:before { content: "\f11f"; }
.flaticon-express-love:before { content: "\f120"; }
.flaticon-eye-female:before { content: "\f121"; }
.flaticon-face-f-04:before { content: "\f122"; }
.flaticon-face-f-1:before { content: "\f123"; }
.flaticon-face-f-10:before { content: "\f124"; }
.flaticon-face-f-11:before { content: "\f125"; }
.flaticon-face-f-12:before { content: "\f126"; }
.flaticon-face-f-13:before { content: "\f127"; }
.flaticon-face-f-14:before { content: "\f128"; }
.flaticon-face-f-2:before { content: "\f129"; }
.flaticon-face-f-3:before { content: "\f12a"; }
.flaticon-face-f-5:before { content: "\f12b"; }
.flaticon-face-f-6:before { content: "\f12c"; }
.flaticon-face-f-7:before { content: "\f12d"; }
.flaticon-face-f-8:before { content: "\f12e"; }
.flaticon-face-f-9:before { content: "\f12f"; }
.flaticon-face-m-1:before { content: "\f130"; }
.flaticon-face-m-10:before { content: "\f131"; }
.flaticon-face-m-10-1:before { content: "\f132"; }
.flaticon-face-m-11:before { content: "\f133"; }
.flaticon-face-m-11-1:before { content: "\f134"; }
.flaticon-face-m-12:before { content: "\f135"; }
.flaticon-face-m-12-1:before { content: "\f136"; }
.flaticon-face-m-13:before { content: "\f137"; }
.flaticon-face-m-14:before { content: "\f138"; }
.flaticon-face-m-15:before { content: "\f139"; }
.flaticon-face-m-16:before { content: "\f13a"; }
.flaticon-face-m-16-1:before { content: "\f13b"; }
.flaticon-face-m-17:before { content: "\f13c"; }
.flaticon-face-m-17-1:before { content: "\f13d"; }
.flaticon-face-m-18:before { content: "\f13e"; }
.flaticon-face-m-18-1:before { content: "\f13f"; }
.flaticon-face-m-19:before { content: "\f140"; }
.flaticon-face-m-2:before { content: "\f141"; }
.flaticon-face-m-20:before { content: "\f142"; }
.flaticon-face-m-21:before { content: "\f143"; }
.flaticon-face-m-22:before { content: "\f144"; }
.flaticon-face-m-23:before { content: "\f145"; }
.flaticon-face-m-24:before { content: "\f146"; }
.flaticon-face-m-25:before { content: "\f147"; }
.flaticon-face-m-26:before { content: "\f148"; }
.flaticon-face-m-27:before { content: "\f149"; }
.flaticon-face-m-28:before { content: "\f14a"; }
.flaticon-face-m-29:before { content: "\f14b"; }
.flaticon-face-m-3:before { content: "\f14c"; }
.flaticon-face-m-3-1:before { content: "\f14d"; }
.flaticon-face-m-30:before { content: "\f14e"; }
.flaticon-face-m-33:before { content: "\f14f"; }
.flaticon-face-m-34:before { content: "\f150"; }
.flaticon-face-m-35:before { content: "\f151"; }
.flaticon-face-m-36:before { content: "\f152"; }
.flaticon-face-m-37:before { content: "\f153"; }
.flaticon-face-m-38:before { content: "\f154"; }
.flaticon-face-m-38-1:before { content: "\f155"; }
.flaticon-face-m-39:before { content: "\f156"; }
.flaticon-face-m-39-1:before { content: "\f157"; }
.flaticon-face-m-4:before { content: "\f158"; }
.flaticon-face-m-40:before { content: "\f159"; }
.flaticon-face-m-41:before { content: "\f15a"; }
.flaticon-face-m-42:before { content: "\f15b"; }
.flaticon-face-m-43:before { content: "\f15c"; }
.flaticon-face-m-5:before { content: "\f15d"; }
.flaticon-face-m-5-1:before { content: "\f15e"; }
.flaticon-face-m-6:before { content: "\f15f"; }
.flaticon-face-m-6-1:before { content: "\f160"; }
.flaticon-face-m-7:before { content: "\f161"; }
.flaticon-face-m-8:before { content: "\f162"; }
.flaticon-face-m-8-1:before { content: "\f163"; }
.flaticon-face-m-9:before { content: "\f164"; }
.flaticon-face-m-9-1:before { content: "\f165"; }
.flaticon-face-m-9-2:before { content: "\f166"; }
.flaticon-face-m04:before { content: "\f167"; }
.flaticon-facebook:before { content: "\f168"; }
.flaticon-fame-m-2:before { content: "\f169"; }
.flaticon-feather:before { content: "\f16a"; }
.flaticon-female:before { content: "\f16b"; }
.flaticon-flex:before { content: "\f16c"; }
.flaticon-flower:before { content: "\f16d"; }
.flaticon-forward:before { content: "\f16e"; }
.flaticon-gender:before { content: "\f16f"; }
.flaticon-gift:before { content: "\f170"; }
.flaticon-google:before { content: "\f171"; }
.flaticon-grade:before { content: "\f172"; }
.flaticon-hand:before { content: "\f173"; }
.flaticon-heart:before { content: "\f174"; }
.flaticon-heart-arrow:before { content: "\f175"; }
.flaticon-heart-hands:before { content: "\f176"; }
.flaticon-hearts:before { content: "\f177"; }
.flaticon-hearts-1:before { content: "\f178"; }
.flaticon-help:before { content: "\f179"; }
.flaticon-high-heel:before { content: "\f17a"; }
.flaticon-home:before { content: "\f17b"; }
.flaticon-home-heart:before { content: "\f17c"; }
.flaticon-idea:before { content: "\f17d"; }
.flaticon-in-love:before { content: "\f17e"; }
.flaticon-info:before { content: "\f17f"; }
.flaticon-key:before { content: "\f180"; }
.flaticon-key-lock:before { content: "\f181"; }
.flaticon-lick:before { content: "\f182"; }
.flaticon-lips:before { content: "\f183"; }
.flaticon-lipstick:before { content: "\f184"; }
.flaticon-loading:before { content: "\f185"; }
.flaticon-locked:before { content: "\f186"; }
.flaticon-locket:before { content: "\f187"; }
.flaticon-logic:before { content: "\f188"; }
.flaticon-love-letter:before { content: "\f189"; }
.flaticon-magnify-heart:before { content: "\f18a"; }
.flaticon-male:before { content: "\f18b"; }
.flaticon-map-marker:before { content: "\f18c"; }
.flaticon-marriage:before { content: "\f18d"; }
.flaticon-mask:before { content: "\f18e"; }
.flaticon-menu:before { content: "\f18f"; }
.flaticon-money-bag:before { content: "\f190"; }
.flaticon-mug:before { content: "\f191"; }
.flaticon-sound-booth:before { content: "\f192"; }
.flaticon-sound-booth-1:before { content: "\f193"; }
.flaticon-pencil:before { content: "\f194"; }
.flaticon-piggyback:before { content: "\f195"; }
.flaticon-pinterest:before { content: "\f196"; }
.flaticon-play:before { content: "\f197"; }
.flaticon-plus:before { content: "\f198"; }
.flaticon-post:before { content: "\f199"; }
.flaticon-proposal:before { content: "\f19a"; }
.flaticon-reply:before { content: "\f19b"; }
.flaticon-report:before { content: "\f19c"; }
.flaticon-ring:before { content: "\f19d"; }
.flaticon-search:before { content: "\f19e"; }
.flaticon-sex:before { content: "\f19f"; }
.flaticon-share11:before { content: "\f1a0"; }
.flaticon-smartphone11:before { content: "\f1a1"; }
.flaticon-sort-asc:before { content: "\f1a2"; }
.flaticon-sort-desc:before { content: "\f1a3"; }
.flaticon-square:before { content: "\f1a4"; }
.flaticon-stats:before { content: "\f1a5"; }
.flaticon-stethoscope:before { content: "\f1a6"; }
.flaticon-swing:before { content: "\f1a7"; }
.flaticon-thermometer:before { content: "\f1a8"; }
.flaticon-thong:before { content: "\f1a9"; }
.flaticon-tiles:before { content: "\f1aa"; }
.flaticon-timer:before { content: "\f1ab"; }
.flaticon-toast:before { content: "\f1ac"; }
.flaticon-touch:before { content: "\f1ad"; }
.flaticon-trash:before { content: "\f1ae"; }
.flaticon-twitter:before { content: "\f1af"; }
.flaticon-upload:before { content: "\f1b0"; }
.flaticon-user:before { content: "\f1b1"; }
.flaticon-users:before { content: "\f1b2"; }
.flaticon-verification:before { content: "\f1b3"; }
.flaticon-video:before { content: "\f1b4"; }
.flaticon-wine:before { content: "\f1b5"; }
.flaticon-x:before { content: "\f1b6"; }