<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-timer"></i> Favor Clock</h2>
    </div>
    <div class="panel-body">
        <div class="align-center" ng-if="loadingFavorClock">
            <img src="/img/loading.gif">
        </div>
        <div class="panel-body align-center" ng-if="!loadingFavorClock">
            <div class="alert alert-success" ng-show="favorClock.ower == user.spouse.gender">
                Time {{ user.spouse.first_name }} owes you
            </div>
            <div class="alert alert-danger" ng-show="favorClock.ower == user.gender">
                Time you owe {{ user.spouse.first_name }}
            </div>
            <h2 class="margin-top-0" style="font-family: Courier !important; font-weight: bold;">
                {{ favorClock.display_time | date : 'HH:mm:ss' }}</h2>
            <select ng-model="favorClock.server" ng-change="toggleServer()" class="form-control width-auto margin-auto">
                <option value="{{ user.gender }}">I'm serving {{ user.spouse.first_name }}</option>
                <option value="{{ user.spouse.gender }}">{{ user.spouse.first_name }} is serving me</option>
            </select>
        </div>
    </div>
    <div class="panel-footer align-center">
        <button ng-show="!favorClock.active" class="btn btn-success width-full" ng-click="toggleTimer()">Start</button>
        <button ng-show="favorClock.active" class="btn btn-danger width-full" ng-click="toggleTimer()">Stop</button>
        <br>
        <br>
        <button ng-click="reset()" class="btn btn-default">Reset</button>
    </div>
</div>