<div class="form-group">
    <label>Options</label>
    <ul class="list-group" ng-if="unit.options.length > 0">
        <li ng-repeat="option in unit.options" class="list-group-item">
            <span ng-click="editOption(option.id)" class="link">
                <span ng-if="option.description == null || option.description == ''" ng-bind="'Option ' + ($index + 1)"></span>
                <span ng-if="option.description != null && option.description != ''" ng-bind="option.description"></span>
            </span>
            <i class="link flaticon-x pull-right" ng-click="deleteOption(option.id, $index)"></i>
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="createOption()"><i class="flaticon-plus"></i> Add Option</button>
    <img ng-if="loading_option" src="/img/loading.gif">
    <div id="optionForm" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Option<span class="x pull-right" ng-click="togglePopup('#optionForm')">&times;</span></h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" ng-model="unit.description" class="form-control" ng-blur="update('description')">
                </div>

                <div class="form-group">
                    <label>Result</label>
                    <input type="hidden" ng-model="unit.result_type">
                    <select name="result_id" id="result_id" ng-model="option.result_id" class="form-control" ng-blur="updateOption()">
                        <option value="-1">End Game</option>
                        <option value="0">Repeat</option>
                        <option ng-show="u.id !== uvent.id" value="{{u.id}}" ng-repeat="u in game.uvents">{{u.name}}</option>
                    </select>
                    <small ng-if="game.uvents.length == 1">(For more options, add more events.)</small>
                </div>

                <div class="form-group">
                    <label>Effects</label>
                    <ul class="list-group" ng-if="option.effects.length > 0">
                        <li class="list-group-item" ng-repeat="effect in option.effects">
                            Effect {{effect.id}}
                            <i class="link flaticon-x pull-right" ng-click="deleteEffect(effect.id, $index)"></i>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default" ng-click="createEffect()"><i class="flaticon-plus"></i> Add Effect</button>
                    <img ng-if="loading_effect" src="/img/loading.gif">
                    <div id="effectForm" class="popup">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Create Effect<span class="x pull-right" ng-click="togglePopup('#effectForm')">&times;</span></h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label>morph Type</label>
                                    <input type="text" ng-model="unit.morph_type" class="form-control" ng-blur="update('morph_type')">
                                </div>

                                <div class="form-group">
                                    <label>morph Col</label>
                                    <input type="text" ng-model="unit.morph_col" class="form-control" ng-blur="update('morph_col')">
                                </div>

                                <div class="form-group">
                                    <label>morph Id</label>
                                    <input type="text" ng-model="unit.morph_id" class="form-control" ng-blur="update('morph_id')">
                                </div>

                                <div class="form-group">
                                    <label>Min</label>
                                    <input type="text" ng-model="unit.min" class="form-control" ng-blur="update('min')">
                                </div>

                                <div class="form-group">
                                    <label>Max</label>
                                    <input type="text" ng-model="unit.max" class="form-control" ng-blur="update('max')">
                                </div>

                                <div class="form-group">
                                    <label>morph Val</label>
                                    <input type="text" ng-model="unit.morph_val" class="form-control" ng-blur="update('morph_val')">
                                </div>

                                <div class="form-group">
                                    <label>Rand</label>
                                    <input type="text" ng-model="unit.rand" class="form-control" ng-blur="update('rand')">
                                </div>

                                <div class="form-group">
                                    <label>Negative</label>
                                    <input type="text" ng-model="unit.negative" class="form-control" ng-blur="update('negative')">
                                </div>

                            </div><!-- panel-body -->
                            <div class="panel-footer">
                                <button type="button" class="btn btn-default" ng-click="togglePopup('#effectForm')">Close</button>
                            </div><!-- panel-footer-->
                        </div><!-- panel -->
                    </div><!-- effectForm -->
                </div>

                <button type="button" class="btn btn-default" ng-click="togglePopup('#optionForm')">Close</button>

            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- optionForm -->
</div><!-- form-group -->
