<div style="margin: 0 auto; max-width: 400px;">
    <h1 ng-show="!registering">Start Your Subscription</h1>
    <p
        ng-show="expired"
        class="alert alert-warning"
    >
        Your trial or previous subscription has expired. To continue, please choose a subscription plan.
    </p>
    <p
        ng-show="no_subscription"
        class="alert alert-warning"
    >
        To complete your registration, choose a subscription plan and add a payment method.
    </p>
    <img ng-show="loading" src="/img/loading.gif">
    <form
        ng-show="!loading"
        ng-submit="getToken()"
        data-parsley-validate
        id="payment-form"
        novalidate
    >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Set Up Your Payment</h2>
            </div>
            <div class="panel-body form-table">
                <div ng-show="registering" class="alert alert-success">
                    The final step is to add a payment method. Cancel online within 24 hours to not be charged. No commitments.
                </div>
                <div ng-show="!registering && plans" class="form-group" id="product-group">
                    <div class="form-group">
                        <select
                            class="form-control"
                            ng-show="plans.length > 1"
                            ng-model="plan"
                            ng-options="plan as plan.name for plan in plans">
                        >
                        </select>
                    </div>
                    <p class="alert alert-success">
                        <strong ng-show="plans.length == 1">{{ plan.name }}</strong> One subscription will give both you and {{ user.spouse.first_name }} unlimited access.
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group" id="cc-group">
                                <img style="width:100px; margin-bottom:5px;" src="https://i76.imgup.net/accepted_c22e0.png">
                                <input
                                    type="text"
                                    class="form-control"
                                    required="required"
                                    ng-model="payment.number"
                                    data-parsley-type="number"
                                    maxlength="16"
                                    data-parsley-trigger="change focusout"
                                    data-parsley-class-handler="#cc-group"
                                    placeholder="Credit Card Number"
                                >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="ccv-group">
                                <i
                                    style="position: relative; bottom: -5px;"
                                    class="fa fa-question-circle pull-right cursor-pointer info"
                                    data-toggle="popover"
                                    data-content="The 3 or 4 digit number usually found on the back or corner of the card."
                                ></i>
                                <input
                                    style="position: relative; bottom: -12px;"
                                    type="text"
                                    class="form-control"
                                    required="required"
                                    ng-model="payment.cvc"
                                    data-parsley-type="number"
                                    data-parsley-trigger="change focusout"
                                    maxlength="4"
                                    data-parsley-class-handler="#ccv-group"
                                    placeholder="CVC"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="exp-m-group">
                                <select
                                    class="form-control"
                                    required="required"
                                    ng-model="payment.expMonth"
                                    placeholder="Exp. Month"
                                >
                                    <option selected disabled value="">Exp. Month</option>
                                    <option ng-repeat="month in months">{{ month }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="exp-y-group">
                                <select
                                    class="form-control"
                                    required="required"
                                    ng-model="payment.expYear"
                                    placeholder="Exp Year"
                                >
                                    <option selected disabled value="">Exp. Year</option>
                                    <option ng-repeat="year in years">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button
                                ng-click="loading = true"
                                class="btn btn-primary form-control"
                                ng-disabled="!payment.number || !payment.cvc || !payment.expMonth || !payment.expYear"
                            >Create Subscription</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="payment-errors" style="color: red;margin-top:10px;"></span>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- col -->
            </div><!-- panel-body -->
        </div><!-- panel -->
    </form>
</div>
