<!-- <div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-bar-chart"></i> Company Stats
        </h2>
    </div>
    <div class="panel-body align-center" ng-show="loadingStats">
        <img src="/img/loading.gif">
    </div>
    <table class="table table-striped align-center" ng-show="!loadingStats">
        <thead class="align-center">
            <tr>
                <th></th>
                <th class="align-center">Rate</th>
                <th class="align-center">Last Time</th>
                <th class="align-center">Grade</th>
            </tr>
        </thead>
        <tbody class="align-center">
            <tr ng-repeat="stat in companyStats">
                <th>{{ stat.name }}</th>
                <td>{{ stat.rate }}</td>
                <td>{{ stat.since_last }}</td>
                <td>{{ stat.grade }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer align-center">
        <a href="/#/company-stats" class="btn btn-default">Set Goals</a>
    </div>
</div><!-- panel -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-line-chart"></i> Reports
        </h2>
    </div>
    <div class="panel-body align-center" ng-show="loadingStats">
        <img src="/img/loading.gif">
    </div>
    <div class="panel-body" ng-show="!loadingStats">
        <select ng-model="report" ng-change="generateChart()" class="form-control width-auto">
            <option ng-repeat="dataset in companyStats.datasets" value="{{ dataset.key }}">{{ dataset.label }}</option>
        </select>
        <div id="reportContainer"></div>
    </div>
</div>
