<style>hr, footer { display: none; }</style>
<h1>Foreplay Generator</h1>
<img ng-show="loading" src="/img/loading.gif">
<div ng-show="!loading">
	<div class="col-xl-3 col-lg-4 col-md-8 col-sm-8 col-xs-12 align-center">
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">
					<i class="flaticon-hotel"></i>
					Action
				</h2>
			</div>
			<div class="panel-body">
				<div ng-show="!loadingAction">
					<p>{{ action.description }}</p>
					<br>
				</div>
				<img src="/img/loading.gif" ng-show="loadingAction">
			</div>
			<div class="panel-footer">
				<button
					ng-click="getAction()"
					ng-disabled="loadingAction"
					class="btn btn-primary"
				><i class="fa fa-refresh"></i> Generate</button>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<div class="form-group">
			<label>Performer</label>
			<select
				ng-model="performer"
				ng-change="getAction()"
				class="form-control"
				ng-disabled="loadingAction"
			>
				<option value="{{ user.gender }}">{{ user.first_name }}</option>
				<option value="{{ user.spouse.gender }}">{{ user.spouse.first_name }}</option>
				<option value="alternate">Alternate</option>
				<option value="random">Random</option>
			</select>
		</div>
		<div class="form-group">
			<label>Rating</label>
			<select
				class="form-control"
				ng-model="rating"
				ng-change="getAction()"
				ng-disabled="loadingAction"
				ng-options="rating.name for rating in ratings track by rating.id"
			></select>
		</div>
		<div class="form-group">
			<label>Category</label>
			<select
				class="form-control"
				ng-model="category"
				ng-change="getAction()"
				ng-disabled="loadingAction"
				ng-options="category.name for category in categories track by category.id"
			></select>
		</div>
	</div>
</div>
