<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <h1 class="margin-bottom-0">
        <i class="flaticon-{{ roleplayOutline.icon || 'mask' }}"></i>
        {{ roleplayOutline.name }}
    </h1>
    <p style="margin-left: 50px;"><em>A Sexy Role-play for a Husband and Wife</em></p>
    <div ng-bind-html="roleplayOutline.body"></div>
</article>
