<h1 class="pull-left">All Roleplay Outlines</h1>
<img ng-show="loading" src="/img/loading.gif">
<div class="!loading">
    <div class="input-group hidable-xs pull-right">
        <input class="form-control ng-pristine ng-valid" placeholder="Search" name="new_tag" ng-model="search.$" onkeypress="return disableEnterKey(event)" type="text">
        <span class="input-group-btn no-width">
            <button class="btn btn-default" type="button">
                <i class="flaticon-search"></i>
            </button>
        </span>
    </div>
    <div class="page">
        <div class="clear"></div>
        <br>
        <div ng-repeat="roleplayOutline in roleplayOutlines | filter:search | orderBy: '-updated_at'">
            <div class="panel padding-7">
                <h2 class="margin-bottom-1 margin-top-0">
                    <i class="flaticon-{{ roleplayOutline.icon || 'mask' }}"></i>
                    <a href="/#/role-playing/outlines/{{ roleplayOutline.id }}">{{ roleplayOutline.name }}</a>
                </h2>
                <p>{{ roleplayOutline.description }}</p>
                <a class="btn btn-primary margin-top-1" href="/#/role-playing/outlines/{{ roleplayOutline.id }}">Vew Outline</a>
            </div>
        </div>
    </div>
</div>
