<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <h1 class="margin-bottom-0">
        <i class="flaticon-{{ roleplayScript.icon || 'mask' }}"></i>
        {{ roleplayScript.name }}
    </h1>
    <p style="margin-left: 50px;"><em>A Sexy Role-play for a Husband and Wife</em></p>
    <div class="well">{{ roleplayScript.description }}</div>
    <div ng-bind-html="roleplayScript.body"></div>
</article>
