<div class="page-actions">
    <div class="row">
        <div class="col-md-12">
            <h1 class="no-top pull-left no-pull-xs">All Roleplay Outlines</h1>
        	<div class="pull-right hidable-xs">
                <div class="input-group pull-right">
                	<span class="input-group-addon no-width">Count</span>
                	<input class="form-control itemsPerPage width-auto" ng-model="pageSize" type="number" min="1">
                </div>
                <h4 class="pull-right margin-right-1">Page <span ng-bind="currentPage"></span></h4>
        	</div>
    	</div>
    </div><!-- row -->
    <div class="row">
        <div class="pull-right">
            <div class="input-group">
                <input class="form-control ng-pristine ng-valid" placeholder="Search" name="new_tag" ng-model="search.$" onkeypress="return disableEnterKey(event)" type="text">
                <span class="input-group-btn no-width">
                    <button class="btn btn-default" type="button">
                        <i class="flaticon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div><!-- row -->
</div><!-- page-actions -->
<div class="row">
    <div class="col col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    	<input type="checkbox">
                    </th>

                	<th class="link" ng-click="orderByField='name'; reverseSort = !reverseSort">Name
                		<span>
                			<span ng-show="orderByField == 'name'">
                    			<span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                    			<span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                			</span>
                		</span>
            		</th>

                	<th class="link" ng-click="orderByField='description'; reverseSort = !reverseSort">Description
                		<span>
                			<span ng-show="orderByField == 'description'">
                    			<span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                    			<span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                			</span>
                		</span>
            		</th>

                	<th class="link" ng-click="orderByField='user_id'; reverseSort = !reverseSort">User Id
                		<span>
                			<span ng-show="orderByField == 'user_id'">
                    			<span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                    			<span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                			</span>
                		</span>
            		</th>

                	<th class="link" ng-click="orderByField='updated_at'; reverseSort = !reverseSort">Modified
                		<span>
                			<span ng-show="orderByField == 'updated_at'">
                    			<span ng-show="!reverseSort"><i class='flaticon-sort-asc'></i></span>
                    			<span ng-show="reverseSort"><i class='flaticon-sort-desc'></i></span>
                			</span>
                		</span>
            		</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ highlight : roleplayOutline.new == 1, semitransparent : roleplayOutline.disabled == 1 }" dir-paginate-start="roleplayOutline in roleplayOutlines | filter:search | orderBy: '-updated_at' | orderBy:orderByField:reverseSort | itemsPerPage: pageSize" current-page="currentPage">
                    <td ng-click="checkbox()">
                    	<input class="bulk-check" type="checkbox" name="ids[]" value="{{ roleplayOutline.id }}">
                    </td>

		            <td>
		                <a href="/roleplayOutlines/{{ roleplayOutline.id }}"><span ng-bind="roleplayOutline.name"></a>
		            </td>

		            <td>
		                <span ng-bind="roleplayOutline.description"></span>
		            </td>

		            <td>
		                <span ng-bind="roleplayOutline.user_id"></span>
		            </td>

		            <td>
		            	<span ng-bind="roleplayOutline.updated_at"></span>
		            </td>
                </tr>
                <tr dir-paginate-end></tr>
            </tbody>
        </table>
        <div >
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/packages/dirpagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div><!-- col -->
</div><!-- row -->
