<div data-model="player">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="flaticon-user"></i> Players</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-click="edit(player)" class="list-group-item link" ng-repeat="player in game.players">
                    <span ng-bind="player.user.name"></span>
                    <i ng-if="unit.players.length > 1" class="flaticon-x pull-right" ng-click="delete(player, 'Character')"></i>
                </li>
            </ul>
            <button ng-if="unit.players.length < 2" class="btn btn-default" ng-click="createCharacter(player_id = null, gender = null, type = 'player')"><i class="flaticon-plus"></i> Add Player</button>
            <img ng-if="loading_character" src="/img/loading.gif">
        </div>
    </div><!-- panel -->
    <div id="playerForm" data-model="player" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading overflow-hidden">
                <h3 class="panel-title">
                    <i class="flaticon-tiles"></i>
                    ({{ unit.id }})
                    <span ng-if="unit.name == null">Edit Player</span>
                    <span ng-if="unit.name != null" ng-bind="unit.name"></span>
                    <i class="x pull-right flaticon-x" ng-click="togglePopup('#playerForm')"></i>
                </h3>
            </div>
            <div class="panel-body">

                <div characteredit></div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#playerForm')">Close</button>
            </div>
        </div><!-- panel -->
    </div><!-- popup -->
</div>
