<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title overflow-hidden">
            <div ng-if="game.players.length > 1" class="input-group">
                <span class="input-group-addon">
                    <i class="flaticon-user"></i> Player
                </span>
                <select class="form-control">
                    <option ng-repeat="player in game.players" value="{{ $index }}">{{ player.user.name }}</option>
                </select>
            </div>
            <div ng-if="game.players.length == 1 && player.characters.length > 1">
                <i class="flaticon-user"></i> {{ player.user.name }}
            </div>
            <div ng-if="player.characters.length > 1" class="input-group margin-top-2">
                <span class="input-group-addon">
                    <i class="flaticon-user"></i> Character
                </span>
                <select class="form-control">
                    <option ng-repeat="character in player.characters" value="{{ $index }}">{{ character.name }}</option>
                </select>
            </div>
            <div ng-if="player.characters.length == 1">
                <i class="flaticon-user"></i> {{ player.characters[0].name }}
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Possessions</h3>
            </div>
            <ul class="list-group"
                dnd-list="items"
                dnd-drop=""
            >
                <!-- <div ng-model="list1" ng-hide="!list1.title">{{list1.title}}</div> -->
                <li class="list-group-item" ng-click="setObject(object)" ng-repeat="object in player.characters[0].objects"
                    dnd-draggable="object"
                    dnd-moved=""
                >
                    <i class="flaticon-draggable semitransparent pointer"></i>
                    <span class="link">{{ object.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
