<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-sex"></i> Sex Calendar</h2>
    </div>
    <div class="panel-body">
        <div class="align-center" ng-show="loadingCalendar">
            <img src="/img/loading.gif">
        </div>
        <form ng-show="!loadingCalendar">
            <div class="col-lg-8 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading align-center">
                        <button ng-click="changeMonth(-1)" class="btn btn-default pull-left"><i class="fa fa-angle-left"></i></button>
                        <button ng-click="changeMonth(1)" class="btn btn-default pull-right"><i class="fa fa-angle-right"></i></button>
                        <h3 class="panel-title">{{ data.month.name }} {{ data.year }}</h3>
                    </div>
                    <div class="calendar" style="height:400px;">
                        <div class="calendar-heading">
                            <div class="day">Sun</div>
                            <div class="day">Mon</div>
                            <div class="day">Tue</div>
                            <div class="day">Wed</div>
                            <div class="day">Thu</div>
                            <div class="day">Fri</div>
                            <div class="day">Sat</div>
                        </div>
                        <div class="calendar-body">
                            <div ng-click="setActiveDay(day, $index)" ng-class="{ 'off' : !day.day_of_month, 'active' : day.active, 'highlight' : day.date == data.today.date }" class="day" ng-repeat="day in data.days">
                                <div class="day-of-month">{{ day.day_of_month }}</div>
                                <div class="dots">
                                    <span ng-if="day.stats.sex" class="dot b"></span>
                                    <span ng-if="day.stats.m_orgasm" class="dot m"></span>
                                    <span ng-if="day.stats.f_orgasm" class="dot f"></span>
                                    <span ng-if="day.stats.quality_time" class="dot green"></span>
                                    <span ng-if="day.stats.romantic_date" class="dot violet"></span>
                                </div>
                                <div class="clear"></div>
                                <ul>
                                    <li
                                        ng-repeat="appointment in day.appointments"
                                        class="appointment {{ appointment.in_charge }}"
                                    >{{ appointment.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- calendar -->
                </div><!-- panel -->
            </div>

            <div class="col-lg-4 col-md-12">
                <h2 class="margin-top-0">{{ unit.date_formatted }}</h2>

                <div class="form-group" ng-show="unit.date <= data.today.date">
                    <label>
                        <span class="dot b"></span>
                        <input type="checkbox" ng-model="unit.stats.sex" ng-blur="updateStats()" ng-true-value="1">
                        We Had Sex
                    </label>
                    <label>
                        <span class="dot m"></span>
                        <input type="checkbox" ng-model="unit.stats.m_orgasm" ng-blur="updateStats()" ng-true-value="1">
                        {{ user.husband }} Orgasmed
                    </label>
                    <label>
                        <span class="dot f"></span>
                        <input type="checkbox" ng-model="unit.stats.f_orgasm" ng-blur="updateStats()" ng-true-value="1">
                        {{ user.wife }} Orgasmed
                    </label>
                    <label>
                        <span class="dot green"></span>
                        <input type="checkbox" ng-model="unit.stats.quality_time" ng-blur="updateStats()" ng-true-value="1">
                        Shared Quality Time
                    </label>
                    <label>
                        <span class="dot violet"></span>
                        <input type="checkbox" ng-model="unit.stats.romantic_date" ng-blur="updateStats()" ng-true-value="1">
                        Had Date
                    </label>
                </div>
                    <!-- <h1>{{fruit}}</h1>
                    <button ng-click="test()">Update</button> -->
                <appointment-edit unit="unit"></appointment-edit>

            </div>

        </form>
    </div>
</div>
