<div class="panel panel-primary" data-model="uvent">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="flaticon-calendar"></i> Events</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Events</label>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="uvent in unit.uvents">
                    <span ng-if="$index == 0" class="label label-success">Start</span>
                    <span ng-if="uvent.options.length == 0">
                        <i ng-show="uvent.result_id == -1" class="flaticon-loading"></i>
                        <span ng-if="uvent.result_id == '-2'" class="label label-danger">End</span>
                    </span>
                    <span ng-click="edit(uvent)" class="link">
                        <span ng-show="uvent.name == null || uvent.name == ''" ng-bind="'Event ' + (uvent.id)"></span>
                        <span ng-show="uvent.name != null && uvent.name != ''" ng-bind="uvent.name | limitTo : 40"></span>
                    </span>
                    <i class="pull-right flaticon-x" ng-click="delete(uvent)"></i>
                </li>
            </ul>
            <button type="button" class="btn btn-default" ng-click="createUvent()"><i class="flaticon-plus"></i> Add Event</button>
            <img ng-if="loading_event" src="/img/loading.gif">
            <div id="uventForm" class="popup">
                <div class="panel panel-primary">
                    <div class="panel-heading overflow-hidden">
                        <h3 class="panel-title">
                            <i class="flaticon-calendar"></i>
                            <span ng-if="uvent.name == null">Edit Event</span>
                            <span ng-if="uvent.name != null" ng-bind="uvent.name"></span>
                            <i class="x pull-right flaticon-x" ng-click="togglePopup('#uventForm')"></i>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" ng-model="unit.name" class="form-control" ng-blur="update('name')">
                        </div>

                        <div class="form-group">
                            <label>Content</label>
                            <textarea ng-model="unit.description" class="form-control" ng-blur="update('description')"></textarea>
                        </div>

                        <!-- turn -->
                        <div ng-if="game.players.length > 1" class="form-group">
                            <label>Turn</label>
                            <select ng-model="unit.turn" class="form-control" ng-blur="update('turn')">
                                <option value="">No change</option>
                                <option value="alternate">Alternate</option>
                                <option value="random">Random</option>
                                <option value="m">{{ user.husband }}'s Turn</option>
                                <option value="f">{{ user.wife }}'s Turn</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="unit.options.length == 0">
                            <label>Result</label>
                            <input type="hidden" ng-model="unit.result_type">
                            <select name="result_id" isd="result_id" ng-model="unit.result_id" class="form-control" ng-blur="update('result_id')">
                                <option value="0" selected>No Result</option>
                                <option value="-1">Repeat</option>
                                <option value="-2">End Game</option>
                                <option ng-if="uvent.id !== unit.id" value="{{uvent.id}}" ng-repeat="uvent in game.uvents">{{ uvent.name }}</option>
                            </select>
                            <small ng-if="unit.uvents.length == 1">(For more options, add more events.)</small>
                        </div>

                        <mgcharacter></mgcharacter>
                        <mgmedia></mgmedia>
                        <mgaction></mgaction>
                        <mgtimer></mgtimer>
                        <mgobject></mgobject>

                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default" ng-click="togglePopup('#uventForm')">Close</button>
                    </div>
                </div><!-- panel -->
            </div><!-- popup -->
        </div><!-- form-group -->
    </div><!-- panel-body -->
</div><!-- panel -->
