<!-- images -->
<img class="full-width border-radius margin-bottom-4" ng-src="{{ media.largest }}" ng-repeat="media in uvent.medias">

<!-- objects -->
<div ng-if="uvent.objects.length > 0" class="panel panel-primary pull-right">
    <div class="panel-heading">
        <h3 class="panel-title">Objects</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item link" ng-repeat="object in uvent.objects">
            <span ng-if="o.takeable" ng-click="takeObject(object, $index)">
                <i class="flaticon-hand"></i> <span ng-bind="o.name"></span>
            </span>
            <span ng-if="!o.takeable" ng-bind="o.name"></span>
        </li>
    </ul>
</div>

<div ng-if="uvent.timer" ng-bind="uvent.timer.value" class="pull-right font-size-4"></div>
<!-- <h2 class="no-top" ng-bind="uvent.name"></h2> -->
<p class="no-bottom" ng-bind="uvent.description"></p>

<!-- actions -->
<ul class="list-group">
    <li class="list-group-item" ng-repeat="action in uvent.actions" ng-bind="action.description"></li>
</ul>
