<description>
    An erotic twist of the classic Greek myth of Eros, god of love, and his captive princess, Psyche. The sexually-inexperienced and frightened Psyche is put to the test in blindfolded ordeal of orgasmic proportions.
</description>
<icon>heart-arrow</icon>
<h2>Description</h2>
<p>Based on the Greek myth, Eros (AKA Cupid) is a god who has made Psyche, a beautiful princess, his wife. But to test the worthiness of his new bride, he takes an invisible form. In this role-play, the husband gently dominates as the wife, wanting to prove her loyalty, humbly submits.</p>
<h2>Preparation</h2>
<ul>
	<li>She leaves the room. She may put on makeup, perfume, etc., though she shouldn't change her wardrobe.</li>
	<li>While she's out of the room, he chooses something sexy for her to wear and lays it on the bed. He doesn't need to wear anything at all. The story takes places in a godly palace, so he prepares the atmosphere with music, candles, incense, etc. He'll need a blindfold.</li>
	<li>Once he's ready, he invites her in, though hides himself. He approaches her from behind and, commanding her not to look, blindfolds her.</li>
	<li>He reads her the following story:</li>
</ul>
<h2>Back Story</h2>
<p>You are Psyche, the most beautiful princess in the land. Your father, the king, had grown restless, because his two other daughters had married, and you had not. Fearing that you'd somehow displeased the gods, your father consulted an oracle, who prophesied that you would be the wife of a terrible dragon. Though this news was heartbreaking, the oracle of the gods had to be obeyed, so you were taken to a mountain and cast into the hands of Zephyr, the wind god, who would take you to her fate.</p>
<p>However, rather than meeting a ferocious dragon, you were taken to a beautiful palace, where you were greeted by me, an un-embodied voice. I am a servant of your future husband. Though you've searched all around, I'm nowhere to be seen. I have brought you here for a period of testing. Though you are beautiful, you are still a mortal, and before you can marry my master, who is just as terrible as you've heard, you must demonstrate your obedience and patience. He has a mighty temper, and if you do not meet his expectations, he will surely devour you alive. Therefore, to prove yourself, you must do whatever I ask. Do you understand?</p>
<h2>Outline</h2>
<ul>
	<li>He (Eros), proceeds to command her to perform various tasks by which to prove her obedience and patience, such as the following:</li>
	<li>To prove that she can charm her future husband, she must seductively touch herself while stripping off her clothes.</li>
	<li>To prove her submission, she must kneel on her hands and knees while he fondles her body.</li>
	<li>To prove that she can arouse her future husband, she must caress and kiss his genitals, nibble on his ears, make out with him, etc.</li>
	<li>To prove that she can perform in bed, she must have intercourse with him.</li>
	<li>While having intercourse, he finally gives her permission to take off her blindfold, thus revealing that he is Eros, the god of love, and that she has passed the test.</li>
	<li>Though one final task remains. Because godly sex is so much better than mortal sex, a true goddess always screams in ecstasy as she orgasms.</li>
	<li>After sex, he reads the following epilogue:</li>
</ul>
<h2>Epilogue</h2>
<p>The truth, my dear Psyche, is that you're so beautiful that people have been worshiping you instead of my mother, Aphrodite, the goddess of love. My mother became jealous and sent me to slay you. It was during this mission that I took an invisible form, but as soon as I saw you, I fell in love an disobeyed my mother's orders. I determined to take you for my wife, but pressured by my sisters, who were also jealous of your beauty, I agreed to begin our marriage by testing your loyalty. You have passed. Never again shall anything come between our love.</p>
