<description>An innocent rabbit rubs up with the wrong company: the sinister Mister Fox, who, taking full advantage of her helpless beauty, will stop at nothing to get what he wants; a classic role-play between a lusty male and a girl who plays hard to get.</description>
<icon>drama</icon>
<h2>A Sexy Role-play for a Husband and Wife</h2>
<h2>Description</h2>
A seductive story starring a love-hungry fox and a defiant rabbit who eventually gives in. Parts are interchangeable for both to enjoy being the prey and preyed upon.
<h2>Cast</h2>
<ul>
	<li>Either - Mr or Miss Fox</li>
	<li>Either - Mr or Miss Rabbit</li>
</ul>
<h2>Preparation</h2>
<ul>
	<li>Fox puts on his/her foxiest clothing and/or lingerie.</li>
	<li>Rabbit puts on his/her most attractively innocent clothing and/or lingerie.</li>
</ul>
<h2>Outline</h2>
<ul>
	<li>Rabbit is going home until Fox gets in the way. Fox greets Rabbit with sexual innuendos about how delicious he/she looks, mentioning many parts of Rabbit's body.</li>
	<li>Rabbit plays hard to get and responds with sass, saying he/she will have nothing to do with a fox. Fox declares he/she won't take no for an answer, then corners Rabbit.</li>
	<li>Fox kisses and licks Rabbit's hands and arms, frequently stating how delicious they are. Rabbit continues to say defiant statements, but is starting to be seduced by the Fox.</li>
	<li>Rabbit snaps out of seduction for a moment and is able to break free. Rabbit leads Fox on a chase that leaves Rabbit cornered once again.</li>
	<li>Fox holds Rabbit from behind and starts necking Rabbit. Rabbit tries to say sassy things, but is starting to get seduced and gives in more easily.</li>
	<li>Fox slowly and hungrily takes off Rabbit's clothing while Rabbit weakly attempts to keep his/her clothing on.</li>
	<li>Rabbit breaks free again and another chase ensues, ending with Rabbit being trapped again.</li>
	<li>Fox carries or leads Rabbit to the bed, then begins to remove his/her own clothing.</li>
	<li>The story continues as Fox rubs the Rabbit's body in preparation for sex and the Rabbit tries to be defiant but eventually gives in to sex.</li>
</ul>
