<description>An unfortunate sex slave is prepared and instructed on how to fulfill the sexual desires of the greedy sultan. Combined with blindfolded suspense for her and domineering power for him, this one guarantees ecstasy.</description>
<icon>eye-female</icon>
<h2>Description</h2>
<p>A blindfolded slave is prepared to make love to the sultan - a richly erotic role-play designed to both heighten her sensations through anticipation and to fulfill his fantasies by instructing her on how best to please him.</p>
<h2>Cast</h2>
<ul>
    <li>He - (1) the sultan's eunuch (2) the sultan</li>
    <li>She - a prisoner</li>
</ul>
<h2>Props Needed</h2>
<ul>
    <li>A blindfold</li>
    <li>Perfumes / lotions</li>
</ul>
<h2>Outline</h2>
<ul>
    <li>As a prisoner of war, on behalf of her exceptional beauty, she was sentenced to to be a part of the sultan's harem.</li>
    <li>The eunuch is sent to prepare her to make love to the sultan. As an act of mercy, to spare her from the hideously ugly sultan, he blindfolds her.</li>
    <li>He strips off her clothes and prepares her body with perfumes, lotions, etc.</li>
    <li>To help loosen her anxiety, he massages her.</li>
    <li>He dresses her in the type of lingerie that the sultan likes.</li>
    <li>He instructs her on the positions the sultan would like to see her in, the words and sounds the sultan likes to hear, and the way the sultan likes to be touched, volunteering his own body for her practice.</li>
    <li>Because the sultan can't be expected to arouse her by himself, the eunuch stimulates and lubricates her.</li>
    <li>When she's ready, the eunuch is replaced by the sultan, and intercourse commences.</li>
</ul>
<h2>Alternate Version</h2>
<p>If he would like a more passive role, and she would like to take charge, reverse the roles so that he (a prisoner) is being prepared to entertain the sultan's harem (played by her). One or more girls prepare him for lovemaking, then one or more girls engage with him in intercourse.</p>
