<style>
    hr,
    footer {
        display: none;
    }
</style>
<img ng-show="loading" src="/img/loading.gif">
<article ng-if="!loading">
    <h2 class="margin-top-0">Edit Service</h2>
    <div class="form-group">
        <label>Service Name</label>
        <input type="text" class="form-control" ng-model="service.name" placeholder="Example: Striptease"
            ng-blur="patch('name', service)">
    </div>
    <div class="form-group">
        <label>Price</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <select class="form-control width-auto" ng-model="service.price" ng-change="patch('price', service)"
                ng-options="p for p in prices"></select>
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea rows="5" class="form-control" ng-model="service.description" ng-blur="patch('description', service)"
            placeholder="Example: For your viewing pleasure, I will slowly take off all of my clothes ..."></textarea>
    </div>
</article>