<h1 class="pull-left">
    {{ person }}<span ng-show="person !== 'My'">'s</span>
    Services
</h1>
<img ng-show="loading" src="/img/loading.gif">
<div class="!loading">
    <div class="page">
        <div class="clear"></div>
        <div ng-show="person == 'My'">
            <div class="input-group pull-left margin-right-2 margin-bottom-4" style="max-width: 275px;">
                <select ng-model="suggestion" class="form-control">
                    <option value="">Service Ideas</option>
                    <option ng-repeat="suggestion in suggestions" ng-value="suggestion">{{ suggestion.name }}</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-disabled="!suggestion || loadingService" ng-click="addService()">
                        <i class="fa fa-plus"></i> Add Service
                    </button>
                </span>
            </div>
            <a class="btn btn-primary pull-left margin-right-2 margin-bottom-4" ng-disabled="loadingService"
                ng-click="createService()">
                <i class="fa fa-plus"></i> New Service
            </a>
            <img ng-show="loadingService" src="/img/loading.gif">
        </div>
        <div class="clear"></div>
        <p ng-show="services.length == 0 && person == 'My'">
            You haven't created any services yet.
        </p>
        <div class="alert alert-danger" ng-show="services.length == 0 && person !== 'My'">
            {{ user.spouse.first_name }} hasn't created any services yet. Let {{ user.spouse.accusative }} know what
            you'd like.
        </div>
        <div ng-repeat="service in services | filter:search | orderBy: 'name'">
            <div class="panel padding-7">
                <a class="pull-left" href="/#/service/{{ service.id }}">
                    <h2 class="margin-top-0">{{ service.name }}</h2>
                </a>
                <strong class="pull-right">${{ service.price }}</strong>
                <div class="clear"></div>
                <p ng-show="person == 'My'">{{ service.description | cut:true:140 }}</p>
                <p ng-show="person !== 'My'">{{ service.description }}</p>
                <a class="btn margin-top-1" ng-show="person == 'My'"
                    ng-class="{ 'btn-primary': person == 'My', 'btn-default': person !== 'My' }"
                    href="/#/service/{{ service.id }}">View Service</a>
                <button class="btn btn-primary margin-top-1"
                    ng-disabled="user.money <= service.price || purchasingService"
                    ng-show="person !== 'My' && user.money >= service.price" ng-click="purchaseService(service)">
                    <i class="fa fa-shopping-cart"></i> Purchase Service
                </button>
            </div>
        </div>
        <img ng-show="purchasingService" src="/img/loading.gif">
    </div>
</div>