<h1>
    <span ng-show="person == 'My'">Services {{ user.spouse.first_name }} Owes Me</span>
    <span ng-show="person !== 'My'">Services I owe {{ user.spouse.first_name }}</span>
</h1>
<p ng-show="person !== 'My'">
    {{ user.spouse.first_name }} can mark these services as completed after you've performed them.
</p>
<img ng-show="loading" src="/img/loading.gif">
<div class="!loading">
    <div class="page">
        <div class="clear"></div>
        <p ng-show="services.length == 0 && person == 'My'">
            You have no purchased services.
        </p>
        <div class="alert alert-danger" ng-show="services.length == 0 && person !== 'My'">
            You don't owe {{ user.spouse.first_name }} any services.
        </div>
        <div ng-repeat="service in services | filter:search | orderBy: 'name'">
            <div class="panel padding-7">
                <a class="pull-left" href="/#/service/{{ service.id }}">
                    <h2 class="margin-top-0">{{ service.name }}</h2>
                </a>
                <strong class="pull-right">${{ service.price }}</strong>
                <div class="clear"></div>
                <p ng-show="person !== 'My'">{{ service.description | cut:true:140 }}</p>
                <p ng-show="person == 'My'">{{ service.description }}</p>
                <a class="btn margin-top-1" ng-show="person !== 'My'"
                    ng-class="{ 'btn-primary': person == 'My', 'btn-default': person !== 'My' }"
                    href="/#/service/{{ service.id }}">View Service</a>
                <button class="btn btn-primary margin-top-1" ng-show="person == 'My' && !loadingService"
                    ng-click="completeService(service, $index)">
                    <i class="fa fa-check"></i> Mark as Completed
                </button>
                <img ng-show="loadingService" src="/img/loading.gif">
            </div>
        </div>
    </div>
</div>