<style>hr, footer { display: none; }</style>
<img ng-show="loading" src="/img/loading.gif">
<article ng-show="!loading">
    <h1 class="pull-left">
        <span ng-show="service.name">{{ service.name }}</span>
        <span ng-show="!service.name">Untitled sevice</span>
    </h1>
    <div ng-if="user.id == service.user_id">
        <a
            class="btn btn-default pull-right align-center inline-block"
            href="/#/services/edit/{{ service.id }}"
        >
            <i class="flaticon-pencil"></i>
        </a>
        <a
            class="btn btn-default pull-right margin-right-2 align-center inline-block"
            ng-click="delete()"
        >
            <i class="flaticon-trash"></i>
        </a>
    </div>
    <div class="clear"></div>
    <p><strong>Price: ${{ service.price }}</strong></p>
    {{ service.description }}
</article>
