<div class="row">
	<div class="col-md-12">
		<div mg-company-stats></div>
	</div><!-- col -->
	<div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6">
		<form action="/login-as-user" method="POST">
			<input type="hidden" name="_token" value="{{ token }}">
			<div class="input-group">
				<input class="form-control" placeholder="User ID" name="user_id">
				<span class="input-group-btn">
					<button class="btn btn-default">Log in as User</button>
				</span>
			</div>
		</form>
	</div>
	<div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6">
		<div mgupcomingposts></div>
	</div><!-- col -->
</div><!-- row -->
