<div>
    <div class="row">
        <div class="col col-md-12">
            <h1>My Dashboard</h1>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col col-md-12">
            <div mg-alerts></div>
        </div>
    </div><!-- row -->
    <div class="row">
        <span ng-if="recent_post.length > 0">
            <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <!-- <div mgrecentpost></div> -->
            </div><!-- col -->
        </span>
        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div mg-user-stats-simple></div>
        </div>
        <div class="col col-xl-8 col-lg-8 col-md-6 col-sm-6">
            <div mg-calendar></div>
        </div>
        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div mg-random-posts></div>
        </div><!-- col -->
    </div><!-- row -->
</div>
