<div class="row">
    <div class="col-md-12">
        <h1>Continue As ...</h1>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item link" ng-click="switchUser(user.gender)">
                <i ng-if="user.gender == 'm'" class="flaticon-male"></i>
                <i ng-if="user.gender == 'f'" class="flaticon-female"></i>
                {{ user.first_name }}
            </li>
            <li class="list-group-item link" ng-click="switchUser(user.spouse.gender)">
                <i ng-if="user.spouse.gender == 'm'" class="flaticon-male"></i>
                <i ng-if="user.spouse.gender == 'f'" class="flaticon-female"></i>
                {{ user.spouse.first_name }}
            </li>
        </ul>
    </div>
</div><!-- row -->
