<div data-model="place">
    <div id="placeForm" class="popup">
        <div class="panel panel-primary">
            <div class="panel-heading overflow-hidden">
                <h3 class="panel-title">
                    <i class="flaticon-tiles"></i>
                    ({{ unit.id }})
                    <span ng-if="unit.name == null">Edit Place</span>
                    <span ng-if="unit.name != null" ng-bind="unit.name"></span>
                    <i class="x pull-right flaticon-x" ng-click="togglePopup('#placeForm')"></i>
                </h3>
            </div>
            <div class="panel-body">

                <div class="btn-group pull-right">
                    <button class="btn btn-default" ng-click="deletePlace(unit.id)"><i class="flaticon-trash"></i></button>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="unit.name" ng-blur="update('name')">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="unit.description" ng-blur="update('description')"></textarea>
                </div>

                <hr>
                <div objectedit></div>
                <hr>
                <div characteredit></div>

            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="togglePopup('#placeForm')">Close</button>
            </div>
        </div><!-- panel -->
    </div><!-- popup -->
</div>
