<!-- navigator toolbar -->
<div class="btn-group player-buttons">
    <button ng-click="viewActive = !viewActive" ng-blur="blurButton('view')" ng-class="{ active: viewActive }" class="btn btn-default no-border-bottom-left-radius view">
        <i class="fa fa-eye"></i>
    </button>
    <button ng-click="handleActive = !handleActive" ng-blur="blurButton('handle')" ng-class="{ active: handleActive }" class="btn btn-default no-border-bottom-left-radius handle">
        <i class="flaticon-hand"></i>
    </button>
    <button ng-click="talkActive = !talkActive" ng-blur="blurButton('talk')" ng-class="{ active: talkActive }" class="btn btn-default no-border-bottom-right-radius talk">
        <i class="flaticon-comment"></i>
    </button>
</div>

<!-- navigator -->
<div id="navigator" class="align-center well overflow-hidden no-border-top-left-radius">

    <!-- compass -->
    <div class="pull-left compass">
        <button id="n" ng-click="changePlace('n')" class="btn btn-default north direction">
            <i class="fa fa-caret-up"></i>
            <br>
            <span>N</span>
        </button>
        <br>
        <div class="btn-group">
            <button id="w" ng-click="changePlace('w')" class="btn btn-default west direction">
                <i class="fa fa-caret-left"></i> W
            </button>
            <button id="e" ng-click="changePlace('e')" class="btn btn-default east direction">
                E <i class="fa fa-caret-right"></i>
            </button>
        </div>
        <br>
        <button id="s" ng-click="changePlace('s')" class="btn btn-default south direction">
            <span>S</span>
            <br>
            <i class="fa fa-caret-down"></i>
        </button>
    </div>

    <div class="pull-right">
        <!-- characters -->
        <div ng-if="place.characters.length > 0" class="panel panel-primary inline-block vertical-align-top">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="flaticon-user"></i> Characters</h3>
            </div>
            <ul
                class="list-group"
                dnd-list="items"
                dnd-drop="dropOnCharacter(index, item)"
            >
                <li
                    ng-class="{ semitransparent : character.invisible }"
                    class="list-group-item"
                    ng-repeat="character in place.characters"
                    dnd-draggable="character"
                    dnd-moved=""
                    ng-click="interactWithUnit(character)"
                >
                    <i class="{{ character.icon }}" style="font-size:25px;"></i>
                    <span ng-bind="character.first_name" class="link"></span>
                </li>
            </ul>
        </div>

        <!-- objects -->
        <div ng-if="place.objects.length > 0" class="panel panel-primary inline-block vertical-align-top">
            <div class="panel-heading">
                <h3 class="panel-title">Objects</h3>
            </div>
            <ul class="list-group">
                <li
                    class="list-group-item link"
                    ng-repeat="object in place.objects"
                    ng-click="interactWithUnit(object)"
                >
                    <span ng-if="object.takeable">
                        <i class="{{ character.icon }}" style="font-size:25px;"></i>
                        <span ng-bind="object.name"></span>
                    </span>
                    <span ng-if="!object.takeable" ng-bind="object.name"></span>
                </li>
            </ul>
        </div>
    </div>

    <!-- place -->
    <h2 ng-bind="place.name"></h2>
    <p ng-bind="place.description"></p>

</div><!-- well -->
